flows_toa.json
[{"id":"91aeb93d.4bcd18","type":"tab","label":"Relays","disabled":false,"info":""},{"id":"82b7c8a6.813558","type":"tab","label":"Sonoff-s26","disabled":false,"info":""},{"id":"64e936ed.b4dab8","type":"tab","label":"System","disabled":false,"info":""},{"id":"5bd4ad60.a13fc4","type":"tab","label":"Consumi","disabled":false,"info":""},{"id":"6fc9c9d6.19f3a8","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"7c9995e1.06280c","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"33ebd1f1.9ba0be","type":"subflow","name":"sonoff2id","info":"","category":"","in":[{"x":375,"y":220,"wires":[{"id":"da137413.ad6e58"}]}],"out":[{"x":810,"y":220,"wires":[{"id":"da137413.ad6e58","port":0}]}],"env":[]},{"id":"b3927b9.29b9988","type":"chatbot-telegram-node","z":"","botname":"Toa","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"a50f0475.5bf6c8","type":"mqtt-broker","z":"","name":"toa","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"443378f1.ca1988","type":"alexa-home-conf","z":"","username":"tanzilli"},{"id":"dfd99ac5.809f88","type":"http request","z":"91aeb93d.4bcd18","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1300,"y":90,"wires":[[]]},{"id":"c93f57a4.81f9c8","type":"mqtt in","z":"91aeb93d.4bcd18","name":"set_value","topic":"toa/lights/+/set_value","qos":"2","datatype":"auto","broker":"a50f0475.5bf6c8","x":835,"y":90,"wires":[["c94d9ef8.f4e09","90789c4a.1fc43"]]},{"id":"7c2d84d6.1a585c","type":"mqtt out","z":"91aeb93d.4bcd18","name":"","topic":"","qos":"","retain":"false","broker":"a50f0475.5bf6c8","x":675,"y":90,"wires":[]},{"id":"c94d9ef8.f4e09","type":"function","z":"91aeb93d.4bcd18","name":"Denkovi gateway","func":"var res = msg.topic.split(\"/\");\nvar msg1={};\n\nlight_id=parseInt(res[2]);\nlight_value=parseInt(msg.payload);\n\nif (light_id>=1 && light_id<=16) {\n\n\n    relay_id=light_id;\n    \n    if (light_value===0)\n        relay_value=0;\n    else    \n        relay_value=1;\n    \n    msg.url = \"http://192.168.1.8:80/current_state.json?pw=admin&Relay\" + relay_id + \"=\" + relay_value;\n\n\n    msg1.topic=\"toa/lights/\" + light_id + \"/current_value\";\n    msg1.payload=light_value;\n\n    return [msg,msg1];\n}  \n","outputs":2,"noerr":0,"x":1080,"y":90,"wires":[["dfd99ac5.809f88"],["4d25b678.7f6958"]]},{"id":"b50501dd.89b3d","type":"rpi-gpio in","z":"91aeb93d.4bcd18","name":"WC uomini","pin":"24","intype":"tri","debounce":"25","read":false,"x":795,"y":1015,"wires":[["30f720ee.05f12"]]},{"id":"f369761d.487ee8","type":"rpi-gpio in","z":"91aeb93d.4bcd18","name":"WC donne","pin":"26","intype":"tri","debounce":"25","read":false,"x":795,"y":1065,"wires":[["3b061ff1.f54b6"]]},{"id":"30f720ee.05f12","type":"function","z":"91aeb93d.4bcd18","name":"","func":"var wc_uomini = flow.get('wc_uomini')||0;\n\nif (msg.payload===0) {\n    if (wc_uomini===0) {\n        msg.topic=\"toa/lights/6/set_value\";\n        msg.payload=1;\n        wc_uomini=1;\n        flow.set('wc_uomini',wc_uomini)\n    } else {\n        msg.topic=\"toa/lights/6/set_value\";\n        msg.payload=0;\n        wc_uomini=0;\n        flow.set('wc_uomini',wc_uomini)\n    }\n} else {\n    msg.payload=null;\n}\n\nreturn msg;    \n\n","outputs":1,"noerr":0,"x":930,"y":1015,"wires":[["ceb06efc.31eda"]]},{"id":"3b061ff1.f54b6","type":"function","z":"91aeb93d.4bcd18","name":"","func":"var wc_donne = flow.get('wc_donne')||0;\n\nif (msg.payload===0) {\n    if (wc_donne===0) {\n        msg.topic=\"toa/lights/7/set_value\";\n        msg.payload=1;\n        wc_donne=1;\n        flow.set('wc_donne',wc_donne)\n    } else {\n        msg.topic=\"toa/lights/7/set_value\";\n        msg.payload=0;\n        wc_donne=0;\n        flow.set('wc_donne',wc_donne)\n    }\n} else {\n    msg.payload=null;\n}\n\nreturn msg;    \n\n","outputs":1,"noerr":0,"x":930,"y":1065,"wires":[["ceb06efc.31eda"]]},{"id":"f2f943c4.860ca","type":"comment","z":"5bd4ad60.a13fc4","name":"Consumi solare","info":"","x":115,"y":605,"wires":[]},{"id":"cd86c1d5.27503","type":"comment","z":"5bd4ad60.a13fc4","name":"Consumi primo piano","info":"","x":135,"y":40,"wires":[]},{"id":"e6924a3e.b33bc8","type":"comment","z":"91aeb93d.4bcd18","name":"Lettura Pulsanti fisici","info":"","x":825,"y":975,"wires":[]},{"id":"d3426ac8.5cae18","type":"mqtt out","z":"6fc9c9d6.19f3a8","name":"","topic":"toa/cm3panel","qos":"","retain":"true","broker":"a50f0475.5bf6c8","x":990,"y":1845,"wires":[]},{"id":"65a962a1.8d07ac","type":"function","z":"6fc9c9d6.19f3a8","name":"Telegram2mqtt","func":"content=msg.payload[\"content\"];\nif (content.charAt(0)!='/') {\n    msg.payload={\"cmd\":\"message\",\"value\":content}\n    node.status({text:content});\n    return msg;\n}    ","outputs":1,"noerr":0,"x":773.9999847412109,"y":1783.9999198913574,"wires":[["d3426ac8.5cae18"]]},{"id":"4d25b678.7f6958","type":"mqtt out","z":"91aeb93d.4bcd18","name":"","topic":"","qos":"","retain":"true","broker":"a50f0475.5bf6c8","x":1279,"y":144,"wires":[]},{"id":"1e8f15bc.ee205a","type":"inject","z":"6fc9c9d6.19f3a8","name":"Welcome message","topic":"","payload":"Benvenuti in Acme Systems","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":570,"y":1845,"wires":[["391bbed6.294dd2"]]},{"id":"391bbed6.294dd2","type":"function","z":"6fc9c9d6.19f3a8","name":"Text to JSON","func":"content=msg.payload;\nmsg.payload={\"cmd\":\"message\",\"value\":content}\nnode.status({text:content});\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":1845,"wires":[["d3426ac8.5cae18"]]},{"id":"89abc75c.f55418","type":"link in","z":"91aeb93d.4bcd18","name":"mqtt_relay","links":["9a5e1d5f.99637","30a554b4.bc666c","eae555d3.bde108","c551a438.7caba8","bb7ecf29.d8d38","4ffd9064.558b","754a9ffd.9e21b","1cf2895b.f07237","435de856.883668","ac9c39e6.ba5218","ceb06efc.31eda","5ff67e50.c8c93","1889247a.4dfd2c","3a1de492.400fac","fafa0ada.7aab98","a5c2793a.539ef8","8759dc81.87d51","fe8971ee.7073c","c8a1cce4.333d2","6c14b9d2.56c738","542c1d8c.e77694","ea12d423.13f4d8","fa8b9631.ebbb48","520ef906.001788","65802cc8.20aa24","903f413f.9a413","8ae668be.d29708","3e2ed8bb.6b0ed8","604379ba.f4def8","f879e544.4e9768","7338bb60.e780a4","cf32b7f2.607618","235900e0.4795f","eb97e0df.bb2ac","19f2d877.e6d778","60b487aa.60aaf8","4ea8c0bc.e3eb1","1b843eda.a77341","6c65cea1.62234","5fe15924.390008","a1751574.266c38","7e56cd6.8de7234","ea076783.e22898","cec01ff7.7a45a","63b22d46.43f644","a8978058.9c73c","92b99414.784b08","d4534815.608fd8"],"x":565,"y":90,"wires":[["7c2d84d6.1a585c"]]},{"id":"ceb06efc.31eda","type":"link out","z":"91aeb93d.4bcd18","name":"","links":["89abc75c.f55418"],"x":1035,"y":1035,"wires":[]},{"id":"1a08f0bb.0cec4f","type":"inject","z":"91aeb93d.4bcd18","name":"All ON","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":805,"y":850,"wires":[["f3142378.5241b"]]},{"id":"9f155897.bc43b8","type":"inject","z":"91aeb93d.4bcd18","name":"All OFF","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":805,"y":885,"wires":[["f3142378.5241b"]]},{"id":"d023f6aa.ac1458","type":"inject","z":"91aeb93d.4bcd18","name":"Init","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"1","x":805,"y":815,"wires":[["f3142378.5241b"]]},{"id":"f3142378.5241b","type":"function","z":"91aeb93d.4bcd18","name":"LightInit","func":"var light_state = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\nvar outputMsgs = [];\n\nfor (i=0;i<light_state.length;i++) {\n    light_state[i]=msg.payload;\n}\n\nglobal.set('light_state',light_state);\n\nfor (i=0;i<light_state.length;i++) {\n    light_id=i+1;\n    outputMsgs.push({payload:light_state[i],topic:\"toa/lights/\" + light_id + \"/set_value\"});\n}\nreturn [outputMsgs];\n","outputs":1,"noerr":0,"x":985,"y":850,"wires":[["eff8ab99.aee728"]]},{"id":"eff8ab99.aee728","type":"mqtt out","z":"91aeb93d.4bcd18","name":"","topic":"","qos":"","retain":"","broker":"a50f0475.5bf6c8","x":1150,"y":850,"wires":[]},{"id":"fccfbdc0.49a71","type":"inject","z":"64e936ed.b4dab8","name":"Restart Chromium","topic":"","payload":"sudo systemctl restart chromium","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":175,"y":215,"wires":[["d4257a58.95e568"]]},{"id":"d4257a58.95e568","type":"mqtt out","z":"64e936ed.b4dab8","name":"","topic":"toa/cm3shell","qos":"","retain":"","broker":"a50f0475.5bf6c8","x":470,"y":200,"wires":[]},{"id":"2f75fb1b.3c8b14","type":"inject","z":"64e936ed.b4dab8","name":"Reboot","topic":"","payload":"sudo reboot","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":175,"wires":[["d4257a58.95e568"]]},{"id":"f0d2fe17.1332e","type":"inject","z":"64e936ed.b4dab8","name":"Halt","topic":"","payload":"sudo halt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":135,"wires":[["d4257a58.95e568"]]},{"id":"4472e577.13eb3c","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 2","topic":"sonoff-s26/002/cmnd/POWER","qos":"0","retain":"false","broker":"a50f0475.5bf6c8","x":835,"y":155,"wires":[]},{"id":"a3c1be6e.05957","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 2","topic":"sonoff-s26/003/cmnd/POWER","qos":"0","retain":"false","broker":"a50f0475.5bf6c8","x":835,"y":215,"wires":[]},{"id":"619ee10c.f9f4e","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 1","topic":"sonoff-s26/001/cmnd/POWER","qos":"0","retain":"false","broker":"a50f0475.5bf6c8","x":835,"y":95,"wires":[]},{"id":"40d958d.a14a1a8","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 4","topic":"sonoff-s26/004/cmnd/POWER","qos":"0","retain":"","broker":"a50f0475.5bf6c8","x":835,"y":280,"wires":[]},{"id":"c9604d2.fdef2b","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 5","topic":"sonoff-s26/005/cmnd/POWER","qos":"0","retain":"false","broker":"a50f0475.5bf6c8","x":835,"y":335,"wires":[]},{"id":"65fdb8db.665dd8","type":"inject","z":"82b7c8a6.813558","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":455,"y":1625,"wires":[["1e1a901f.2fbd"]]},{"id":"9129b9f0.f338e8","type":"link in","z":"82b7c8a6.813558","name":"p1","links":["1e1a901f.2fbd","59b966e4.36cf78","6ed97fcf.69671","f2e86ad1.6642e8"],"x":725,"y":95,"wires":[["619ee10c.f9f4e"]]},{"id":"1105c9cc.925f86","type":"link in","z":"82b7c8a6.813558","name":"p2","links":["7531ac05.da3114","1e1a901f.2fbd","36eb1659.1d97ca","eb5cf121.1ce2e","59b966e4.36cf78","2d318eee.4186a2"],"x":725,"y":155,"wires":[["4472e577.13eb3c"]]},{"id":"da5780b5.1d09b","type":"link in","z":"82b7c8a6.813558","name":"p3","links":["e849a56b.3fc218","1e1a901f.2fbd","36eb1659.1d97ca","83ea2559.2d0f58","59b966e4.36cf78","2d318eee.4186a2"],"x":725,"y":215,"wires":[["a3c1be6e.05957"]]},{"id":"b38ee6f2.060538","type":"link in","z":"82b7c8a6.813558","name":"p4","links":["e4f28175.58895","1e1a901f.2fbd","36eb1659.1d97ca","b9de4741.1bc258","59b966e4.36cf78","2d318eee.4186a2"],"x":725,"y":280,"wires":[["40d958d.a14a1a8"]]},{"id":"a2b29597.34db88","type":"link in","z":"82b7c8a6.813558","name":"p5","links":["9596bf02.00b9d","1e1a901f.2fbd","36eb1659.1d97ca","a3da1be3.0d2fb8","59b966e4.36cf78","2d318eee.4186a2"],"x":725,"y":335,"wires":[["c9604d2.fdef2b"]]},{"id":"1e1a901f.2fbd","type":"link out","z":"82b7c8a6.813558","name":"","links":["b38ee6f2.060538","a2b29597.34db88","9129b9f0.f338e8","da5780b5.1d09b","1105c9cc.925f86","aa76a8f.d822a58","ed539458.f00c08","6815c32b.d079ec","2457da9e.ddd1f6","29ed5d56.01a952","86fe28e9.5612a8","b4b7366b.881e08","d0149044.f5e2a","1fe296f3.18d429","c265b21c.49d35","846d01fb.2e92a","ddae55eb.5e7fa8","30625da5.abed52","c28c4d15.b1d67","696d329b.ff5fac","14571254.4570ce","bf3b400c.2906d","922a479c.925668","9c36d3e8.d85ab","84c8634f.41c06"],"x":550,"y":1655,"wires":[]},{"id":"58c693c9.84c98c","type":"inject","z":"82b7c8a6.813558","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":455,"y":1670,"wires":[["1e1a901f.2fbd"]]},{"id":"1510baa8.842355","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 6","topic":"sonoff-s26/006/cmnd/POWER","qos":"0","retain":"false","broker":"a50f0475.5bf6c8","x":830,"y":395,"wires":[]},{"id":"aa76a8f.d822a58","type":"link in","z":"82b7c8a6.813558","name":"p6","links":["cede38b4.36f4d8","1e1a901f.2fbd","36eb1659.1d97ca","29092466.f1e2ac","59b966e4.36cf78","2d318eee.4186a2"],"x":720,"y":395,"wires":[["1510baa8.842355"]]},{"id":"cb9a31a8.90428","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 7","topic":"sonoff-s26/007/cmnd/POWER","qos":"0","retain":"false","broker":"a50f0475.5bf6c8","x":830,"y":455,"wires":[]},{"id":"ed539458.f00c08","type":"link in","z":"82b7c8a6.813558","name":"p7","links":["3a1d21f0.c92dde","1e1a901f.2fbd","36eb1659.1d97ca","d4f9d6bc.805ed8","59b966e4.36cf78","6ed97fcf.69671"],"x":720,"y":455,"wires":[["cb9a31a8.90428"]]},{"id":"10da6e6d.16d712","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 8","topic":"sonoff-s26/008/cmnd/POWER","qos":"0","retain":"false","broker":"a50f0475.5bf6c8","x":830,"y":515,"wires":[]},{"id":"6815c32b.d079ec","type":"link in","z":"82b7c8a6.813558","name":"p8","links":["75036d9.b337194","1e1a901f.2fbd","36eb1659.1d97ca","a1876ab9.4e45e8","59b966e4.36cf78","deec2955.ec65a8"],"x":720,"y":515,"wires":[["10da6e6d.16d712"]]},{"id":"34338f8.161057","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 9","topic":"sonoff-s26/009/cmnd/POWER","qos":"1","retain":"false","broker":"a50f0475.5bf6c8","x":830,"y":575,"wires":[]},{"id":"2457da9e.ddd1f6","type":"link in","z":"82b7c8a6.813558","name":"p9","links":["7f34ee2b.e4f47","1e1a901f.2fbd","36eb1659.1d97ca","9e5045d6.bf3638","59b966e4.36cf78","7d0a80cb.9ca33"],"x":720,"y":575,"wires":[["34338f8.161057"]]},{"id":"a72f0d00.d0cac","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 10","topic":"sonoff-s26/010/cmnd/POWER","qos":"1","retain":"false","broker":"a50f0475.5bf6c8","x":830,"y":635,"wires":[]},{"id":"29ed5d56.01a952","type":"link in","z":"82b7c8a6.813558","name":"p10","links":["1e1a901f.2fbd","ed439b4e.545618","36eb1659.1d97ca","9122755e.596978","59b966e4.36cf78","2d318eee.4186a2"],"x":720,"y":635,"wires":[["a72f0d00.d0cac"]]},{"id":"db7d84ab.a3a998","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 11","topic":"sonoff-s26/011/cmnd/POWER","qos":"1","retain":"false","broker":"a50f0475.5bf6c8","x":830,"y":695,"wires":[]},{"id":"86fe28e9.5612a8","type":"link in","z":"82b7c8a6.813558","name":"p11","links":["726d0d64.4f3504","1e1a901f.2fbd","36eb1659.1d97ca","50157abf.7e85d4","59b966e4.36cf78","6ed97fcf.69671"],"x":720,"y":695,"wires":[["db7d84ab.a3a998"]]},{"id":"7d734b5.a194eb4","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 12","topic":"sonoff-s26/012/cmnd/POWER","qos":"1","retain":"false","broker":"a50f0475.5bf6c8","x":830,"y":755,"wires":[]},{"id":"b4b7366b.881e08","type":"link in","z":"82b7c8a6.813558","name":"p12","links":["1e1a901f.2fbd","f208c4e2.f63fb8","36eb1659.1d97ca","65f0d34a.29876c","59b966e4.36cf78","2d318eee.4186a2"],"x":720,"y":755,"wires":[["7d734b5.a194eb4"]]},{"id":"13740bb7.945c84","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"pid=msg.payload.substring(5,8);\nmsg.topic=\"sonoff-s26/\" + pid + \"/cmnd/POWER\";\nmsg.payload=\"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":120,"wires":[["a427402b.c6ecc"]]},{"id":"8930b9ce.1f3768","type":"function","z":"6fc9c9d6.19f3a8","name":"Filtro utenti","func":"\nif (msg.payload[\"chatId\"]===112957351 || msg.payload[\"chatId\"]===77690704 ) {\n    node.status({fill:\"green\",shape:\"dot\",text:msg.payload[\"userId\"]});\n    return [msg,null];\n} else {\n    node.status({fill:\"red\",shape:\"dot\",text:msg.payload[\"userId\"]});\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"x":370,"y":155,"wires":[["c0b6a8cb.27d9b8","1fd9889e.9f6007"],[]]},{"id":"f2e86ad1.6642e8","type":"link out","z":"82b7c8a6.813558","name":"","links":["9129b9f0.f338e8"],"x":570,"y":95,"wires":[]},{"id":"eb5cf121.1ce2e","type":"link out","z":"82b7c8a6.813558","name":"","links":["1105c9cc.925f86"],"x":570,"y":155,"wires":[]},{"id":"b9de4741.1bc258","type":"link out","z":"82b7c8a6.813558","name":"","links":["b38ee6f2.060538"],"x":570,"y":280,"wires":[]},{"id":"a3da1be3.0d2fb8","type":"link out","z":"82b7c8a6.813558","name":"","links":["a2b29597.34db88"],"x":570,"y":335,"wires":[]},{"id":"29092466.f1e2ac","type":"link out","z":"82b7c8a6.813558","name":"","links":["aa76a8f.d822a58"],"x":570,"y":395,"wires":[]},{"id":"d4f9d6bc.805ed8","type":"link out","z":"82b7c8a6.813558","name":"","links":["ed539458.f00c08"],"x":570,"y":455,"wires":[]},{"id":"a1876ab9.4e45e8","type":"link out","z":"82b7c8a6.813558","name":"","links":["6815c32b.d079ec"],"x":570,"y":515,"wires":[]},{"id":"9e5045d6.bf3638","type":"link out","z":"82b7c8a6.813558","name":"","links":["2457da9e.ddd1f6"],"x":570,"y":575,"wires":[]},{"id":"9122755e.596978","type":"link out","z":"82b7c8a6.813558","name":"","links":["29ed5d56.01a952"],"x":570,"y":640,"wires":[]},{"id":"50157abf.7e85d4","type":"link out","z":"82b7c8a6.813558","name":"","links":["86fe28e9.5612a8"],"x":570,"y":700,"wires":[]},{"id":"65f0d34a.29876c","type":"link out","z":"82b7c8a6.813558","name":"","links":["b4b7366b.881e08"],"x":570,"y":760,"wires":[]},{"id":"d51ddfc2.1bbbd","type":"link out","z":"82b7c8a6.813558","name":"","links":["d0149044.f5e2a"],"x":570,"y":820,"wires":[]},{"id":"276bcd2f.e5c7f2","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 13","topic":"sonoff-s26/013/cmnd/POWER","qos":"1","retain":"false","broker":"a50f0475.5bf6c8","x":830,"y":815,"wires":[]},{"id":"d0149044.f5e2a","type":"link in","z":"82b7c8a6.813558","name":"p13","links":["36eb1659.1d97ca","d51ddfc2.1bbbd","1e1a901f.2fbd","59b966e4.36cf78","a64995b4.063488"],"x":720,"y":815,"wires":[["276bcd2f.e5c7f2"]]},{"id":"b6ea6e83.73a65","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 14","topic":"sonoff-s26/014/cmnd/POWER","qos":"1","retain":"false","broker":"a50f0475.5bf6c8","x":830,"y":875,"wires":[]},{"id":"1fe296f3.18d429","type":"link in","z":"82b7c8a6.813558","name":"p14","links":["36eb1659.1d97ca","1e1a901f.2fbd","6ad5d188.50251","59b966e4.36cf78","deec2955.ec65a8"],"x":720,"y":875,"wires":[["b6ea6e83.73a65"]]},{"id":"6ad5d188.50251","type":"link out","z":"82b7c8a6.813558","name":"","links":["1fe296f3.18d429"],"x":570,"y":880,"wires":[]},{"id":"f369cf4.f48b63","type":"link out","z":"82b7c8a6.813558","name":"","links":["c265b21c.49d35"],"x":570,"y":935,"wires":[]},{"id":"69eb1018.a6f42","type":"link out","z":"82b7c8a6.813558","name":"","links":["846d01fb.2e92a"],"x":570,"y":1000,"wires":[]},{"id":"f16df52f.6f2768","type":"link out","z":"82b7c8a6.813558","name":"","links":["ddae55eb.5e7fa8"],"x":570,"y":1060,"wires":[]},{"id":"f6bba0dc.83578","type":"link out","z":"82b7c8a6.813558","name":"","links":["30625da5.abed52"],"x":565,"y":1125,"wires":[]},{"id":"3ad8687a.e1a448","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 15","topic":"sonoff-s26/015/cmnd/POWER","qos":"1","retain":"false","broker":"a50f0475.5bf6c8","x":830,"y":935,"wires":[]},{"id":"c265b21c.49d35","type":"link in","z":"82b7c8a6.813558","name":"p15","links":["36eb1659.1d97ca","f369cf4.f48b63","1e1a901f.2fbd","59b966e4.36cf78","deec2955.ec65a8"],"x":720,"y":935,"wires":[["3ad8687a.e1a448"]]},{"id":"bb51f088.1d5b2","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 16","topic":"sonoff-s26/016/cmnd/POWER","qos":"1","retain":"false","broker":"a50f0475.5bf6c8","x":825,"y":1000,"wires":[]},{"id":"846d01fb.2e92a","type":"link in","z":"82b7c8a6.813558","name":"p16","links":["36eb1659.1d97ca","69eb1018.a6f42","1e1a901f.2fbd","59b966e4.36cf78","deec2955.ec65a8"],"x":715,"y":1000,"wires":[["bb51f088.1d5b2"]]},{"id":"ac5d5727.171668","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 17","topic":"sonoff-s26/017/cmnd/POWER","qos":"2","retain":"false","broker":"a50f0475.5bf6c8","x":825,"y":1060,"wires":[]},{"id":"ddae55eb.5e7fa8","type":"link in","z":"82b7c8a6.813558","name":"p17","links":["36eb1659.1d97ca","f16df52f.6f2768","1e1a901f.2fbd","59b966e4.36cf78","6ed97fcf.69671"],"x":715,"y":1060,"wires":[["ac5d5727.171668"]]},{"id":"3fa25e9d.6326d2","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 18","topic":"sonoff-s26/018/cmnd/POWER","qos":"2","retain":"false","broker":"a50f0475.5bf6c8","x":825,"y":1120,"wires":[]},{"id":"30625da5.abed52","type":"link in","z":"82b7c8a6.813558","name":"p18","links":["36eb1659.1d97ca","f6bba0dc.83578","1e1a901f.2fbd","59b966e4.36cf78","deec2955.ec65a8"],"x":715,"y":1120,"wires":[["3fa25e9d.6326d2"]]},{"id":"c5030d0c.175bd","type":"link out","z":"82b7c8a6.813558","name":"","links":["c28c4d15.b1d67"],"x":565,"y":1180,"wires":[]},{"id":"8d355544.161c18","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 19","topic":"sonoff-s26/019/cmnd/POWER","qos":"2","retain":"false","broker":"a50f0475.5bf6c8","x":825,"y":1175,"wires":[]},{"id":"c28c4d15.b1d67","type":"link in","z":"82b7c8a6.813558","name":"p19","links":["36eb1659.1d97ca","c5030d0c.175bd","1e1a901f.2fbd","59b966e4.36cf78","2d318eee.4186a2"],"x":715,"y":1175,"wires":[["8d355544.161c18"]]},{"id":"f00ac17f.77f2c","type":"link out","z":"82b7c8a6.813558","name":"","links":["696d329b.ff5fac"],"x":565,"y":1240,"wires":[]},{"id":"d4d387cc.d55228","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 20","topic":"sonoff-s26/020/cmnd/POWER","qos":"2","retain":"false","broker":"a50f0475.5bf6c8","x":825,"y":1235,"wires":[]},{"id":"696d329b.ff5fac","type":"link in","z":"82b7c8a6.813558","name":"p20","links":["36eb1659.1d97ca","f00ac17f.77f2c","1e1a901f.2fbd","59b966e4.36cf78","6ed97fcf.69671"],"x":715,"y":1235,"wires":[["d4d387cc.d55228"]]},{"id":"5496ddd2.fbd5a4","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 21","topic":"sonoff-s26/021/cmnd/POWER","qos":"2","retain":"false","broker":"a50f0475.5bf6c8","x":825,"y":1295,"wires":[]},{"id":"14571254.4570ce","type":"link in","z":"82b7c8a6.813558","name":"p21","links":["36eb1659.1d97ca","d3f22126.93ab6","1e1a901f.2fbd","59b966e4.36cf78","6ed97fcf.69671"],"x":715,"y":1295,"wires":[["5496ddd2.fbd5a4"]]},{"id":"d3f22126.93ab6","type":"link out","z":"82b7c8a6.813558","name":"","links":["14571254.4570ce"],"x":565,"y":1300,"wires":[]},{"id":"693d1d5d.c75e74","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 22","topic":"sonoff-s26/022/cmnd/POWER","qos":"2","retain":"false","broker":"a50f0475.5bf6c8","x":825,"y":1355,"wires":[]},{"id":"bf3b400c.2906d","type":"link in","z":"82b7c8a6.813558","name":"p22","links":["cb95ec3b.5c1e9","36eb1659.1d97ca","1e1a901f.2fbd","59b966e4.36cf78","6ed97fcf.69671"],"x":715,"y":1355,"wires":[["693d1d5d.c75e74"]]},{"id":"cb95ec3b.5c1e9","type":"link out","z":"82b7c8a6.813558","name":"","links":["bf3b400c.2906d"],"x":560,"y":1365,"wires":[]},{"id":"97adc5c6.6ef958","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 23","topic":"sonoff-s26/023/cmnd/POWER","qos":"2","retain":"false","broker":"a50f0475.5bf6c8","x":825,"y":1415,"wires":[]},{"id":"922a479c.925668","type":"link in","z":"82b7c8a6.813558","name":"p23","links":["6a29b4df.f23f0c","36eb1659.1d97ca","1e1a901f.2fbd","59b966e4.36cf78","2d318eee.4186a2"],"x":715,"y":1415,"wires":[["97adc5c6.6ef958"]]},{"id":"6a29b4df.f23f0c","type":"link out","z":"82b7c8a6.813558","name":"","links":["922a479c.925668"],"x":565,"y":1420,"wires":[]},{"id":"2251bf5.4b0434","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 24","topic":"sonoff-s26/024/cmnd/POWER","qos":"2","retain":"false","broker":"a50f0475.5bf6c8","x":825,"y":1475,"wires":[]},{"id":"9c36d3e8.d85ab","type":"link in","z":"82b7c8a6.813558","name":"p24","links":["53f10d9c.712444","36eb1659.1d97ca","1e1a901f.2fbd","59b966e4.36cf78","6ed97fcf.69671"],"x":715,"y":1475,"wires":[["2251bf5.4b0434"]]},{"id":"53f10d9c.712444","type":"link out","z":"82b7c8a6.813558","name":"","links":["9c36d3e8.d85ab"],"x":565,"y":1480,"wires":[]},{"id":"705a3b7f.caabb4","type":"mqtt out","z":"82b7c8a6.813558","name":"Sonoff 25","topic":"sonoff-s26/025/cmnd/POWER","qos":"2","retain":"false","broker":"a50f0475.5bf6c8","x":825,"y":1535,"wires":[]},{"id":"84c8634f.41c06","type":"link in","z":"82b7c8a6.813558","name":"p25","links":["36eb1659.1d97ca","9b4dfee0.246b","1e1a901f.2fbd","59b966e4.36cf78","6ed97fcf.69671"],"x":715,"y":1535,"wires":[["705a3b7f.caabb4"]]},{"id":"9b4dfee0.246b","type":"link out","z":"82b7c8a6.813558","name":"","links":["84c8634f.41c06"],"x":565,"y":1540,"wires":[]},{"id":"a427402b.c6ecc","type":"mqtt out","z":"6fc9c9d6.19f3a8","name":"MQTT Sonoff","topic":"","qos":"0","retain":"false","broker":"a50f0475.5bf6c8","x":1195,"y":150,"wires":[]},{"id":"4b162a31.d38b34","type":"switch","z":"6fc9c9d6.19f3a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"/P-1-","vt":"str"},{"t":"cont","v":"/P-0-","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":745,"y":160,"wires":[["13740bb7.945c84"],["d8df2670.0398c8"]]},{"id":"d8df2670.0398c8","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"pid=msg.payload.substring(5,8);\nmsg.topic=\"sonoff-s26/\" + pid + \"/cmnd/POWER\";\nmsg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":175,"wires":[["a427402b.c6ecc"]]},{"id":"e335fc4b.a1ea8","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=\"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":975,"y":225,"wires":[["59b966e4.36cf78"]]},{"id":"430ca797.4610e8","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":975,"y":265,"wires":[["59b966e4.36cf78"]]},{"id":"59b966e4.36cf78","type":"link out","z":"6fc9c9d6.19f3a8","name":"","links":["30625da5.abed52","b4b7366b.881e08","1fe296f3.18d429","ed539458.f00c08","ddae55eb.5e7fa8","b38ee6f2.060538","2457da9e.ddd1f6","c265b21c.49d35","696d329b.ff5fac","bf3b400c.2906d","d0149044.f5e2a","846d01fb.2e92a","6815c32b.d079ec","9c36d3e8.d85ab","29ed5d56.01a952","a2b29597.34db88","9129b9f0.f338e8","c28c4d15.b1d67","86fe28e9.5612a8","da5780b5.1d09b","1105c9cc.925f86","84c8634f.41c06","aa76a8f.d822a58","14571254.4570ce","922a479c.925668"],"x":1105,"y":245,"wires":[]},{"id":"c42a6331.91f4f","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=\"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":975,"y":315,"wires":[["6ed97fcf.69671"]]},{"id":"bf5e3a9b.7ea418","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":975,"y":355,"wires":[["6ed97fcf.69671"]]},{"id":"6ed97fcf.69671","type":"link out","z":"6fc9c9d6.19f3a8","name":"","links":["ed539458.f00c08","ddae55eb.5e7fa8","696d329b.ff5fac","bf3b400c.2906d","9c36d3e8.d85ab","9129b9f0.f338e8","86fe28e9.5612a8","84c8634f.41c06","14571254.4570ce"],"x":1105,"y":335,"wires":[]},{"id":"cac00305.c4b6","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=\"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":975,"y":405,"wires":[["deec2955.ec65a8"]]},{"id":"7b2e9b7e.188604","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":975,"y":445,"wires":[["deec2955.ec65a8"]]},{"id":"deec2955.ec65a8","type":"link out","z":"6fc9c9d6.19f3a8","name":"","links":["30625da5.abed52","1fe296f3.18d429","c265b21c.49d35","846d01fb.2e92a","6815c32b.d079ec"],"x":1105,"y":425,"wires":[]},{"id":"c0b6a8cb.27d9b8","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=msg.payload[\"content\"];\nreturn msg;","outputs":1,"noerr":0,"x":565,"y":160,"wires":[["4b162a31.d38b34"]]},{"id":"f4bb1bd5.ce6f88","type":"mqtt out","z":"6fc9c9d6.19f3a8","name":"Scala","topic":"toa/lights/3/set_value","qos":"","retain":"","broker":"a50f0475.5bf6c8","x":1490,"y":150,"wires":[]},{"id":"4de9dfd2.5569a","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":785,"wires":[["bdb2fab7.65db38"]]},{"id":"348ddbda.0c1774","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":825,"wires":[["bdb2fab7.65db38"]]},{"id":"d2ae9557.c2ad28","type":"link in","z":"6fc9c9d6.19f3a8","name":"l3","links":["bdb2fab7.65db38"],"x":1370,"y":150,"wires":[["f4bb1bd5.ce6f88"]]},{"id":"bdb2fab7.65db38","type":"link out","z":"6fc9c9d6.19f3a8","name":"","links":["d2ae9557.c2ad28"],"x":1110,"y":805,"wires":[]},{"id":"e31adf63.f659f","type":"mqtt out","z":"6fc9c9d6.19f3a8","name":"Sala","topic":"toa/lights/10/set_value","qos":"","retain":"","broker":"a50f0475.5bf6c8","x":1490,"y":195,"wires":[]},{"id":"7b32025.85d58fc","type":"link in","z":"6fc9c9d6.19f3a8","name":"l10","links":["7666d0d9.9e38d"],"x":1370,"y":195,"wires":[["e31adf63.f659f"]]},{"id":"3b1493c0.3f28bc","type":"mqtt out","z":"6fc9c9d6.19f3a8","name":"Cucina","topic":"toa/lights/11/set_value","qos":"","retain":"","broker":"a50f0475.5bf6c8","x":1500,"y":240,"wires":[]},{"id":"43da94ff.b697dc","type":"mqtt out","z":"6fc9c9d6.19f3a8","name":"Uffici","topic":"toa/lights/12/set_value","qos":"","retain":"","broker":"a50f0475.5bf6c8","x":1490,"y":285,"wires":[]},{"id":"abf743a6.c6f9e","type":"link in","z":"6fc9c9d6.19f3a8","name":"l11","links":["54481e2e.fc2e2"],"x":1370,"y":240,"wires":[["3b1493c0.3f28bc"]]},{"id":"20871392.34dacc","type":"link in","z":"6fc9c9d6.19f3a8","name":"l12","links":["ad1f69e9.64e6c8"],"x":1370,"y":285,"wires":[["43da94ff.b697dc"]]},{"id":"949a41be.e07f6","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":870,"wires":[["7666d0d9.9e38d"]]},{"id":"8e76d3e8.04be1","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":910,"wires":[["7666d0d9.9e38d"]]},{"id":"7666d0d9.9e38d","type":"link out","z":"6fc9c9d6.19f3a8","name":"","links":["7b32025.85d58fc"],"x":1110,"y":890,"wires":[]},{"id":"40645247.204ffc","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":950,"wires":[["54481e2e.fc2e2"]]},{"id":"30456f9.facc29","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":990,"wires":[["54481e2e.fc2e2"]]},{"id":"54481e2e.fc2e2","type":"link out","z":"6fc9c9d6.19f3a8","name":"","links":["abf743a6.c6f9e"],"x":1110,"y":970,"wires":[]},{"id":"43a8e468.05583c","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1035,"wires":[["ad1f69e9.64e6c8"]]},{"id":"1a3ea25e.3b15ae","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1075,"wires":[["ad1f69e9.64e6c8"]]},{"id":"ad1f69e9.64e6c8","type":"link out","z":"6fc9c9d6.19f3a8","name":"","links":["20871392.34dacc"],"x":1115,"y":1055,"wires":[]},{"id":"67a0a5b9.87e6bc","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1115,"wires":[["d92053db.59c3"]]},{"id":"53199d87.459ea4","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1155,"wires":[["d92053db.59c3"]]},{"id":"d92053db.59c3","type":"link out","z":"6fc9c9d6.19f3a8","name":"","links":["2392fdaa.33b652"],"x":1115,"y":1135,"wires":[]},{"id":"2e197149.13dafe","type":"mqtt out","z":"6fc9c9d6.19f3a8","name":"WC donne","topic":"toa/lights/7/set_value","qos":"","retain":"","broker":"a50f0475.5bf6c8","x":1510,"y":335,"wires":[]},{"id":"2392fdaa.33b652","type":"link in","z":"6fc9c9d6.19f3a8","name":"l7","links":["d92053db.59c3"],"x":1370,"y":335,"wires":[["2e197149.13dafe"]]},{"id":"8b97b9e2.b24c58","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1195,"wires":[["32567f88.fd8a2"]]},{"id":"7dd64d04.b924d4","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1235,"wires":[["32567f88.fd8a2"]]},{"id":"32567f88.fd8a2","type":"link out","z":"6fc9c9d6.19f3a8","name":"","links":["367ab7c7.4e50b8"],"x":1115,"y":1215,"wires":[]},{"id":"e76ec751.f63558","type":"mqtt out","z":"6fc9c9d6.19f3a8","name":"WC uomini","topic":"toa/lights/6/set_value","qos":"","retain":"","broker":"a50f0475.5bf6c8","x":1510,"y":385,"wires":[]},{"id":"367ab7c7.4e50b8","type":"link in","z":"6fc9c9d6.19f3a8","name":"l6","links":["32567f88.fd8a2"],"x":1370,"y":385,"wires":[["e76ec751.f63558"]]},{"id":"6d620bb3.6591c4","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=\"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":590,"wires":[["7d0a80cb.9ca33"]]},{"id":"34ff82ec.93e34e","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":630,"wires":[["7d0a80cb.9ca33"]]},{"id":"7d0a80cb.9ca33","type":"link out","z":"6fc9c9d6.19f3a8","name":"","links":["2457da9e.ddd1f6"],"x":1110,"y":610,"wires":[]},{"id":"d82bf9f4.f7e448","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=\"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":670,"wires":[["a64995b4.063488"]]},{"id":"f74fa94f.713a48","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":710,"wires":[["a64995b4.063488"]]},{"id":"a64995b4.063488","type":"link out","z":"6fc9c9d6.19f3a8","name":"","links":["d0149044.f5e2a"],"x":1110,"y":690,"wires":[]},{"id":"1fd9889e.9f6007","type":"link out","z":"6fc9c9d6.19f3a8","name":"telegram_incoming","links":["1531eb5a.2e2385","6c66c0cd.b0e63","1e6bcacf.5b5005","da3c3150.87c87","a7abe0c8.5146a","f08fb51a.402518","d074b70e.d11e38","575600f0.02cf6","f668f6e2.9d9c08","62b28387.b597cc","f4b74cc0.e6305","1fcba514.7c772b","8ddd20cd.b59c2","da60c891.11a7f8","de46cf14.17d27","b7f2bd67.f17ec","bd1e05a9.976848","92662331.82d72","420da8db.a92608","d57e620a.55852","9d584214.ba2e5","7f30846e.adcffc","b7dbb0ab.ae344","f1250673.ab88c8","191f02c0.aa0f3d","a90ae482.b81db8","b2b4492b.7a6c28","8c208e15.5cbc5","1b30e775.283d59","2d96a563.c7f42a","edb917ad.0ac028","f4b486fe.31d7e8","c6da529e.2cc07","2e4773d7.86b17c","18987f02.8472a1"],"x":460,"y":700,"wires":[]},{"id":"1531eb5a.2e2385","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":655,"y":225,"wires":[["1e28291c.a4b0f7"]]},{"id":"6c66c0cd.b0e63","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":655,"y":265,"wires":[["6b7d912d.54f8"]]},{"id":"1e6bcacf.5b5005","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":655,"y":315,"wires":[["5382440.1697dbc"]]},{"id":"da3c3150.87c87","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":655,"y":355,"wires":[["36eb21f0.bb218e"]]},{"id":"a7abe0c8.5146a","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":655,"y":405,"wires":[["a8bd9c4e.148c3"]]},{"id":"f08fb51a.402518","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":655,"y":445,"wires":[["f2720db.a5f60f"]]},{"id":"d074b70e.d11e38","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":660,"y":590,"wires":[["1bad7bbc.2d3e84"]]},{"id":"575600f0.02cf6","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":660,"y":630,"wires":[["2c79d8b6.40ada8"]]},{"id":"f668f6e2.9d9c08","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":660,"y":670,"wires":[["5f49602e.19447"]]},{"id":"62b28387.b597cc","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":660,"y":710,"wires":[["88d03c1f.dcfc4"]]},{"id":"f4b74cc0.e6305","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":665,"y":785,"wires":[["30fc1e0a.b27232"]]},{"id":"1fcba514.7c772b","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":665,"y":825,"wires":[["95c43aa3.70f668"]]},{"id":"8ddd20cd.b59c2","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":665,"y":870,"wires":[["a285de54.4911c"]]},{"id":"da60c891.11a7f8","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":665,"y":910,"wires":[["e92536d6.664f38"]]},{"id":"de46cf14.17d27","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":665,"y":950,"wires":[["5c4aea9d.684ee4"]]},{"id":"b7f2bd67.f17ec","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":665,"y":990,"wires":[["3f1ed351.bd8ecc"]]},{"id":"bd1e05a9.976848","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":665,"y":1035,"wires":[["730aaa1.f262d54"]]},{"id":"92662331.82d72","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":665,"y":1075,"wires":[["773cf649.1199f8"]]},{"id":"420da8db.a92608","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":665,"y":1115,"wires":[["4c2217f6.baedd8"]]},{"id":"d57e620a.55852","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":665,"y":1155,"wires":[["f7f52c2d.98504"]]},{"id":"9d584214.ba2e5","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":665,"y":1195,"wires":[["ed38007.a140d"]]},{"id":"7f30846e.adcffc","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":665,"y":1235,"wires":[["745af6b2.c2e078"]]},{"id":"b7dbb0ab.ae344","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":465,"y":1570,"wires":[["164f2814.7f2598"]]},{"id":"f1250673.ab88c8","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":465,"y":1610,"wires":[["f7be134f.c367c"]]},{"id":"191f02c0.aa0f3d","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":465,"y":1650,"wires":[["a4197d96.66322"]]},{"id":"a90ae482.b81db8","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":465,"y":1690,"wires":[["69af3d72.0c9b84"]]},{"id":"e9e7e6b3.fac968","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"var solare = global.get('consumi_solare')||0;\nvar enel = global.get('consumi_enel')||0;\nvar piano_terra = global.get('consumi_piano_terra')||0;\nvar primo_piano = global.get('consumi_primo_piano')||0;\n\nmsg.payload[\"content\"] = \"Solare \" + solare.toFixed(2) + \"\\n\" + \"Enel \" + enel.toFixed(2)  + \"\\n\" + \"Piano terra \" + piano_terra.toFixed(2)  + \"\\n\" + \"Primo piano \" + primo_piano.toFixed(2);\nnode.status({fill:\"green\",shape:\"dot\",text:enel});\nreturn msg;\n","outputs":1,"noerr":0,"x":917,"y":1471,"wires":[["8dac9427.4821e8"]]},{"id":"b2b4492b.7a6c28","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":677,"y":1471,"wires":[["4e519683.debbe8"]]},{"id":"8cbc1a36.1b7b08","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=\"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":975,"y":490,"wires":[["2d318eee.4186a2"]]},{"id":"ab652dae.ca514","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":975,"y":530,"wires":[["2d318eee.4186a2"]]},{"id":"2d318eee.4186a2","type":"link out","z":"6fc9c9d6.19f3a8","name":"","links":["b4b7366b.881e08","b38ee6f2.060538","29ed5d56.01a952","a2b29597.34db88","c28c4d15.b1d67","da5780b5.1d09b","1105c9cc.925f86","aa76a8f.d822a58","922a479c.925668"],"x":1105,"y":510,"wires":[]},{"id":"8c208e15.5cbc5","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":655,"y":490,"wires":[["24dc03b1.4e687c"]]},{"id":"1b30e775.283d59","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":655,"y":530,"wires":[["f0e3d2b1.165a7"]]},{"id":"f1e59ccd.f996a","type":"debug","z":"6fc9c9d6.19f3a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":335,"y":340,"wires":[]},{"id":"399c8fa7.5966","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/10/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":765,"wires":[["6c14b9d2.56c738"]]},{"id":"1f704fae.f3019","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/10/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":800,"wires":[["6c14b9d2.56c738"]]},{"id":"9935fd80.1926","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":85,"wires":[["f2e86ad1.6642e8"]]},{"id":"611b2dcf.5c9d04","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":110,"wires":[["f2e86ad1.6642e8"]]},{"id":"b6b3949d.83bca8","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":145,"wires":[["eb5cf121.1ce2e"]]},{"id":"9f53ee92.57248","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":170,"wires":[["eb5cf121.1ce2e"]]},{"id":"c4d3a1da.a2ca6","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":205,"wires":[["83ea2559.2d0f58"]]},{"id":"d4984b1e.5bbaf8","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":230,"wires":[["83ea2559.2d0f58"]]},{"id":"9083833.7ead88","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":265,"wires":[["b9de4741.1bc258"]]},{"id":"d3f7101c.fa24e","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":290,"wires":[["b9de4741.1bc258"]]},{"id":"457ae93f.c5ddc8","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":325,"wires":[["a3da1be3.0d2fb8"]]},{"id":"671053e3.d4b2cc","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":350,"wires":[["a3da1be3.0d2fb8"]]},{"id":"1695106a.e8e22","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":385,"wires":[["29092466.f1e2ac"]]},{"id":"6d6dd03a.63e91","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":410,"wires":[["29092466.f1e2ac"]]},{"id":"34387aa0.4cd5d6","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":445,"wires":[["d4f9d6bc.805ed8"]]},{"id":"ed882569.cdbea8","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":470,"wires":[["d4f9d6bc.805ed8"]]},{"id":"8de456a9.1ae718","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":505,"wires":[["a1876ab9.4e45e8"]]},{"id":"34abac7.4aa7654","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":530,"wires":[["a1876ab9.4e45e8"]]},{"id":"c5cdee97.00bd6","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":565,"wires":[["9e5045d6.bf3638"]]},{"id":"ac79fed6.5119e","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":590,"wires":[["9e5045d6.bf3638"]]},{"id":"b70afbbd.c6b318","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":625,"wires":[["9122755e.596978"]]},{"id":"3a707e42.cc7cf2","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":650,"wires":[["9122755e.596978"]]},{"id":"8701f615.6f68b8","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":685,"wires":[["50157abf.7e85d4"]]},{"id":"b3f8981d.5ea508","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":710,"wires":[["50157abf.7e85d4"]]},{"id":"68bb4ab9.1bc274","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":745,"wires":[["65f0d34a.29876c"]]},{"id":"2af961e4.4ac48e","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":770,"wires":[["65f0d34a.29876c"]]},{"id":"631f5a43.578104","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":805,"wires":[["d51ddfc2.1bbbd"]]},{"id":"6fd2e84c.fa1b18","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":830,"wires":[["d51ddfc2.1bbbd"]]},{"id":"540312b2.494a6c","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":865,"wires":[["6ad5d188.50251"]]},{"id":"72301494.51b70c","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":890,"wires":[["6ad5d188.50251"]]},{"id":"bf76cb32.cc4558","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":925,"wires":[["f369cf4.f48b63"]]},{"id":"92ae86c0.3dd098","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":950,"wires":[["f369cf4.f48b63"]]},{"id":"9c96fb63.00a948","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":985,"wires":[["69eb1018.a6f42"]]},{"id":"db29c3aa.4848d","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1010,"wires":[["69eb1018.a6f42"]]},{"id":"6740b242.98120c","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1045,"wires":[["f16df52f.6f2768"]]},{"id":"be7ed804.7170a8","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1070,"wires":[["f16df52f.6f2768"]]},{"id":"db0dbe04.8c642","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1105,"wires":[["f6bba0dc.83578"]]},{"id":"bf5c8fb4.a059e","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1130,"wires":[["f6bba0dc.83578"]]},{"id":"4c4e9c50.f2f124","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1165,"wires":[["c5030d0c.175bd"]]},{"id":"afe722ba.3aaa6","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1190,"wires":[["c5030d0c.175bd"]]},{"id":"a51f9d4.e61b86","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1225,"wires":[["f00ac17f.77f2c"]]},{"id":"996c647a.1c6f28","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1250,"wires":[["f00ac17f.77f2c"]]},{"id":"4ea0730.aabc68c","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1285,"wires":[["d3f22126.93ab6"]]},{"id":"d833768b.9282b8","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1310,"wires":[["d3f22126.93ab6"]]},{"id":"9289069d.0da9b8","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1345,"wires":[["cb95ec3b.5c1e9"]]},{"id":"62c26c51.8db004","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1370,"wires":[["cb95ec3b.5c1e9"]]},{"id":"4eee837d.fc348c","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1405,"wires":[["6a29b4df.f23f0c"]]},{"id":"d9028bea.83e2f8","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1430,"wires":[["6a29b4df.f23f0c"]]},{"id":"cb2a24b9.c1a5a8","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1465,"wires":[["53f10d9c.712444"]]},{"id":"8578e133.5ae37","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1490,"wires":[["53f10d9c.712444"]]},{"id":"d046abfe.1b9f38","type":"inject","z":"82b7c8a6.813558","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1525,"wires":[["9b4dfee0.246b"]]},{"id":"31bf30c9.d0e22","type":"inject","z":"82b7c8a6.813558","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1550,"wires":[["9b4dfee0.246b"]]},{"id":"2d96a563.c7f42a","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":665,"y":1354,"wires":[["ad531e99.a8979"]]},{"id":"4186fb83.447924","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=\"sudo systemctl restart chromium\";\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1354,"wires":[["82a7eb6.dd16c18"]]},{"id":"135e0cff.8969f3","type":"link in","z":"64e936ed.b4dab8","name":"cm3panelshell","links":["82a7eb6.dd16c18","e39667d2.ff9818"],"x":250,"y":260,"wires":[["d4257a58.95e568"]]},{"id":"82a7eb6.dd16c18","type":"link out","z":"6fc9c9d6.19f3a8","name":"","links":["135e0cff.8969f3"],"x":1110,"y":1354,"wires":[]},{"id":"edb917ad.0ac028","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":665,"y":1394,"wires":[["33ef4852.027ff8"]]},{"id":"e75ee272.2a465","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=\"sudo reboot\";\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1394,"wires":[["e39667d2.ff9818"]]},{"id":"e39667d2.ff9818","type":"link out","z":"6fc9c9d6.19f3a8","name":"","links":["135e0cff.8969f3"],"x":1110,"y":1394,"wires":[]},{"id":"83ea2559.2d0f58","type":"link out","z":"82b7c8a6.813558","name":"","links":["da5780b5.1d09b"],"x":570,"y":215,"wires":[]},{"id":"6c14b9d2.56c738","type":"link out","z":"91aeb93d.4bcd18","name":"Sala 10","links":["89abc75c.f55418"],"x":440,"y":765,"wires":[]},{"id":"fa57f62b.57e288","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/17/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":1300,"wires":[["542c1d8c.e77694"]]},{"id":"686673fc.e287bc","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/17/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":1335,"wires":[["542c1d8c.e77694"]]},{"id":"542c1d8c.e77694","type":"link out","z":"91aeb93d.4bcd18","name":"","links":["89abc75c.f55418"],"x":445,"y":1315,"wires":[]},{"id":"eced05a1.61feb8","type":"comment","z":"91aeb93d.4bcd18","name":"Gestione MQTT relay su scheda Denkovi id da 1 a 16","info":"","x":1190,"y":50,"wires":[]},{"id":"584dddc1.c0e584","type":"comment","z":"91aeb93d.4bcd18","name":"Gestione MQTT sonoff S26 id da 17 a 36","info":"","x":1150,"y":205,"wires":[]},{"id":"90789c4a.1fc43","type":"function","z":"91aeb93d.4bcd18","name":"Sonoff gateway","func":"var res = msg.topic.split(\"/\");\nvar msg1={};\n\nlight_id=parseInt(res[2]);\nlight_value=parseInt(msg.payload);\n\nif (light_id>=17 && light_id<=37) {\n\n    if (light_id==17)\n        sonoff_id=\"007\";\n\n    if (light_id==18)\n        sonoff_id=\"005\";\n    \n    if (light_id==19)\n        sonoff_id=\"019\";\n\n    if (light_id==20)\n        sonoff_id=\"006\";\n\n    if (light_id==21)\n        sonoff_id=\"003\";\n\n    if (light_id==22)\n        sonoff_id=\"002\";\n\n    if (light_id==23)\n        sonoff_id=\"008\";\n\n    if (light_id==24)\n        sonoff_id=\"024\";\n\n    if (light_id==25)\n        sonoff_id=\"011\";\n\n    if (light_id==26)\n        sonoff_id=\"020\";\n\n    if (light_id==27)\n        sonoff_id=\"021\";\n\n    if (light_id==28)\n        sonoff_id=\"016\";\n\n    if (light_id==29)\n        sonoff_id=\"001\";\n\n    if (light_id==30)\n        sonoff_id=\"013\";\n\n    if (light_id==31)\n        sonoff_id=\"009\";\n\n    if (light_id==32)\n        sonoff_id=\"011\";\n\n    if (light_id==33)\n        sonoff_id=\"023\";\n\n    if (light_id==34)\n        sonoff_id=\"022\";\n\n    if (light_id==35)\n        sonoff_id=\"014\";\n\n    if (light_id==36)\n        sonoff_id=\"004\";\n\n    if (light_id==37)\n        sonoff_id=\"018\";\n\n    if (light_value===0)\n        msg.payload=\"OFF\";\n    else    \n        msg.payload=\"ON\";\n\n    msg.topic=\"sonoff-s26/\" + sonoff_id + \"/cmnd/POWER\";\n\n    msg1.topic=\"toa/lights/\" + light_id + \"/current_value\";\n    msg1.payload=light_value;\n\n    return [msg,msg1];\n}  \n","outputs":2,"noerr":0,"x":1070,"y":245,"wires":[["ff22dc6e.30d0d"],[]]},{"id":"ff22dc6e.30d0d","type":"mqtt out","z":"91aeb93d.4bcd18","name":"","topic":"","qos":"","retain":"","broker":"a50f0475.5bf6c8","x":1285,"y":245,"wires":[]},{"id":"1bb061c4.939c2e","type":"comment","z":"91aeb93d.4bcd18","name":"Sala 10","info":"","x":170,"y":765,"wires":[]},{"id":"dd346987.a58f68","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/13/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":990,"wires":[["fa8b9631.ebbb48"]]},{"id":"3f4cadf4.5240d2","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/13/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":1025,"wires":[["fa8b9631.ebbb48"]]},{"id":"fa8b9631.ebbb48","type":"link out","z":"91aeb93d.4bcd18","name":"Sala 10","links":["89abc75c.f55418"],"x":440,"y":990,"wires":[]},{"id":"1c0dc9b4.791386","type":"comment","z":"91aeb93d.4bcd18","name":"Gialla 13","info":"","x":160,"y":990,"wires":[]},{"id":"3f0a97b3.da6c48","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/1/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":90,"wires":[["520ef906.001788"]]},{"id":"efad1599.650708","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/1/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":125,"wires":[["520ef906.001788"]]},{"id":"520ef906.001788","type":"link out","z":"91aeb93d.4bcd18","name":"Sala 10","links":["89abc75c.f55418"],"x":440,"y":90,"wires":[]},{"id":"8386b27c.c6799","type":"comment","z":"91aeb93d.4bcd18","name":"Terrazzino 1","info":"","x":150,"y":90,"wires":[]},{"id":"34bbc1cb.3308de","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/2/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":165,"wires":[["65802cc8.20aa24"]]},{"id":"32f8fb0c.58ad54","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/2/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":200,"wires":[["65802cc8.20aa24"]]},{"id":"65802cc8.20aa24","type":"link out","z":"91aeb93d.4bcd18","name":"Sala 10","links":["89abc75c.f55418"],"x":440,"y":165,"wires":[]},{"id":"8f5525b0.cc5e88","type":"comment","z":"91aeb93d.4bcd18","name":"Terrazzone 2","info":"","x":150,"y":165,"wires":[]},{"id":"1521bd8.0d7db43","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/3/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":240,"wires":[["903f413f.9a413"]]},{"id":"ef81d02.efd0a3","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/3/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":275,"wires":[["903f413f.9a413"]]},{"id":"903f413f.9a413","type":"link out","z":"91aeb93d.4bcd18","name":"Sala 10","links":["89abc75c.f55418"],"x":440,"y":240,"wires":[]},{"id":"36cbc150.e2d88e","type":"comment","z":"91aeb93d.4bcd18","name":"Scala 3","info":"","x":170,"y":240,"wires":[]},{"id":"299dbf1f.a93a4","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/4/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":315,"wires":[["8ae668be.d29708"]]},{"id":"fc5503c6.0a8f5","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/4/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":350,"wires":[["8ae668be.d29708"]]},{"id":"8ae668be.d29708","type":"link out","z":"91aeb93d.4bcd18","name":"Sala 10","links":["89abc75c.f55418"],"x":440,"y":315,"wires":[]},{"id":"df815152.84815","type":"comment","z":"91aeb93d.4bcd18","name":"Bar 4","info":"","x":170,"y":315,"wires":[]},{"id":"8165cbb.da89438","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/5/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":390,"wires":[["3e2ed8bb.6b0ed8"]]},{"id":"6b6c2b7a.8b2e84","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/5/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":425,"wires":[["3e2ed8bb.6b0ed8"]]},{"id":"3e2ed8bb.6b0ed8","type":"link out","z":"91aeb93d.4bcd18","name":"Sala 10","links":["89abc75c.f55418"],"x":440,"y":390,"wires":[]},{"id":"1c610a93.2b46e5","type":"comment","z":"91aeb93d.4bcd18","name":"Pensile 5","info":"","x":160,"y":390,"wires":[]},{"id":"9d56ad7e.95863","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/6/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":465,"wires":[["604379ba.f4def8"]]},{"id":"203f1b42.f1b904","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/6/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":500,"wires":[["604379ba.f4def8"]]},{"id":"604379ba.f4def8","type":"link out","z":"91aeb93d.4bcd18","name":"Sala 10","links":["89abc75c.f55418"],"x":440,"y":465,"wires":[]},{"id":"ee69775c.3c0188","type":"comment","z":"91aeb93d.4bcd18","name":"Bagno uomini 6","info":"","x":140,"y":465,"wires":[]},{"id":"5bdf71ac.8e915","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/7/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":540,"wires":[["f879e544.4e9768"]]},{"id":"1853169.65556e9","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/7/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":575,"wires":[["f879e544.4e9768"]]},{"id":"f879e544.4e9768","type":"link out","z":"91aeb93d.4bcd18","name":"Sala 10","links":["89abc75c.f55418"],"x":440,"y":540,"wires":[]},{"id":"aa840aa7.46c088","type":"comment","z":"91aeb93d.4bcd18","name":"Bagno donne 7","info":"","x":140,"y":540,"wires":[]},{"id":"d6a00c0.22220f8","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/8/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":615,"wires":[["7338bb60.e780a4"]]},{"id":"ce7f86d3.553ee8","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/8/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":650,"wires":[["7338bb60.e780a4"]]},{"id":"7338bb60.e780a4","type":"link out","z":"91aeb93d.4bcd18","name":"Sala 10","links":["89abc75c.f55418"],"x":440,"y":615,"wires":[]},{"id":"c84cb4ea.4f6308","type":"comment","z":"91aeb93d.4bcd18","name":"Specchio uomini 8","info":"","x":130,"y":615,"wires":[]},{"id":"f398e8d5.a56c68","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/9/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":690,"wires":[["cf32b7f2.607618"]]},{"id":"c5bd906e.25c6b","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/9/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":725,"wires":[["cf32b7f2.607618"]]},{"id":"cf32b7f2.607618","type":"link out","z":"91aeb93d.4bcd18","name":"Sala 10","links":["89abc75c.f55418"],"x":440,"y":690,"wires":[]},{"id":"55e658bf.7d0e48","type":"comment","z":"91aeb93d.4bcd18","name":"Specchio donne 9","info":"","x":130,"y":690,"wires":[]},{"id":"6c0d4bee.47c664","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/11/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":840,"wires":[["235900e0.4795f"]]},{"id":"20e11a32.f349f6","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/11/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":875,"wires":[["235900e0.4795f"]]},{"id":"235900e0.4795f","type":"link out","z":"91aeb93d.4bcd18","name":"Sala 10","links":["89abc75c.f55418"],"x":440,"y":840,"wires":[]},{"id":"dea097ba.527868","type":"comment","z":"91aeb93d.4bcd18","name":"Cucina 11","info":"","x":160,"y":840,"wires":[]},{"id":"6f14ab26.6b7064","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/12/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":915,"wires":[["eb97e0df.bb2ac"]]},{"id":"eb5068b5.dcc968","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/12/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":950,"wires":[["eb97e0df.bb2ac"]]},{"id":"eb97e0df.bb2ac","type":"link out","z":"91aeb93d.4bcd18","name":"Sala 10","links":["89abc75c.f55418"],"x":440,"y":915,"wires":[]},{"id":"a3071547.de33c8","type":"comment","z":"91aeb93d.4bcd18","name":"Uffici 12","info":"","x":160,"y":915,"wires":[]},{"id":"e080f150.3fc06","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/14/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":1065,"wires":[["19f2d877.e6d778"]]},{"id":"c2f25d03.283f7","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/14/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":1100,"wires":[["19f2d877.e6d778"]]},{"id":"19f2d877.e6d778","type":"link out","z":"91aeb93d.4bcd18","name":"Sala 10","links":["89abc75c.f55418"],"x":440,"y":1065,"wires":[]},{"id":"b8b772c7.b67cf","type":"comment","z":"91aeb93d.4bcd18","name":"14","info":"","x":165,"y":1065,"wires":[]},{"id":"88d9e453.af62e8","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/15/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":1140,"wires":[["60b487aa.60aaf8"]]},{"id":"3c8d961a.89a39a","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/15/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":1175,"wires":[["60b487aa.60aaf8"]]},{"id":"60b487aa.60aaf8","type":"link out","z":"91aeb93d.4bcd18","name":"Sala 10","links":["89abc75c.f55418"],"x":440,"y":1140,"wires":[]},{"id":"c5397532.3b5b88","type":"comment","z":"91aeb93d.4bcd18","name":"15","info":"","x":165,"y":1140,"wires":[]},{"id":"eb28f09d.5f78f","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/16/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":1220,"wires":[["4ea8c0bc.e3eb1"]]},{"id":"fb9971ab.162cf","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/16/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":1255,"wires":[["4ea8c0bc.e3eb1"]]},{"id":"4ea8c0bc.e3eb1","type":"link out","z":"91aeb93d.4bcd18","name":"Sala 10","links":["89abc75c.f55418"],"x":440,"y":1220,"wires":[]},{"id":"92503e4f.315b6","type":"comment","z":"91aeb93d.4bcd18","name":"Verde 16","info":"","x":150,"y":1220,"wires":[]},{"id":"37d461d7.220e8e","type":"comment","z":"91aeb93d.4bcd18","name":"Luci Sergio 17","info":"","x":135,"y":1300,"wires":[]},{"id":"a90ff019.6eeaa","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/26/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":1720,"wires":[["1b843eda.a77341"]]},{"id":"de6a8e81.84358","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/26/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":1755,"wires":[["1b843eda.a77341"]]},{"id":"1b843eda.a77341","type":"link out","z":"91aeb93d.4bcd18","name":"","links":["89abc75c.f55418"],"x":445,"y":1735,"wires":[]},{"id":"bf6094f5.5d2c18","type":"comment","z":"91aeb93d.4bcd18","name":"Piantana Sergio 26","info":"","x":120,"y":1720,"wires":[]},{"id":"30194b2a.cb4d64","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/27/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":1800,"wires":[["6c65cea1.62234"]]},{"id":"c1bdf07.b872f1","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/27/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":1835,"wires":[["6c65cea1.62234"]]},{"id":"6c65cea1.62234","type":"link out","z":"91aeb93d.4bcd18","name":"","links":["89abc75c.f55418"],"x":445,"y":1815,"wires":[]},{"id":"f8a87b31.b40ce8","type":"comment","z":"91aeb93d.4bcd18","name":"Piantana Sergio 27","info":"","x":120,"y":1800,"wires":[]},{"id":"164f2814.7f2598","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/start","x":570,"y":1570,"wires":[["7c90b1a0.6545"]]},{"id":"f7be134f.c367c","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/piantane","x":580,"y":1610,"wires":[["462c8197.15f73"]]},{"id":"1e28291c.a4b0f7","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/piantane_all_on","x":775,"y":225,"wires":[["e335fc4b.a1ea8"]]},{"id":"6b7d912d.54f8","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/piantane_all_off","x":775,"y":265,"wires":[["430ca797.4610e8"]]},{"id":"5382440.1697dbc","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/piantane_uffici_on","x":785,"y":315,"wires":[["c42a6331.91f4f"]]},{"id":"36eb21f0.bb218e","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/piantane_uffici_off","x":785,"y":355,"wires":[["bf5e3a9b.7ea418"]]},{"id":"a8bd9c4e.148c3","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/piantane_scale_on","x":785,"y":405,"wires":[["cac00305.c4b6"]]},{"id":"f2720db.a5f60f","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/piantane_scale_off","x":785,"y":445,"wires":[["7b2e9b7e.188604"]]},{"id":"30fc1e0a.b27232","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/luce_scala_on","x":785,"y":785,"wires":[["4de9dfd2.5569a"]]},{"id":"95c43aa3.70f668","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/luce_scala_off","x":785,"y":825,"wires":[["348ddbda.0c1774"]]},{"id":"a4197d96.66322","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/luci","x":570,"y":1650,"wires":[["f6ef31de.9284d"]]},{"id":"a285de54.4911c","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/luce_sala_on","x":785,"y":870,"wires":[["949a41be.e07f6"]]},{"id":"e92536d6.664f38","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/luce_sala_off","x":785,"y":910,"wires":[["8e76d3e8.04be1"]]},{"id":"5c4aea9d.684ee4","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/luce_cucina_on","x":785,"y":950,"wires":[["40645247.204ffc"]]},{"id":"3f1ed351.bd8ecc","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/luce_cucina_off","x":785,"y":990,"wires":[["30456f9.facc29"]]},{"id":"730aaa1.f262d54","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/luce_uffici_on","x":785,"y":1035,"wires":[["43a8e468.05583c"]]},{"id":"773cf649.1199f8","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/luce_uffici_off","x":785,"y":1075,"wires":[["1a3ea25e.3b15ae"]]},{"id":"4c2217f6.baedd8","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/luce_wcdonne_on","x":795,"y":1115,"wires":[["67a0a5b9.87e6bc"]]},{"id":"f7f52c2d.98504","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/luce_wcdonne_off","x":795,"y":1155,"wires":[["53199d87.459ea4"]]},{"id":"ed38007.a140d","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/luce_wcuomini_on","x":795,"y":1195,"wires":[["8b97b9e2.b24c58"]]},{"id":"745af6b2.c2e078","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/luce_wcuomini_off","x":795,"y":1235,"wires":[["7dd64d04.b924d4"]]},{"id":"69af3d72.0c9b84","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/termo","x":570,"y":1690,"wires":[["afa653e1.3846f"]]},{"id":"1bad7bbc.2d3e84","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/termo_wcdonne_on","x":800,"y":590,"wires":[["6d620bb3.6591c4"]]},{"id":"2c79d8b6.40ada8","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/termo_wcdonne_off","x":800,"y":630,"wires":[["34ff82ec.93e34e"]]},{"id":"5f49602e.19447","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/termo_wcuomini_on","x":800,"y":670,"wires":[["d82bf9f4.f7e448"]]},{"id":"88d03c1f.dcfc4","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/termo_wcuomini_off","x":800,"y":710,"wires":[["f74fa94f.713a48"]]},{"id":"4e519683.debbe8","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/kwtot","x":782,"y":1471,"wires":[["e9e7e6b3.fac968"]]},{"id":"24dc03b1.4e687c","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/piantane_sala_on","x":785,"y":490,"wires":[["8cbc1a36.1b7b08"]]},{"id":"f0e3d2b1.165a7","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/piantane_sala_off","x":785,"y":530,"wires":[["ab652dae.ca514"]]},{"id":"ad531e99.a8979","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/chromium_restart","x":795,"y":1354,"wires":[["4186fb83.447924"]]},{"id":"33ef4852.027ff8","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/cm3_reboot","x":775,"y":1394,"wires":[["e75ee272.2a465"]]},{"id":"7c90b1a0.6545","type":"chatbot-inline-buttons","z":"6fc9c9d6.19f3a8","name":"Menu Principale","buttons":[{"type":"postback","label":"Piantane","value":"/piantane","answer":"","alert":false,"style":"default"},{"type":"postback","label":"Luci","value":"/luci","answer":"","alert":false,"style":"primary"},{"type":"postback","label":"Termo","value":"/termo","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"KW","value":"/kwtot","answer":"","alert":false,"style":""},{"type":"postback","label":"Chromium","value":"/chromium_restart","answer":"","alert":false,"style":""},{"type":"postback","label":"CM3 Reboot","value":"/cm3_reboot","answer":"","alert":false,"style":""}],"message":"Seleziona:","x":780,"y":1570,"wires":[["8dac9427.4821e8"]]},{"id":"462c8197.15f73","type":"chatbot-inline-buttons","z":"6fc9c9d6.19f3a8","name":"Menu Piantane","buttons":[{"type":"postback","label":"Scale ON","value":"/piantane_scale_on","answer":"","alert":false,"style":""},{"type":"postback","label":"Scale OFF","value":"/piantane_scale_off","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Uffici ON","value":"/piantane_uffici_on","answer":"","alert":false,"style":""},{"type":"postback","label":"Uffici OFF","value":"/piantane_uffici_off","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Sala ON","value":"/piantane_sala_on","answer":"","alert":false,"style":""},{"type":"postback","label":"Sala OFF","value":"/piantane_sala_off","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Tutte ON","value":"/piantane_all_on","answer":"","alert":false,"style":"default"},{"type":"postback","label":"Tutte OFF","value":"/piantane_all_off","answer":"","alert":false,"style":"primary"},{"type":"newline"},{"type":"postback","label":"Torna al menu","value":"/start","answer":"","alert":false,"style":""}],"message":"Piantane:","x":780,"y":1610,"wires":[["8dac9427.4821e8"]]},{"id":"f6ef31de.9284d","type":"chatbot-inline-buttons","z":"6fc9c9d6.19f3a8","name":"Menu Luci","buttons":[{"type":"postback","label":"Scale ON","value":"/luce_scala_on","answer":"","alert":false,"style":""},{"type":"postback","label":"Scale OFF","value":"/luce_scala_off","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Uffici ON","value":"/luce_uffici_on","answer":"","alert":false,"style":""},{"type":"postback","label":"Uffici OFF","value":"/luce_uffici_off","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Cucina ON","value":"/luce_cucina_on","answer":"","alert":false,"style":""},{"type":"postback","label":"Cucina OFF","value":"/luce_cucina_off","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Sala ON","value":"/luce_sala_on","answer":"","alert":false,"style":"default"},{"type":"postback","label":"Sala OFF","value":"/luce_sala_off","answer":"","alert":false,"style":"primary"},{"type":"newline"},{"type":"postback","label":"WC donne ON","value":"/luce_wcdonne_on","answer":"","alert":false,"style":""},{"type":"postback","label":"WC donne OFF","value":"/luce_wcdonne_off","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"WC uomini ON","value":"/luce_wcuomini_on","answer":"","alert":false,"style":""},{"type":"postback","label":"WC uomini OFF","value":"/luce_wcuomini_off","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Stanza gialla ON","value":"/luce_stanzagialla_on","answer":"","alert":false,"style":""},{"type":"postback","label":"Stanza gialla OFF","value":"/luce_stanzagialla_off","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Torna al menu","value":"/start","answer":"","alert":false,"style":""}],"message":"Luci:","x":773.7500152587891,"y":1647.5000247955322,"wires":[["8dac9427.4821e8"]]},{"id":"afa653e1.3846f","type":"chatbot-inline-buttons","z":"6fc9c9d6.19f3a8","name":"Menu Termo","buttons":[{"type":"postback","label":"WC donne ON","value":"/termo_wcdonne_on","answer":"","alert":false,"style":""},{"type":"postback","label":"WC donne OFF","value":"/termo_wcdonne_off","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"WC uomini ON","value":"/termo_wcuomini_on","answer":"","alert":false,"style":""},{"type":"postback","label":"WC uomini OFF","value":"/termo_wcuomini_off","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Torna al menu","value":"/start","answer":"","alert":false,"style":""}],"message":"Termo:","x":770,"y":1690,"wires":[["8dac9427.4821e8"]]},{"id":"fb6f5e9b.0cabd","type":"chatbot-telegram-receive","z":"6fc9c9d6.19f3a8","bot":"b3927b9.29b9988","botProduction":"","x":155,"y":155,"wires":[["8930b9ce.1f3768","f1e59ccd.f996a"]]},{"id":"8dac9427.4821e8","type":"chatbot-telegram-send","z":"6fc9c9d6.19f3a8","bot":"b3927b9.29b9988","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1040,"y":1650,"wires":[]},{"id":"5fb0ec7f.7a6cc4","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/28/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":1885,"wires":[["5fe15924.390008"]]},{"id":"9bec4e37.2be3a","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/28/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":1920,"wires":[["5fe15924.390008"]]},{"id":"5fe15924.390008","type":"link out","z":"91aeb93d.4bcd18","name":"","links":["89abc75c.f55418"],"x":445,"y":1900,"wires":[]},{"id":"f03a8868.7fc048","type":"comment","z":"91aeb93d.4bcd18","name":"Disco 28","info":"","x":150,"y":1885,"wires":[]},{"id":"b0aa03d6.d0835","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/200/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":2060,"wires":[["a1751574.266c38"]]},{"id":"a83cea6f.65ddf8","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/200/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":2095,"wires":[["a1751574.266c38"]]},{"id":"a1751574.266c38","type":"link out","z":"91aeb93d.4bcd18","name":"","links":["89abc75c.f55418"],"x":445,"y":2075,"wires":[]},{"id":"74c100fb.9d35d","type":"comment","z":"91aeb93d.4bcd18","name":"Non toccare 200","info":"","x":133,"y":2058.090898513794,"wires":[]},{"id":"c6da529e.2cc07","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":629.0142517089844,"y":1787.6419429779053,"wires":[["65a962a1.8d07ac"]]},{"id":"21d13635.70f48a","type":"mqtt out","z":"6fc9c9d6.19f3a8","name":"Stanza gialla","topic":"toa/lights/13/set_value","qos":"","retain":"","broker":"a50f0475.5bf6c8","x":1508,"y":437,"wires":[]},{"id":"ef74db52.878958","type":"link in","z":"6fc9c9d6.19f3a8","name":"l15","links":["b611c566.ead588"],"x":1369,"y":437,"wires":[["21d13635.70f48a"]]},{"id":"764d1c1c.c84454","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":959,"y":1276,"wires":[["b611c566.ead588"]]},{"id":"730ca869.0c2b68","type":"function","z":"6fc9c9d6.19f3a8","name":"","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":959,"y":1316,"wires":[["b611c566.ead588"]]},{"id":"b611c566.ead588","type":"link out","z":"6fc9c9d6.19f3a8","name":"","links":["ef74db52.878958"],"x":1114,"y":1296,"wires":[]},{"id":"2e4773d7.86b17c","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":664,"y":1276,"wires":[["3c040e16.7a2f42"]]},{"id":"18987f02.8472a1","type":"link in","z":"6fc9c9d6.19f3a8","name":"","links":["1fd9889e.9f6007"],"x":664,"y":1316,"wires":[["d1132beb.4d7e48"]]},{"id":"3c040e16.7a2f42","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/luce_stanzagialla_on","x":804,"y":1276,"wires":[["764d1c1c.c84454"]]},{"id":"d1132beb.4d7e48","type":"chatbot-command","z":"6fc9c9d6.19f3a8","name":"","command":"/luce_stanzagialla_off","x":804,"y":1316,"wires":[["730ca869.0c2b68"]]},{"id":"46ed7046.12c51","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/29/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":1965,"wires":[["7e56cd6.8de7234"]]},{"id":"2bc2cc44.31bdc4","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/29/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":2000,"wires":[["7e56cd6.8de7234"]]},{"id":"7e56cd6.8de7234","type":"link out","z":"91aeb93d.4bcd18","name":"","links":["89abc75c.f55418"],"x":445,"y":1980,"wires":[]},{"id":"3d5cdc23.b97864","type":"comment","z":"91aeb93d.4bcd18","name":"Spiderman 29","info":"","x":140.98577880859375,"y":1965.1762084960938,"wires":[]},{"id":"22576300.623a3e","type":"comment","z":"5bd4ad60.a13fc4","name":"Consumi piano terra","info":"","x":125,"y":340,"wires":[]},{"id":"67148f4b.6f6ca8","type":"mqtt in","z":"5bd4ad60.a13fc4","name":"","topic":"toa/assorbimenti/KW-GEN","qos":"2","datatype":"auto","broker":"a50f0475.5bf6c8","x":145,"y":85,"wires":[["163aa05.59c726"]]},{"id":"163aa05.59c726","type":"function","z":"5bd4ad60.a13fc4","name":"consumi_primo_piano","func":"var consumi_primo_piano=parseFloat(msg.payload);\n\nglobal.set('consumi_primo_piano',consumi_primo_piano);\nnode.status({fill:\"green\",shape:\"dot\",text:consumi_primo_piano});\nmsg.payload=consumi_primo_piano.toFixed(2);\nreturn msg;\n","outputs":1,"noerr":0,"x":455,"y":85,"wires":[["3c59af61.23289","abd323d4.aa97f"]]},{"id":"850412c2.8cb4b","type":"mqtt in","z":"5bd4ad60.a13fc4","name":"","topic":"toa/assorbimenti/KWL-FT-GEN","qos":"2","datatype":"auto","broker":"a50f0475.5bf6c8","x":165,"y":650,"wires":[["d06ea6e6.28ff98"]]},{"id":"fd93504.9bf6fb","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"92928","acknoledge":true,"name":"sala","topic":"","x":165,"y":365,"wires":[["48cf3c5b.a7caa4"]]},{"id":"cec01ff7.7a45a","type":"link out","z":"7c9995e1.06280c","name":"","links":["89abc75c.f55418"],"x":930,"y":455,"wires":[]},{"id":"48cf3c5b.a7caa4","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"toa/lights/10/set_value\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=255;\n} else {\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":365,"wires":[["cec01ff7.7a45a","5860cbaf.9f38d4"]]},{"id":"15c5f6fe.d644d9","type":"alexa-home-resp","z":"7c9995e1.06280c","x":965,"y":260,"wires":[]},{"id":"208cfe41.70de32","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"92931","acknoledge":true,"name":"cucina","topic":"","x":170,"y":420,"wires":[["eb402ca1.465a4"]]},{"id":"eb402ca1.465a4","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"toa/lights/11/set_value\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=255;\n} else {\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":420,"wires":[["cec01ff7.7a45a","5860cbaf.9f38d4"]]},{"id":"5860cbaf.9f38d4","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.payload=true;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":260,"wires":[["15c5f6fe.d644d9"]]},{"id":"19e76b13.654325","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"92932","acknoledge":false,"name":"uffici","topic":"","x":170,"y":480,"wires":[["837e0d5.ef334f"]]},{"id":"837e0d5.ef334f","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"toa/lights/12/set_value\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=255;\n} else {\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":480,"wires":[["cec01ff7.7a45a","5860cbaf.9f38d4"]]},{"id":"17eea9c7.4e24b6","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"92933","acknoledge":false,"name":"tutto","topic":"","x":195,"y":1015,"wires":[["48cf3c5b.a7caa4","eb402ca1.465a4","837e0d5.ef334f","8f19fa70.8bb0d8","1cb170e2.af3e5f","669b9b93.108594","2dfb4078.5d2ab","39b09065.64519","7c144ed.f619bb","5db81b1a.ce2184","9c750215.8b108","31043482.12a4fc","cfe535af.366438","11efa3f.e6d0a5c","9fedf82d.1a0ea8","c9090821.655b98"]]},{"id":"facb9128.2f34","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"92935","acknoledge":false,"name":"cubo","topic":"","x":1160,"y":615,"wires":[["4b81181.adb0ce8","ac0554c7.09b858","1cf29219.2e65be","61997b94.5203d4"]]},{"id":"4b81181.adb0ce8","type":"debug","z":"7c9995e1.06280c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1410,"y":525,"wires":[]},{"id":"ac0554c7.09b858","type":"debug","z":"7c9995e1.06280c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"command","targetType":"msg","x":1420,"y":650,"wires":[]},{"id":"df43c5b2.b46a78","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"92936","acknoledge":false,"name":"lampada sergio","topic":"","x":605,"y":1020,"wires":[["8f19fa70.8bb0d8","691b078a.0e7ee8"]]},{"id":"f95875d5.c52608","type":"mqtt out","z":"7c9995e1.06280c","name":"Toa","topic":"","qos":"0","retain":"false","broker":"a50f0475.5bf6c8","x":1515,"y":890,"wires":[]},{"id":"8f19fa70.8bb0d8","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"sonoff-s26/018/cmnd/POWER\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":890,"wires":[["f95875d5.c52608"]]},{"id":"2af48a46.47d326","type":"alexa-home-resp","z":"7c9995e1.06280c","x":1570,"y":780,"wires":[]},{"id":"691b078a.0e7ee8","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.payload=true;\nreturn msg;","outputs":1,"noerr":0,"x":1325,"y":780,"wires":[["2af48a46.47d326"]]},{"id":"43be3366.c1b09c","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"92938","acknoledge":false,"name":"piantane sergio","topic":"","x":605,"y":1075,"wires":[["691b078a.0e7ee8","1cb170e2.af3e5f","669b9b93.108594"]]},{"id":"1cb170e2.af3e5f","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"sonoff-s26/020/cmnd/POWER\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1325,"y":1040,"wires":[["f95875d5.c52608"]]},{"id":"669b9b93.108594","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"sonoff-s26/021/cmnd/POWER\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1325,"y":1095,"wires":[["f95875d5.c52608"]]},{"id":"b7e59239.6c8ff","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"92937","acknoledge":false,"name":"luci sergio","topic":"","x":625,"y":1145,"wires":[["691b078a.0e7ee8","2dfb4078.5d2ab"]]},{"id":"2dfb4078.5d2ab","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"sonoff-s26/007/cmnd/POWER\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1210,"wires":[["f95875d5.c52608"]]},{"id":"53f08b55.b5e764","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"92939","acknoledge":false,"name":"luci roberto","topic":"","x":620,"y":1270,"wires":[["39b09065.64519","691b078a.0e7ee8"]]},{"id":"39b09065.64519","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"sonoff-s26/005/cmnd/POWER\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1315,"y":1260,"wires":[["f95875d5.c52608"]]},{"id":"a8bdba93.3c1598","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"92941","acknoledge":false,"name":"luci daniela","topic":"","x":610,"y":1360,"wires":[["691b078a.0e7ee8","7c144ed.f619bb"]]},{"id":"7c144ed.f619bb","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"sonoff-s26/002/cmnd/POWER\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1315,"y":1350,"wires":[["f95875d5.c52608"]]},{"id":"2401de26.bcdce2","type":"alexa-home-resp","z":"7c9995e1.06280c","x":1375,"y":390,"wires":[]},{"id":"1cf29219.2e65be","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.payload=true;\nreturn msg;","outputs":1,"noerr":0,"x":1185,"y":420,"wires":[["2401de26.bcdce2"]]},{"id":"ff97d83a.6e4148","type":"debug","z":"7c9995e1.06280c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1630,"y":470,"wires":[]},{"id":"61997b94.5203d4","type":"function","z":"7c9995e1.06280c","name":"","func":"/**\n* HSV to RGB color conversion\n*\n* H runs from 0 to 360 degrees\n* S and V run from 0 to 100\n*\n* Ported from the excellent java algorithm by Eugene Vishnevsky at:\n* http://www.cs.rit.edu/~ncs/color/t_convert.html\n*/\nfunction hsvToRgb(h, s, v) {\n    var r, g, b;\n    var i;\n    var f, p, q, t;\n     \n    // Make sure our arguments stay in-range\n    h = Math.max(0, Math.min(360, h));\n    s = Math.max(0, Math.min(100, s));\n    v = Math.max(0, Math.min(100, v));\n     \n    // We accept saturation and value arguments from 0 to 100 because that's\n    // how Photoshop represents those values. Internally, however, the\n    // saturation and value are calculated from a range of 0 to 1. We make\n    // That conversion here.\n    s /= 100;\n    v /= 100;\n     \n    if(s == 0) {\n        // Achromatic (grey)\n        r = g = b = v;\n        return [\n            Math.round(r * 255), \n            Math.round(g * 255), \n            Math.round(b * 255)\n        ];\n    }\n     \n    h /= 60; // sector 0 to 5\n    i = Math.floor(h);\n    f = h - i; // factorial part of h\n    p = v * (1 - s);\n    q = v * (1 - s * f);\n    t = v * (1 - s * (1 - f));\n     \n    switch(i) {\n        case 0:\n            r = v;\n            g = t;\n            b = p;\n            break;\n     \n        case 1:\n            r = q;\n            g = v;\n            b = p;\n            break;\n     \n        case 2:\n            r = p;\n            g = v;\n            b = t;\n            break;\n     \n        case 3:\n            r = p;\n            g = q;\n            b = v;\n            break;\n     \n        case 4:\n            r = t;\n            g = p;\n            b = v;\n            break;\n     \n        default: // case 5:\n            r = v;\n            g = p;\n            b = q;\n    }\n     \n    return [\n        Math.round(r * 255), \n        Math.round(g * 255), \n        Math.round(b * 255)\n    ];\n}\n\nvar rgb=hsvToRgb(msg.payload[\"hue\"], msg.payload[\"saturation\"],  msg.payload[\"brightness\"])\n\nmsg.payload = {\"red\":rgb[0],\"green\":rgb[1],\"blue\":rgb[2]};\nreturn msg;","outputs":1,"noerr":0,"x":1395,"y":460,"wires":[["ff97d83a.6e4148"]]},{"id":"8febce24.c5d9a","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"93019","acknoledge":false,"name":"luci tiziana","topic":"","x":605,"y":1440,"wires":[["691b078a.0e7ee8","5db81b1a.ce2184"]]},{"id":"5db81b1a.ce2184","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"sonoff-s26/003/cmnd/POWER\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":1430,"wires":[["f95875d5.c52608"]]},{"id":"bffcafc.6bb755","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"93018","acknoledge":false,"name":"luci benito","topic":"","x":600,"y":1515,"wires":[["691b078a.0e7ee8","9c750215.8b108"]]},{"id":"9c750215.8b108","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"sonoff-s26/019/cmnd/POWER\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1305,"y":1500,"wires":[["f95875d5.c52608"]]},{"id":"5a9afb15.a20304","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"93021","acknoledge":false,"name":"luci scale","topic":"","x":180,"y":535,"wires":[["31043482.12a4fc"]]},{"id":"31043482.12a4fc","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"toa/lights/3/set_value\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=255;\n} else {\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":535,"wires":[["5860cbaf.9f38d4","cec01ff7.7a45a"]]},{"id":"3e38bc06.51f074","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"93022","acknoledge":false,"name":"luci gialla","topic":"","x":180,"y":725,"wires":[["d0397973.a73a58"]]},{"id":"d0397973.a73a58","type":"function","z":"7c9995e1.06280c","name":"On or Off ?","func":"if (msg.command===\"TurnOnRequest\") {\n    msg.topic=\"toa/lights/13/set_value\";\n    msg.payload=255;\n    return[msg,null];\n}\n\nif (msg.command===\"TurnOffRequest\") {\n    msg.topic=\"toa/lights/13/set_value\";\n    msg.payload=0;\n    return[null,msg];\n}  ","outputs":2,"noerr":0,"x":500,"y":725,"wires":[["5860cbaf.9f38d4","cec01ff7.7a45a"],["5860cbaf.9f38d4","bfa978a8.1ed908"]]},{"id":"fc69e47c.52a8c8","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"93023","acknoledge":false,"name":"luci verde","topic":"","x":180,"y":630,"wires":[["cfe535af.366438"]]},{"id":"cfe535af.366438","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"toa/lights/16/set_value\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=255;\n} else {\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":635,"wires":[["5860cbaf.9f38d4","cec01ff7.7a45a"]]},{"id":"3cbb5a38.1ed776","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"93020","acknoledge":false,"name":"luci pacchi","topic":"","x":605,"y":1585,"wires":[["11efa3f.e6d0a5c","691b078a.0e7ee8"]]},{"id":"11efa3f.e6d0a5c","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"sonoff-s26/006/cmnd/POWER\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":1570,"wires":[["f95875d5.c52608"]]},{"id":"a8cb267d.7ba488","type":"mqtt in","z":"5bd4ad60.a13fc4","name":"","topic":"toa/assorbimenti/KW-GEN_PT","qos":"2","datatype":"auto","broker":"a50f0475.5bf6c8","x":165,"y":390,"wires":[["444f4bce.08dc54"]]},{"id":"7a402c0d.a5fa14","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"93668","acknoledge":false,"name":"biliardino","topic":"","x":610,"y":1660,"wires":[["9fedf82d.1a0ea8","c9090821.655b98","691b078a.0e7ee8"]]},{"id":"9fedf82d.1a0ea8","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"sonoff-s26/011/cmnd/POWER\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1305,"y":1635,"wires":[["f95875d5.c52608"]]},{"id":"c9090821.655b98","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"sonoff-s26/014/cmnd/POWER\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":1680,"wires":[["f95875d5.c52608"]]},{"id":"f3f027fc.0c9868","type":"comment","z":"82b7c8a6.813558","name":"Piantana Sergio","info":"","x":1000,"y":1235,"wires":[]},{"id":"a331845d.166fb8","type":"comment","z":"82b7c8a6.813558","name":"Piantana Sergio","info":"","x":1000,"y":1295,"wires":[]},{"id":"9100ae1b.5c34c","type":"comment","z":"82b7c8a6.813558","name":"Stanza gialla gonghio","info":"","x":1020,"y":1415,"wires":[]},{"id":"e9882092.f166","type":"comment","z":"82b7c8a6.813558","name":"Luci Sergio","info":"","x":980,"y":450,"wires":[]},{"id":"6ba4e240.138a0c","type":"comment","z":"82b7c8a6.813558","name":"Spot Spiderman","info":"","x":1000,"y":95,"wires":[]},{"id":"a751b111.46758","type":"comment","z":"82b7c8a6.813558","name":"Luci Daniela","info":"","x":990,"y":155,"wires":[]},{"id":"29714ce7.dd3d44","type":"comment","z":"82b7c8a6.813558","name":"Luci Tiziana","info":"","x":990,"y":215,"wires":[]},{"id":"5583b973.ac99a8","type":"comment","z":"82b7c8a6.813558","name":"Luci Roberto","info":"","x":990,"y":335,"wires":[]},{"id":"92ba92d7.a3d66","type":"comment","z":"82b7c8a6.813558","name":"Luci Packaging","info":"","x":1000,"y":395,"wires":[]},{"id":"5c522edb.2eeb5","type":"comment","z":"82b7c8a6.813558","name":"Disco ball","info":"","x":980,"y":1000,"wires":[]},{"id":"eb43bae9.dac688","type":"comment","z":"82b7c8a6.813558","name":"Luci Benito","info":"","x":990,"y":1175,"wires":[]},{"id":"f2bba960.b779f8","type":"comment","z":"82b7c8a6.813558","name":"Piantana ingresso","info":"","x":1010,"y":515,"wires":[]},{"id":"a6e1a7df.a3b6d8","type":"comment","z":"82b7c8a6.813558","name":"Piantana ingresso","info":"","x":1010,"y":1475,"wires":[]},{"id":"b1d4e82a.43f4d8","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/18/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":295,"y":1385,"wires":[["63b22d46.43f644"]]},{"id":"70b571fb.83ccb","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/18/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":295,"y":1420,"wires":[["63b22d46.43f644"]]},{"id":"63b22d46.43f644","type":"link out","z":"91aeb93d.4bcd18","name":"","links":["89abc75c.f55418"],"x":435,"y":1400,"wires":[]},{"id":"41c78ca6.3feb74","type":"comment","z":"91aeb93d.4bcd18","name":"Luci Roberto 18","info":"","x":135,"y":1385,"wires":[]},{"id":"6b87cf37.215f7","type":"comment","z":"82b7c8a6.813558","name":"Termo bagno uomini","info":"","x":1005,"y":815,"wires":[]},{"id":"4fb429cf.1c29c8","type":"comment","z":"82b7c8a6.813558","name":"Termo bagno donne","info":"","x":1010,"y":575,"wires":[]},{"id":"32f74799.9f6f88","type":"comment","z":"82b7c8a6.813558","name":"Scaldabagno","info":"","x":985,"y":695,"wires":[]},{"id":"90c6b963.f8c8c8","type":"comment","z":"82b7c8a6.813558","name":"Stanza gialla ingresso","info":"","x":1015,"y":875,"wires":[]},{"id":"7c726839.a74df8","type":"comment","z":"82b7c8a6.813558","name":"Stanza gialla lato letto sergio","info":"","x":1035,"y":1355,"wires":[]},{"id":"bfa978a8.1ed908","type":"function","z":"7c9995e1.06280c","name":"Piantane off","func":"var msg1={};\nvar msg2={};\nvar msg3={};\nvar msg4={};\nvar msg5={};\n\nmsg1.topic=\"toa/lights/33/set_value\";\nmsg1.payload=0;\n\nmsg2.topic=\"toa/lights/34/set_value\";\nmsg2.payload=0;\n\nmsg3.topic=\"toa/lights/35/set_value\";\nmsg3.payload=0;\n\nmsg4.topic=\"toa/lights/36/set_value\";\nmsg4.payload=0;\n\nmsg5.topic=\"toa/lights/13/set_value\";\nmsg5.payload=0;\n\nreturn[msg1,msg2,msg3,msg4,msg5];\n","outputs":5,"noerr":0,"x":730,"y":725,"wires":[["cec01ff7.7a45a"],["cec01ff7.7a45a"],["cec01ff7.7a45a"],["cec01ff7.7a45a"],["cec01ff7.7a45a"]]},{"id":"567779fe.8e0b28","type":"alexa-home","z":"7c9995e1.06280c","conf":"443378f1.ca1988","device":"96465","acknoledge":true,"name":"macchinetta del caff","topic":"","x":605,"y":1755,"wires":[["58716404.4daf9c","691b078a.0e7ee8"]]},{"id":"58716404.4daf9c","type":"function","z":"7c9995e1.06280c","name":"","func":"msg.topic=\"sonoff-s26/004/cmnd/POWER\";\nif (msg.command===\"TurnOnRequest\") {\n    msg.payload=true;\n} else {\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1740,"wires":[["f95875d5.c52608"]]},{"id":"595d0a92.bf2654","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/23/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":1490,"wires":[["a8978058.9c73c"]]},{"id":"dde84d07.afff","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/23/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":1525,"wires":[["a8978058.9c73c"]]},{"id":"a8978058.9c73c","type":"link out","z":"91aeb93d.4bcd18","name":"","links":["89abc75c.f55418"],"x":440,"y":1505,"wires":[]},{"id":"d1f48349.44f48","type":"comment","z":"91aeb93d.4bcd18","name":"Piantana Ingresso 23","info":"","x":125,"y":1490,"wires":[]},{"id":"12593489.2b2ffb","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/24/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":1585,"wires":[["92b99414.784b08"]]},{"id":"8ae56eb1.6b0e9","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/24/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":1620,"wires":[["92b99414.784b08"]]},{"id":"92b99414.784b08","type":"link out","z":"91aeb93d.4bcd18","name":"","links":["89abc75c.f55418"],"x":440,"y":1600,"wires":[]},{"id":"e18897f3.c73a18","type":"comment","z":"91aeb93d.4bcd18","name":"Piantana Ingresso 24","info":"","x":125,"y":1585,"wires":[]},{"id":"271a128.cfe22ee","type":"exec","z":"64e936ed.b4dab8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":375,"y":410,"wires":[[],[],[]]},{"id":"a0eed1de.fad47","type":"inject","z":"64e936ed.b4dab8","name":"Halt","topic":"","payload":"sudo halt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":410,"wires":[["271a128.cfe22ee"]]},{"id":"88c85455.262338","type":"inject","z":"64e936ed.b4dab8","name":"Sync","topic":"","payload":"sync","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":132.0142059326172,"y":452.00567626953125,"wires":[["271a128.cfe22ee"]]},{"id":"3ae6453e.4af25a","type":"comment","z":"64e936ed.b4dab8","name":"Tutte le CM3-Panel","info":"","x":165,"y":80,"wires":[]},{"id":"fdab54d6.9345f8","type":"comment","z":"64e936ed.b4dab8","name":"CM3-Home Toa","info":"","x":150,"y":340,"wires":[]},{"id":"e9ccbef9.36a36","type":"mqtt in","z":"91aeb93d.4bcd18","name":"","topic":"sonoff-s26/+/POWER","qos":"2","datatype":"auto","broker":"a50f0475.5bf6c8","x":1095,"y":365,"wires":[["25805a9d.3526b6"]]},{"id":"da137413.ad6e58","type":"function","z":"33ebd1f1.9ba0be","name":"","func":"var sonoff2id = {\n    20:26,\n    21:27\n}\n\nvar id = sonoff2id[21];\n\nmsg.payload=id;\n\nif (id!==undefined) {\n    return msg;\n}    ","outputs":1,"noerr":0,"x":600,"y":220,"wires":[[]]},{"id":"8a27dcf8.eb394","type":"comment","z":"82b7c8a6.813558","name":"Piantana DS 2 Sergio","info":"","x":1020,"y":1120,"wires":[]},{"id":"165327e4.225af8","type":"inject","z":"91aeb93d.4bcd18","name":"ON","topic":"toa/lights/37/set_value","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":2165,"wires":[["d4534815.608fd8"]]},{"id":"c89a7135.95f6b","type":"inject","z":"91aeb93d.4bcd18","name":"OFF","topic":"toa/lights/37/set_value","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305,"y":2200,"wires":[["d4534815.608fd8"]]},{"id":"d4534815.608fd8","type":"link out","z":"91aeb93d.4bcd18","name":"","links":["89abc75c.f55418"],"x":445,"y":2180,"wires":[]},{"id":"99adfb0b.2feaf8","type":"comment","z":"91aeb93d.4bcd18","name":"Piantana Sergio 37","info":"","x":120,"y":2165,"wires":[]},{"id":"25805a9d.3526b6","type":"function","z":"91aeb93d.4bcd18","name":"sonoff2id","func":"var sonoff2id = {\n    7:17,\n    5:18,\n    19:19,\n    6:20,\n    3:21,\n    2:22,\n    8:23,\n    24:24,\n    20:26,\n    21:27,\n    16:28,\n    1:29,\n    13:30,\n    9:31,\n    11:32,\n    23:33,\n    22:34,\n    14:35,\n    4:36,\n    18:37\n}\n\nvar sonoffid=msg.topic.substring(11,14);\nvar light_id = sonoff2id[parseInt(sonoffid)];\n\nif (light_id!==undefined) {\n    msg.topic=\"toa/lights/\" + light_id + \"/current_value\";\n    if (msg.payload===\"ON\") {\n        msg.payload=255;\n        return msg;\n    } else {\n        msg.payload=0;\n        return msg;\n    }    \n}    ","outputs":1,"noerr":0,"x":1300,"y":365,"wires":[["dc10a533.997688"]]},{"id":"dc10a533.997688","type":"mqtt out","z":"91aeb93d.4bcd18","name":"","topic":"","qos":"","retain":"true","broker":"a50f0475.5bf6c8","x":1455,"y":365,"wires":[]},{"id":"d06ea6e6.28ff98","type":"function","z":"5bd4ad60.a13fc4","name":"consumi_solare","func":"var consumi_solare=parseFloat(msg.payload);\n\nglobal.set('consumi_solare',consumi_solare);\nnode.status({fill:\"green\",shape:\"dot\",text:consumi_solare});\nmsg.payload=consumi_solare.toFixed(2);\nreturn msg;\n","outputs":1,"noerr":0,"x":435,"y":650,"wires":[["d0e87ae2.6dc288","c74f0b82.2b2a18"]]},{"id":"444f4bce.08dc54","type":"function","z":"5bd4ad60.a13fc4","name":"consumi_piano_terra","func":"var consumi_piano_terra=parseFloat(msg.payload);\n\nglobal.set('consumi_piano_terra',consumi_piano_terra);\nnode.status({fill:\"green\",shape:\"dot\",text:consumi_piano_terra});\nmsg.payload=consumi_piano_terra.toFixed(2);\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":390,"wires":[["f50ddff2.6fc22","abd323d4.aa97f"]]},{"id":"3c59af61.23289","type":"mqtt out","z":"5bd4ad60.a13fc4","name":"","topic":"toa/consumi_primo_piano","qos":"","retain":"","broker":"a50f0475.5bf6c8","x":770,"y":85,"wires":[]},{"id":"d0e87ae2.6dc288","type":"mqtt out","z":"5bd4ad60.a13fc4","name":"","topic":"toa/consumi_solare","qos":"","retain":"","broker":"a50f0475.5bf6c8","x":755,"y":650,"wires":[]},{"id":"f50ddff2.6fc22","type":"mqtt out","z":"5bd4ad60.a13fc4","name":"","topic":"toa/consumi_piano_terra","qos":"","retain":"","broker":"a50f0475.5bf6c8","x":775,"y":390,"wires":[]},{"id":"abd323d4.aa97f","type":"function","z":"5bd4ad60.a13fc4","name":"consumi_generali","func":"var consumi_primo_piano = global.get('consumi_primo_piano')||0;\nvar consumi_piano_terra = global.get('consumi_piano_terra')||0;\n\nvar consumi_generali=consumi_primo_piano+consumi_piano_terra;\nglobal.set('consumi_generali',consumi_generali);\n\nnode.status({fill:\"green\",shape:\"dot\",text:consumi_generali});\nmsg.payload=consumi_generali.toFixed(2);\nreturn msg;\n","outputs":1,"noerr":0,"x":785,"y":225,"wires":[["e110ea6e.d26b38","c74f0b82.2b2a18"]]},{"id":"e110ea6e.d26b38","type":"mqtt out","z":"5bd4ad60.a13fc4","name":"","topic":"toa/consumi_generali","qos":"","retain":"","broker":"a50f0475.5bf6c8","x":1095,"y":225,"wires":[]},{"id":"c74f0b82.2b2a18","type":"function","z":"5bd4ad60.a13fc4","name":"consumi_enel","func":"var consumi_generali = global.get('consumi_generali')||0;\nvar consumi_solare = global.get('consumi_solare')||0;\n\nvar consumi_enel=consumi_generali-consumi_solare;\nglobal.set('consumi_enel',consumi_enel);\n\nnode.status({fill:\"green\",shape:\"dot\",text:consumi_enel});\nmsg.payload=consumi_enel.toFixed(2);\nreturn msg;\n","outputs":1,"noerr":0,"x":1080,"y":390,"wires":[["47987e7b.8046b"]]},{"id":"47987e7b.8046b","type":"mqtt out","z":"5bd4ad60.a13fc4","name":"","topic":"toa/consumi_enel","qos":"","retain":"","broker":"a50f0475.5bf6c8","x":1310,"y":390,"wires":[]}]