nodered-home.json
[{"id":"93546584.f1fd68","type":"tab","label":"Main","disabled":false,"info":""},{"id":"aeb7bb87.fb73a8","type":"tab","label":"System","disabled":false,"info":""},{"id":"4270fc19.796094","type":"mqtt-broker","z":"","name":"toa","broker":"toa.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7bbdb3.8991524c","type":"chatbot-telegram-node","z":"","botname":"Tanzo Office Automation","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false},{"id":"8a138295.1904d","type":"mqtt out","z":"93546584.f1fd68","name":"","topic":"","qos":"","retain":"","broker":"4270fc19.796094","x":590,"y":420,"wires":[]},{"id":"8c1a3c45.5a9fd","type":"inject","z":"93546584.f1fd68","name":"","topic":"toa/cm3panel","payload":"{\"cmd\":\"clock_off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":420,"wires":[["8a138295.1904d"]]},{"id":"87a09d0f.4563f","type":"inject","z":"93546584.f1fd68","name":"","topic":"toa/cm3panel","payload":"{\"cmd\":\"clock_on\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":480,"wires":[["8a138295.1904d"]]},{"id":"cc723664.fb1c28","type":"mqtt out","z":"93546584.f1fd68","name":"","topic":"toa/cm3panel","qos":"","retain":"","broker":"4270fc19.796094","x":760,"y":800,"wires":[]},{"id":"f637175e.8ebf08","type":"function","z":"93546584.f1fd68","name":"Telegram2mqtt","func":"content=msg.payload[\"content\"];\nmsg.payload={\"cmd\":\"message\",\"value\":content}\nnode.status({text:content});\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":800,"wires":[["cc723664.fb1c28"]]},{"id":"609381a9.ce6b","type":"inject","z":"93546584.f1fd68","name":"","topic":"","payload":"Un messaggio qualsiasi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":196,"y":998,"wires":[["2f1deff2.18df3"]]},{"id":"ac37c942.ca2f28","type":"inject","z":"93546584.f1fd68","name":"All ON","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":677,"wires":[["60774228.2aaa0c"]]},{"id":"8dd3f39b.5868a","type":"mqtt out","z":"93546584.f1fd68","name":"","topic":"","qos":"","retain":"","broker":"4270fc19.796094","x":578,"y":677,"wires":[]},{"id":"60774228.2aaa0c","type":"function","z":"93546584.f1fd68","name":"sendLoop","func":"var outputMsgs = [];\n\nfor (a=0;a<=15;a++) {\n    outputMsgs.push({payload:msg.payload,topic:\"toa/light/\" + a + \"/setval\"});\n}\n\nreturn [outputMsgs];\n","outputs":1,"noerr":0,"x":298,"y":677,"wires":[["8dd3f39b.5868a"]]},{"id":"f7bc736e.e05ab","type":"inject","z":"93546584.f1fd68","name":"All OFF","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":737,"wires":[["60774228.2aaa0c"]]},{"id":"1e1aa427.073f1c","type":"inject","z":"93546584.f1fd68","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":60,"wires":[["2e870c08.afbbb4"]]},{"id":"2e870c08.afbbb4","type":"function","z":"93546584.f1fd68","name":"LightInit","func":"var light_state = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\nvar outputMsgs = [];\n\nglobal.set('light_state',light_state);\n\nfor (i=0;i<light_state.length;i++) {\n    outputMsgs.push({payload:light_state[i],topic:\"toa/light/\" + i + \"/setval\"});\n}\nreturn [outputMsgs];\n","outputs":1,"noerr":0,"x":260,"y":60,"wires":[["f698183a.ce8b68"]]},{"id":"f698183a.ce8b68","type":"mqtt out","z":"93546584.f1fd68","name":"","topic":"","qos":"","retain":"","broker":"4270fc19.796094","x":410,"y":60,"wires":[]},{"id":"d0e9e38e.2ffe7","type":"mqtt in","z":"93546584.f1fd68","name":"getval","topic":"toa/light/+/getval","qos":"2","broker":"4270fc19.796094","x":90,"y":140,"wires":[["e223157.47a4fe8"]]},{"id":"e223157.47a4fe8","type":"function","z":"93546584.f1fd68","name":"currentval","func":"light_state=global.get('light_state');\ntopic=msg.topic\nid=parseInt(topic.split(\"/\")[2]);\nmsg.payload=light_state[id];\nmsg.topic=\"toa/light/\" + id + \"/currentval\";\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":140,"wires":[["4e162c26.02ac44"]]},{"id":"4e162c26.02ac44","type":"mqtt out","z":"93546584.f1fd68","name":"","topic":"","qos":"","retain":"","broker":"4270fc19.796094","x":410,"y":140,"wires":[]},{"id":"46f71b4.1a34ee4","type":"inject","z":"93546584.f1fd68","name":"Golden bridge","topic":"toa/cm3panel","payload":"{\"cmd\":\"loadvideo\",\"value\":\"goldenbridge.mp4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":540,"wires":[["8a138295.1904d"]]},{"id":"e5c77868.b07688","type":"inject","z":"93546584.f1fd68","name":"Skyline","topic":"toa/cm3panel","payload":"{\"cmd\":\"loadvideo\",\"value\":\"skyline.mp4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":580,"wires":[["8a138295.1904d"]]},{"id":"67e7d5a.22f832c","type":"inject","z":"93546584.f1fd68","name":"Singapore","topic":"toa/cm3panel","payload":"{\"cmd\":\"loadvideo\",\"value\":\"singapore.mp4\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"240","x":310,"y":620,"wires":[["8a138295.1904d"]]},{"id":"9fdc9f04.796f2","type":"chatbot-telegram-receive","z":"93546584.f1fd68","bot":"7bbdb3.8991524c","botProduction":"","x":150,"y":820,"wires":[["f637175e.8ebf08","bca2780a.92c8e8","e9d3f4e1.6cf788"]]},{"id":"bca2780a.92c8e8","type":"chatbot-telegram-send","z":"93546584.f1fd68","bot":"7bbdb3.8991524c","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":580,"y":900,"wires":[]},{"id":"2f1deff2.18df3","type":"play audio","z":"93546584.f1fd68","name":"","voice":"1","x":591,"y":1001,"wires":[]},{"id":"e9d3f4e1.6cf788","type":"debug","z":"93546584.f1fd68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":760,"wires":[]},{"id":"49441c57.2e6a94","type":"inject","z":"aeb7bb87.fb73a8","name":"Chromium","topic":"","payload":"sudo systemctl restart chromium","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":220,"wires":[["b665bfba.bb7cb"]]},{"id":"b665bfba.bb7cb","type":"mqtt out","z":"aeb7bb87.fb73a8","name":"","topic":"toa/cm3shell","qos":"","retain":"","broker":"4270fc19.796094","x":460,"y":220,"wires":[]},{"id":"8d458b22.9e0468","type":"inject","z":"aeb7bb87.fb73a8","name":"Reboot","topic":"","payload":"sudo systemctl reboot","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":160,"wires":[["b665bfba.bb7cb"]]},{"id":"52e39928.2321c8","type":"inject","z":"aeb7bb87.fb73a8","name":"Halt","topic":"","payload":"sudo systemctl halt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":100,"wires":[["b665bfba.bb7cb"]]}]