nodered-toa.json
[
    {
        "id": "91aeb93d.4bcd18",
        "type": "tab",
        "label": "Relays",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dfd99ac5.809f88",
        "type": "http request",
        "z": "91aeb93d.4bcd18",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1300,
        "y": 90,
        "wires": [
            []
        ]
    },
    {
        "id": "c93f57a4.81f9c8",
        "type": "mqtt in",
        "z": "91aeb93d.4bcd18",
        "name": "set_value",
        "topic": "toa/lights/+/set_value",
        "qos": "2",
        "datatype": "auto",
        "broker": "7000bcab.65cf94",
        "x": 835,
        "y": 90,
        "wires": [
            [
                "c94d9ef8.f4e09",
                "90789c4a.1fc43"
            ]
        ]
    },
    {
        "id": "7c2d84d6.1a585c",
        "type": "mqtt out",
        "z": "91aeb93d.4bcd18",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "false",
        "broker": "7000bcab.65cf94",
        "x": 675,
        "y": 90,
        "wires": []
    },
    {
        "id": "c94d9ef8.f4e09",
        "type": "function",
        "z": "91aeb93d.4bcd18",
        "name": "Denkovi gateway",
        "func": "var res = msg.topic.split(\"/\");\nvar msg1={};\n\nlight_id=parseInt(res[2]);\nlight_value=parseInt(msg.payload);\n\nif (light_id>=1 && light_id<=16) {\n\n\n    relay_id=light_id;\n    \n    if (light_value===0)\n        relay_value=0;\n    else    \n        relay_value=1;\n    \n    msg.url = \"http://192.168.1.8:80/current_state.json?pw=admin&Relay\" + relay_id + \"=\" + relay_value;\n\n\n    msg1.topic=\"toa/lights/\" + light_id + \"/current_value\";\n    msg1.payload=light_value;\n\n    return [msg,msg1];\n}  \n",
        "outputs": 2,
        "noerr": 0,
        "x": 1080,
        "y": 90,
        "wires": [
            [
                "dfd99ac5.809f88"
            ],
            [
                "4d25b678.7f6958"
            ]
        ]
    },
    {
        "id": "b50501dd.89b3d",
        "type": "rpi-gpio in",
        "z": "91aeb93d.4bcd18",
        "name": "WC uomini",
        "pin": "24",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 830,
        "y": 600,
        "wires": [
            [
                "30f720ee.05f12"
            ]
        ]
    },
    {
        "id": "f369761d.487ee8",
        "type": "rpi-gpio in",
        "z": "91aeb93d.4bcd18",
        "name": "WC donne",
        "pin": "26",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 830,
        "y": 650,
        "wires": [
            [
                "3b061ff1.f54b6"
            ]
        ]
    },
    {
        "id": "30f720ee.05f12",
        "type": "function",
        "z": "91aeb93d.4bcd18",
        "name": "",
        "func": "var wc_uomini = flow.get('wc_uomini')||0;\n\nif (msg.payload===0) {\n    if (wc_uomini===0) {\n        msg.topic=\"toa/lights/6/set_value\";\n        msg.payload=1;\n        wc_uomini=1;\n        flow.set('wc_uomini',wc_uomini)\n    } else {\n        msg.topic=\"toa/lights/6/set_value\";\n        msg.payload=0;\n        wc_uomini=0;\n        flow.set('wc_uomini',wc_uomini)\n    }\n} else {\n    msg.payload=null;\n}\n\nreturn msg;    \n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 965,
        "y": 600,
        "wires": [
            [
                "ceb06efc.31eda"
            ]
        ]
    },
    {
        "id": "3b061ff1.f54b6",
        "type": "function",
        "z": "91aeb93d.4bcd18",
        "name": "",
        "func": "var wc_donne = flow.get('wc_donne')||0;\n\nif (msg.payload===0) {\n    if (wc_donne===0) {\n        msg.topic=\"toa/lights/7/set_value\";\n        msg.payload=1;\n        wc_donne=1;\n        flow.set('wc_donne',wc_donne)\n    } else {\n        msg.topic=\"toa/lights/7/set_value\";\n        msg.payload=0;\n        wc_donne=0;\n        flow.set('wc_donne',wc_donne)\n    }\n} else {\n    msg.payload=null;\n}\n\nreturn msg;    \n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 965,
        "y": 650,
        "wires": [
            [
                "ceb06efc.31eda"
            ]
        ]
    },
    {
        "id": "e6924a3e.b33bc8",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Lettura Pulsanti fisici",
        "info": "",
        "x": 860,
        "y": 560,
        "wires": []
    },
    {
        "id": "4d25b678.7f6958",
        "type": "mqtt out",
        "z": "91aeb93d.4bcd18",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "7000bcab.65cf94",
        "x": 1280,
        "y": 130,
        "wires": []
    },
    {
        "id": "89abc75c.f55418",
        "type": "link in",
        "z": "91aeb93d.4bcd18",
        "name": "mqtt_relay",
        "links": [
            "9a5e1d5f.99637",
            "30a554b4.bc666c",
            "eae555d3.bde108",
            "c551a438.7caba8",
            "bb7ecf29.d8d38",
            "4ffd9064.558b",
            "754a9ffd.9e21b",
            "1cf2895b.f07237",
            "435de856.883668",
            "ac9c39e6.ba5218",
            "ceb06efc.31eda",
            "5ff67e50.c8c93",
            "1889247a.4dfd2c",
            "3a1de492.400fac",
            "fafa0ada.7aab98",
            "a5c2793a.539ef8",
            "8759dc81.87d51",
            "fe8971ee.7073c",
            "c8a1cce4.333d2",
            "6c14b9d2.56c738",
            "542c1d8c.e77694",
            "ea12d423.13f4d8",
            "fa8b9631.ebbb48",
            "520ef906.001788",
            "65802cc8.20aa24",
            "903f413f.9a413",
            "8ae668be.d29708",
            "3e2ed8bb.6b0ed8",
            "604379ba.f4def8",
            "f879e544.4e9768",
            "7338bb60.e780a4",
            "cf32b7f2.607618",
            "235900e0.4795f",
            "eb97e0df.bb2ac",
            "19f2d877.e6d778",
            "60b487aa.60aaf8",
            "4ea8c0bc.e3eb1",
            "1b843eda.a77341",
            "6c65cea1.62234",
            "5fe15924.390008",
            "a1751574.266c38"
        ],
        "x": 565,
        "y": 90,
        "wires": [
            [
                "7c2d84d6.1a585c"
            ]
        ]
    },
    {
        "id": "ceb06efc.31eda",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 1070,
        "y": 620,
        "wires": []
    },
    {
        "id": "1a08f0bb.0cec4f",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "All ON",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 840,
        "y": 435,
        "wires": [
            [
                "f3142378.5241b"
            ]
        ]
    },
    {
        "id": "9f155897.bc43b8",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "All OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 840,
        "y": 470,
        "wires": [
            [
                "f3142378.5241b"
            ]
        ]
    },
    {
        "id": "d023f6aa.ac1458",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "Init",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "x": 840,
        "y": 400,
        "wires": [
            [
                "f3142378.5241b"
            ]
        ]
    },
    {
        "id": "f3142378.5241b",
        "type": "function",
        "z": "91aeb93d.4bcd18",
        "name": "LightInit",
        "func": "var light_state = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\nvar outputMsgs = [];\n\nfor (i=0;i<light_state.length;i++) {\n    light_state[i]=msg.payload;\n}\n\nglobal.set('light_state',light_state);\n\nfor (i=0;i<light_state.length;i++) {\n    light_id=i+1;\n    outputMsgs.push({payload:light_state[i],topic:\"toa/lights/\" + light_id + \"/set_value\"});\n}\nreturn [outputMsgs];\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 435,
        "wires": [
            [
                "eff8ab99.aee728"
            ]
        ]
    },
    {
        "id": "eff8ab99.aee728",
        "type": "mqtt out",
        "z": "91aeb93d.4bcd18",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "7000bcab.65cf94",
        "x": 1175,
        "y": 435,
        "wires": []
    },
    {
        "id": "399c8fa7.5966",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/10/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 765,
        "wires": [
            [
                "6c14b9d2.56c738"
            ]
        ]
    },
    {
        "id": "1f704fae.f3019",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/10/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 800,
        "wires": [
            [
                "6c14b9d2.56c738"
            ]
        ]
    },
    {
        "id": "6c14b9d2.56c738",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440,
        "y": 765,
        "wires": []
    },
    {
        "id": "fa57f62b.57e288",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/17/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1300,
        "wires": [
            [
                "542c1d8c.e77694"
            ]
        ]
    },
    {
        "id": "686673fc.e287bc",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/17/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1335,
        "wires": [
            [
                "542c1d8c.e77694"
            ]
        ]
    },
    {
        "id": "542c1d8c.e77694",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 445,
        "y": 1315,
        "wires": []
    },
    {
        "id": "eced05a1.61feb8",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Gestione MQTT relay su scheda Denkovi id da 1 a 16",
        "info": "",
        "x": 1190,
        "y": 50,
        "wires": []
    },
    {
        "id": "584dddc1.c0e584",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Gestione MQTT sonoff S26 id da 17 a 28",
        "info": "",
        "x": 1150,
        "y": 205,
        "wires": []
    },
    {
        "id": "90789c4a.1fc43",
        "type": "function",
        "z": "91aeb93d.4bcd18",
        "name": "Sonoff gateway",
        "func": "var res = msg.topic.split(\"/\");\nvar msg1={};\n\nlight_id=parseInt(res[2]);\nlight_value=parseInt(msg.payload);\n\nif (light_id>=17 && light_id<=28) {\n\n    if (light_id==28)\n        sonoff_id=\"016\";\n\n    if (light_id==17)\n        sonoff_id=\"007\";\n\n    if (light_id==18)\n        sonoff_id=\"005\";\n    \n    if (light_id==19)\n        sonoff_id=\"019\";\n\n    if (light_id==20)\n        sonoff_id=\"006\";\n\n    if (light_id==21)\n        sonoff_id=\"003\";\n\n    if (light_id==22)\n        sonoff_id=\"002\";\n\n    if (light_id==23)\n        sonoff_id=\"008\";\n\n    if (light_id==24)\n        sonoff_id=\"024\";\n\n    if (light_id==25)\n        sonoff_id=\"011\";\n\n    if (light_id==26)\n        sonoff_id=\"001\";\n\n    if (light_id==27)\n        sonoff_id=\"021\";\n\n    if (light_value===0)\n        msg.payload=\"OFF\";\n    else    \n        msg.payload=\"ON\";\n\n    msg.topic=\"sonoff-s26/\" + sonoff_id + \"/cmnd/POWER\";\n\n    msg1.topic=\"toa/lights/\" + light_id + \"/current_value\";\n    msg1.payload=light_value;\n\n    return [msg,msg1];\n}  \n",
        "outputs": 2,
        "noerr": 0,
        "x": 1070,
        "y": 245,
        "wires": [
            [
                "ff22dc6e.30d0d"
            ],
            [
                "54566d5.38dd594"
            ]
        ]
    },
    {
        "id": "ff22dc6e.30d0d",
        "type": "mqtt out",
        "z": "91aeb93d.4bcd18",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "7000bcab.65cf94",
        "x": 1285,
        "y": 245,
        "wires": []
    },
    {
        "id": "54566d5.38dd594",
        "type": "mqtt out",
        "z": "91aeb93d.4bcd18",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "7000bcab.65cf94",
        "x": 1285,
        "y": 300,
        "wires": []
    },
    {
        "id": "1bb061c4.939c2e",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "info": "",
        "x": 170,
        "y": 765,
        "wires": []
    },
    {
        "id": "dd346987.a58f68",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/13/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 990,
        "wires": [
            [
                "fa8b9631.ebbb48"
            ]
        ]
    },
    {
        "id": "3f4cadf4.5240d2",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/13/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1025,
        "wires": [
            [
                "fa8b9631.ebbb48"
            ]
        ]
    },
    {
        "id": "fa8b9631.ebbb48",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440,
        "y": 990,
        "wires": []
    },
    {
        "id": "1c0dc9b4.791386",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Gialla 13",
        "info": "",
        "x": 160,
        "y": 990,
        "wires": []
    },
    {
        "id": "3f0a97b3.da6c48",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/1/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 90,
        "wires": [
            [
                "520ef906.001788"
            ]
        ]
    },
    {
        "id": "efad1599.650708",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/1/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 125,
        "wires": [
            [
                "520ef906.001788"
            ]
        ]
    },
    {
        "id": "520ef906.001788",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440,
        "y": 90,
        "wires": []
    },
    {
        "id": "8386b27c.c6799",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Terrazzino 1",
        "info": "",
        "x": 150,
        "y": 90,
        "wires": []
    },
    {
        "id": "34bbc1cb.3308de",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/2/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 165,
        "wires": [
            [
                "65802cc8.20aa24"
            ]
        ]
    },
    {
        "id": "32f8fb0c.58ad54",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/2/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 200,
        "wires": [
            [
                "65802cc8.20aa24"
            ]
        ]
    },
    {
        "id": "65802cc8.20aa24",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440,
        "y": 165,
        "wires": []
    },
    {
        "id": "8f5525b0.cc5e88",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Terrazzone 2",
        "info": "",
        "x": 150,
        "y": 165,
        "wires": []
    },
    {
        "id": "1521bd8.0d7db43",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/3/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 240,
        "wires": [
            [
                "903f413f.9a413"
            ]
        ]
    },
    {
        "id": "ef81d02.efd0a3",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/3/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 275,
        "wires": [
            [
                "903f413f.9a413"
            ]
        ]
    },
    {
        "id": "903f413f.9a413",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440,
        "y": 240,
        "wires": []
    },
    {
        "id": "36cbc150.e2d88e",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Scala 3",
        "info": "",
        "x": 170,
        "y": 240,
        "wires": []
    },
    {
        "id": "299dbf1f.a93a4",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/4/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 315,
        "wires": [
            [
                "8ae668be.d29708"
            ]
        ]
    },
    {
        "id": "fc5503c6.0a8f5",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/4/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 350,
        "wires": [
            [
                "8ae668be.d29708"
            ]
        ]
    },
    {
        "id": "8ae668be.d29708",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440,
        "y": 315,
        "wires": []
    },
    {
        "id": "df815152.84815",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Bar 4",
        "info": "",
        "x": 170,
        "y": 315,
        "wires": []
    },
    {
        "id": "8165cbb.da89438",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/5/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 390,
        "wires": [
            [
                "3e2ed8bb.6b0ed8"
            ]
        ]
    },
    {
        "id": "6b6c2b7a.8b2e84",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/5/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 425,
        "wires": [
            [
                "3e2ed8bb.6b0ed8"
            ]
        ]
    },
    {
        "id": "3e2ed8bb.6b0ed8",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440,
        "y": 390,
        "wires": []
    },
    {
        "id": "1c610a93.2b46e5",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Pensile 5",
        "info": "",
        "x": 160,
        "y": 390,
        "wires": []
    },
    {
        "id": "9d56ad7e.95863",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/6/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 465,
        "wires": [
            [
                "604379ba.f4def8"
            ]
        ]
    },
    {
        "id": "203f1b42.f1b904",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/6/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 500,
        "wires": [
            [
                "604379ba.f4def8"
            ]
        ]
    },
    {
        "id": "604379ba.f4def8",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440,
        "y": 465,
        "wires": []
    },
    {
        "id": "ee69775c.3c0188",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Bagno uomini 6",
        "info": "",
        "x": 140,
        "y": 465,
        "wires": []
    },
    {
        "id": "5bdf71ac.8e915",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/7/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 540,
        "wires": [
            [
                "f879e544.4e9768"
            ]
        ]
    },
    {
        "id": "1853169.65556e9",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/7/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 575,
        "wires": [
            [
                "f879e544.4e9768"
            ]
        ]
    },
    {
        "id": "f879e544.4e9768",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440,
        "y": 540,
        "wires": []
    },
    {
        "id": "aa840aa7.46c088",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Bagno donne 7",
        "info": "",
        "x": 140,
        "y": 540,
        "wires": []
    },
    {
        "id": "d6a00c0.22220f8",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/8/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 615,
        "wires": [
            [
                "7338bb60.e780a4"
            ]
        ]
    },
    {
        "id": "ce7f86d3.553ee8",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/8/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 650,
        "wires": [
            [
                "7338bb60.e780a4"
            ]
        ]
    },
    {
        "id": "7338bb60.e780a4",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440,
        "y": 615,
        "wires": []
    },
    {
        "id": "c84cb4ea.4f6308",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Specchio uomini 8",
        "info": "",
        "x": 130,
        "y": 615,
        "wires": []
    },
    {
        "id": "f398e8d5.a56c68",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/9/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 690,
        "wires": [
            [
                "cf32b7f2.607618"
            ]
        ]
    },
    {
        "id": "c5bd906e.25c6b",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/9/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 725,
        "wires": [
            [
                "cf32b7f2.607618"
            ]
        ]
    },
    {
        "id": "cf32b7f2.607618",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440,
        "y": 690,
        "wires": []
    },
    {
        "id": "55e658bf.7d0e48",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Specchio donne 9",
        "info": "",
        "x": 130,
        "y": 690,
        "wires": []
    },
    {
        "id": "6c0d4bee.47c664",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/11/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 840,
        "wires": [
            [
                "235900e0.4795f"
            ]
        ]
    },
    {
        "id": "20e11a32.f349f6",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/11/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 875,
        "wires": [
            [
                "235900e0.4795f"
            ]
        ]
    },
    {
        "id": "235900e0.4795f",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440,
        "y": 840,
        "wires": []
    },
    {
        "id": "dea097ba.527868",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Cucina 11",
        "info": "",
        "x": 160,
        "y": 840,
        "wires": []
    },
    {
        "id": "6f14ab26.6b7064",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/12/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 915,
        "wires": [
            [
                "eb97e0df.bb2ac"
            ]
        ]
    },
    {
        "id": "eb5068b5.dcc968",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/12/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 950,
        "wires": [
            [
                "eb97e0df.bb2ac"
            ]
        ]
    },
    {
        "id": "eb97e0df.bb2ac",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440,
        "y": 915,
        "wires": []
    },
    {
        "id": "a3071547.de33c8",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Uffici 12",
        "info": "",
        "x": 160,
        "y": 915,
        "wires": []
    },
    {
        "id": "e080f150.3fc06",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/14/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1065,
        "wires": [
            [
                "19f2d877.e6d778"
            ]
        ]
    },
    {
        "id": "c2f25d03.283f7",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/14/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1100,
        "wires": [
            [
                "19f2d877.e6d778"
            ]
        ]
    },
    {
        "id": "19f2d877.e6d778",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440,
        "y": 1065,
        "wires": []
    },
    {
        "id": "b8b772c7.b67cf",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "14",
        "info": "",
        "x": 165,
        "y": 1065,
        "wires": []
    },
    {
        "id": "88d9e453.af62e8",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/15/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1140,
        "wires": [
            [
                "60b487aa.60aaf8"
            ]
        ]
    },
    {
        "id": "3c8d961a.89a39a",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/15/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1175,
        "wires": [
            [
                "60b487aa.60aaf8"
            ]
        ]
    },
    {
        "id": "60b487aa.60aaf8",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c5397532.3b5b88",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "15",
        "info": "",
        "x": 165,
        "y": 1140,
        "wires": []
    },
    {
        "id": "eb28f09d.5f78f",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/16/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1220,
        "wires": [
            [
                "4ea8c0bc.e3eb1"
            ]
        ]
    },
    {
        "id": "fb9971ab.162cf",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/16/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1255,
        "wires": [
            [
                "4ea8c0bc.e3eb1"
            ]
        ]
    },
    {
        "id": "4ea8c0bc.e3eb1",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "Sala 10",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440,
        "y": 1220,
        "wires": []
    },
    {
        "id": "92503e4f.315b6",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Verde 16",
        "info": "",
        "x": 150,
        "y": 1220,
        "wires": []
    },
    {
        "id": "37d461d7.220e8e",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Sergio 17",
        "info": "",
        "x": 150,
        "y": 1300,
        "wires": []
    },
    {
        "id": "a90ff019.6eeaa",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/26/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1380,
        "wires": [
            [
                "1b843eda.a77341"
            ]
        ]
    },
    {
        "id": "de6a8e81.84358",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/26/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1415,
        "wires": [
            [
                "1b843eda.a77341"
            ]
        ]
    },
    {
        "id": "1b843eda.a77341",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 445,
        "y": 1395,
        "wires": []
    },
    {
        "id": "bf6094f5.5d2c18",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Sergio 1 26",
        "info": "",
        "x": 140,
        "y": 1380,
        "wires": []
    },
    {
        "id": "30194b2a.cb4d64",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/27/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1460,
        "wires": [
            [
                "6c65cea1.62234"
            ]
        ]
    },
    {
        "id": "c1bdf07.b872f1",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/27/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1495,
        "wires": [
            [
                "6c65cea1.62234"
            ]
        ]
    },
    {
        "id": "6c65cea1.62234",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 445,
        "y": 1475,
        "wires": []
    },
    {
        "id": "f8a87b31.b40ce8",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Sergio 2 27",
        "info": "",
        "x": 140,
        "y": 1460,
        "wires": []
    },
    {
        "id": "5fb0ec7f.7a6cc4",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/28/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 300.01422119140625,
        "y": 1546.8238525390625,
        "wires": [
            [
                "5fe15924.390008"
            ]
        ]
    },
    {
        "id": "9bec4e37.2be3a",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/28/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 300.01422119140625,
        "y": 1581.8238525390625,
        "wires": [
            [
                "5fe15924.390008"
            ]
        ]
    },
    {
        "id": "5fe15924.390008",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 440.01422119140625,
        "y": 1561.8238525390625,
        "wires": []
    },
    {
        "id": "f03a8868.7fc048",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Disco 28",
        "info": "",
        "x": 144.01422119140625,
        "y": 1544.8237915039062,
        "wires": []
    },
    {
        "id": "b0aa03d6.d0835",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "ON",
        "topic": "toa/lights/200/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 296.01422119140625,
        "y": 1649.914794921875,
        "wires": [
            [
                "a1751574.266c38"
            ]
        ]
    },
    {
        "id": "a83cea6f.65ddf8",
        "type": "inject",
        "z": "91aeb93d.4bcd18",
        "name": "OFF",
        "topic": "toa/lights/200/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 296.01422119140625,
        "y": 1684.914794921875,
        "wires": [
            [
                "a1751574.266c38"
            ]
        ]
    },
    {
        "id": "a1751574.266c38",
        "type": "link out",
        "z": "91aeb93d.4bcd18",
        "name": "",
        "links": [
            "89abc75c.f55418"
        ],
        "x": 436.01422119140625,
        "y": 1664.914794921875,
        "wires": []
    },
    {
        "id": "74c100fb.9d35d",
        "type": "comment",
        "z": "91aeb93d.4bcd18",
        "name": "Non toccare 200",
        "info": "",
        "x": 121.01422119140625,
        "y": 1646.9146900177002,
        "wires": []
    },
    {
        "id": "7000bcab.65cf94",
        "type": "mqtt-broker",
        "z": "",
        "name": "toa",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]