nodered-home.json
[{"id":"b6f275f1.f50b78","type":"tab","label":"Main","disabled":false,"info":""},{"id":"9e2c603a.858fe","type":"tab","label":"System","disabled":false,"info":""},{"id":"b9aee244.570dc","type":"tab","label":"Relay","disabled":false,"info":""},{"id":"2bdcdf69.ad913","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"86a1cd35.744c2","type":"mqtt-broker","z":"","name":"toa","broker":"toa.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fd10f77a.c191d8","type":"mqtt-broker","z":"","name":"toa","broker":"toa.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"be48502d.a2f1f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3b98050c.9963ca","type":"ui_group","z":"","name":"Default","tab":"49086774.d24f58","disp":true,"width":"6","collapse":false},{"id":"49086774.d24f58","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"affc994f.4275f8","type":"ui_group","name":"Group 1","tab":"49086774.d24f58","order":1,"disp":true,"width":6},{"id":"5073c3e8.a887cc","type":"chatbot-telegram-node","z":"","botname":"Toa2018_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false},{"id":"4944cfc2.5dafd","type":"mqtt-broker","z":"","name":"toa","broker":"toa.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4833e069.009da","type":"chatbot-telegram-node","z":"","botname":"Tanzo Office Automation","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false},{"id":"55ff20e.69b4ce","type":"mqtt-broker","z":"","name":"toa","broker":"toa.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"619c3cbb.873b84","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"32a4c752.fd15e8","type":"ui_group","z":"","name":"I/O","tab":"877fb05b.8a383","disp":true,"width":"12","collapse":true},{"id":"877fb05b.8a383","type":"ui_tab","z":"","name":"Denkovi Dashboard","icon":"dashboard"},{"id":"d7bed501.30ea78","type":"ui_tab","z":"","name":"Panel B","icon":"dashboard","order":10},{"id":"e0926b23.e33988","type":"mqtt out","z":"b6f275f1.f50b78","name":"","topic":"","qos":"","retain":"","broker":"4944cfc2.5dafd","x":590,"y":420,"wires":[]},{"id":"7f774513.6aeffc","type":"inject","z":"b6f275f1.f50b78","name":"","topic":"toa/cm3panel","payload":"{\"cmd\":\"clock_off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":420,"wires":[["e0926b23.e33988"]]},{"id":"56f67e92.7fd16","type":"inject","z":"b6f275f1.f50b78","name":"","topic":"toa/cm3panel","payload":"{\"cmd\":\"clock_on\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":480,"wires":[["e0926b23.e33988"]]},{"id":"dffa9412.203008","type":"mqtt out","z":"b6f275f1.f50b78","name":"","topic":"toa/cm3panel","qos":"","retain":"","broker":"4944cfc2.5dafd","x":760,"y":800,"wires":[]},{"id":"3287992b.8dc026","type":"function","z":"b6f275f1.f50b78","name":"Telegram2mqtt","func":"content=msg.payload[\"content\"];\nmsg.payload={\"cmd\":\"message\",\"value\":content}\nnode.status({text:content});\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":800,"wires":[["dffa9412.203008"]]},{"id":"b320bbbe.bee5b8","type":"inject","z":"b6f275f1.f50b78","name":"","topic":"","payload":"Un messaggio qualsiasi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":196,"y":998,"wires":[["c2fc452.15aceb8"]]},{"id":"cb1809b3.1c8dd8","type":"inject","z":"b6f275f1.f50b78","name":"All ON","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125,"y":650,"wires":[["11473bcb.d53864"]]},{"id":"b6d478c9.686288","type":"mqtt out","z":"b6f275f1.f50b78","name":"","topic":"","qos":"","retain":"","broker":"4944cfc2.5dafd","x":578,"y":677,"wires":[]},{"id":"11473bcb.d53864","type":"function","z":"b6f275f1.f50b78","name":"sendLoop","func":"var outputMsgs = [];\n\nfor (a=0;a<=15;a++) {\n    outputMsgs.push({payload:msg.payload,topic:\"toa/light/\" + a + \"/setval\"});\n}\n\nreturn [outputMsgs];\n","outputs":1,"noerr":0,"x":298,"y":677,"wires":[["b6d478c9.686288"]]},{"id":"b4fd0ace.d29ee8","type":"inject","z":"b6f275f1.f50b78","name":"All OFF","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":705,"wires":[["11473bcb.d53864"]]},{"id":"f9221e42.59702","type":"inject","z":"b6f275f1.f50b78","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":60,"wires":[["c3e47af2.e06658"]]},{"id":"c3e47af2.e06658","type":"function","z":"b6f275f1.f50b78","name":"LightInit","func":"var light_state = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\nvar outputMsgs = [];\n\nglobal.set('light_state',light_state);\n\nfor (i=0;i<light_state.length;i++) {\n    outputMsgs.push({payload:light_state[i],topic:\"toa/light/\" + i + \"/setval\"});\n}\nreturn [outputMsgs];\n","outputs":1,"noerr":0,"x":260,"y":60,"wires":[["d0c11687.5b4878"]]},{"id":"d0c11687.5b4878","type":"mqtt out","z":"b6f275f1.f50b78","name":"","topic":"","qos":"","retain":"","broker":"4944cfc2.5dafd","x":410,"y":60,"wires":[]},{"id":"1a714fdc.c4cf5","type":"mqtt in","z":"b6f275f1.f50b78","name":"getval","topic":"toa/light/+/getval","qos":"2","broker":"4944cfc2.5dafd","x":90,"y":140,"wires":[["9c4facc9.1591f"]]},{"id":"9c4facc9.1591f","type":"function","z":"b6f275f1.f50b78","name":"currentval","func":"light_state=global.get('light_state');\ntopic=msg.topic\nid=parseInt(topic.split(\"/\")[2]);\nmsg.payload=light_state[id];\nmsg.topic=\"toa/light/\" + id + \"/currentval\";\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":140,"wires":[["44cc99e4.9b7fe8"]]},{"id":"44cc99e4.9b7fe8","type":"mqtt out","z":"b6f275f1.f50b78","name":"","topic":"","qos":"","retain":"","broker":"4944cfc2.5dafd","x":410,"y":140,"wires":[]},{"id":"72814bf.a675fb4","type":"inject","z":"b6f275f1.f50b78","name":"Golden bridge","topic":"toa/cm3panel","payload":"{\"cmd\":\"loadvideo\",\"value\":\"goldenbridge.mp4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":540,"wires":[["e0926b23.e33988"]]},{"id":"8e2433a3.7f622","type":"inject","z":"b6f275f1.f50b78","name":"Skyline","topic":"toa/cm3panel","payload":"{\"cmd\":\"loadvideo\",\"value\":\"skyline.mp4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":580,"wires":[["e0926b23.e33988"]]},{"id":"aff06c68.5058e","type":"inject","z":"b6f275f1.f50b78","name":"Singapore","topic":"toa/cm3panel","payload":"{\"cmd\":\"loadvideo\",\"value\":\"singapore.mp4\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"240","x":310,"y":620,"wires":[["e0926b23.e33988"]]},{"id":"37c262c8.77e40e","type":"chatbot-telegram-receive","z":"b6f275f1.f50b78","bot":"4833e069.009da","botProduction":"","x":150,"y":820,"wires":[["3287992b.8dc026","8f423006.4971","7088f7e4.5c0978"]]},{"id":"8f423006.4971","type":"chatbot-telegram-send","z":"b6f275f1.f50b78","bot":"4833e069.009da","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":580,"y":900,"wires":[]},{"id":"c2fc452.15aceb8","type":"play audio","z":"b6f275f1.f50b78","name":"","voice":"1","x":591,"y":1001,"wires":[]},{"id":"7088f7e4.5c0978","type":"debug","z":"b6f275f1.f50b78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":760,"wires":[]},{"id":"93990fe0.a5145","type":"inject","z":"9e2c603a.858fe","name":"Chromium","topic":"","payload":"sudo systemctl restart chromium","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":220,"wires":[["92ee472c.dc0e68"]]},{"id":"92ee472c.dc0e68","type":"mqtt out","z":"9e2c603a.858fe","name":"","topic":"toa/cm3shell","qos":"","retain":"","broker":"4944cfc2.5dafd","x":460,"y":220,"wires":[]},{"id":"5d5385c5.6d4c6c","type":"inject","z":"9e2c603a.858fe","name":"Reboot","topic":"","payload":"sudo systemctl reboot","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":160,"wires":[["92ee472c.dc0e68"]]},{"id":"e067f04a.a5bf","type":"inject","z":"9e2c603a.858fe","name":"Halt","topic":"","payload":"sudo systemctl halt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":100,"wires":[["92ee472c.dc0e68"]]},{"id":"5c7c9eea.0bb2a","type":"inject","z":"b9aee244.570dc","name":"WC Uomini ON","topic":"toa/light/6/setval","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":265,"y":180,"wires":[["8c7724f5.b5fd28"]]},{"id":"e0e15875.0c8bd8","type":"inject","z":"b9aee244.570dc","name":"WC Uomini OFF","topic":"toa/light/6/setval","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":265,"y":230,"wires":[["8c7724f5.b5fd28"]]},{"id":"329c8ba5.fbf5d4","type":"http request","z":"b9aee244.570dc","name":"","method":"GET","ret":"txt","url":"","tls":"","x":665,"y":340,"wires":[[]]},{"id":"dede6718.ce4948","type":"mqtt in","z":"b9aee244.570dc","name":"","topic":"toa/light/+/setval","qos":"2","broker":"4944cfc2.5dafd","x":260,"y":395,"wires":[["8f5f167.1a9f3e8"]]},{"id":"aa8c1c05.85dc7","type":"inject","z":"b9aee244.570dc","name":"Stanza verde ON","topic":"toa/light/16/setval","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":275,"y":70,"wires":[["8c7724f5.b5fd28"]]},{"id":"d0082c11.f6e27","type":"inject","z":"b9aee244.570dc","name":"Stanza verde OFF","topic":"toa/light/16/setval","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":115,"wires":[["8c7724f5.b5fd28"]]},{"id":"8c7724f5.b5fd28","type":"mqtt out","z":"b9aee244.570dc","name":"","topic":"","qos":"","retain":"","broker":"4944cfc2.5dafd","x":560,"y":100,"wires":[]},{"id":"e406dc46.4e946","type":"debug","z":"b9aee244.570dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":705,"y":500,"wires":[]},{"id":"8f5f167.1a9f3e8","type":"function","z":"b9aee244.570dc","name":"Filtro relè","func":"var res = msg.topic.split(\"/\");\nvar msg1={};\n\nlight_id=parseInt(res[2]);\nlight_value=parseInt(msg.payload);\n\nif (light_id>=1 && light_id<=16) {\n\n\n    relay_id=light_id;\n    \n    if (light_value===0)\n        relay_value=0;\n    else    \n        relay_value=1;\n    \n    msg.url = \"http://192.168.1.107:80/current_state.json?pw=admin&Relay\" + relay_id + \"=\" + relay_value;\n\n\n    msg1.topic=\"toa/light/\" + light_id + \"/currentval\";\n    msg1.payload=light_value;\n\n    return [msg,msg1];\n}  \n","outputs":2,"noerr":0,"x":460,"y":395,"wires":[["329c8ba5.fbf5d4"],["e406dc46.4e946","b1aed0bc.087a"]]},{"id":"b1aed0bc.087a","type":"debug","z":"b9aee244.570dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":695,"y":540,"wires":[]}]