nodered-toa.json
[
    {
        "id": "b9aee244.570dc",
        "type": "tab",
        "label": "Relays",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6d96a905.566d28",
        "type": "tab",
        "label": "Sonoff-s26",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b6f275f1.f50b78",
        "type": "tab",
        "label": "CM3-Panel",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9e2c603a.858fe",
        "type": "tab",
        "label": "CM3-Home",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9a56a685.0b3558",
        "type": "tab",
        "label": "Assorbimenti",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9baf0a1c.2eb568",
        "type": "tab",
        "label": "Telegram",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2bdcdf69.ad913",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Sinottico",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "86a1cd35.744c2",
        "type": "mqtt-broker",
        "z": "",
        "name": "toa",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4833e069.009da",
        "type": "chatbot-telegram-node",
        "z": "",
        "botname": "Tanzo Office Automation",
        "usernames": "",
        "providerToken": "",
        "polling": "1000",
        "store": "",
        "log": "",
        "parseMode": "",
        "debug": false
    },
    {
        "id": "d52b7157.fe0ee",
        "type": "ui_tab",
        "z": "",
        "name": "Relays",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "6490cdde.182ee4",
        "type": "ui_group",
        "z": "",
        "name": "Piano",
        "tab": "d52b7157.fe0ee",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cda25b51.6fff18",
        "type": "ui_group",
        "z": "",
        "name": "Vani",
        "tab": "d52b7157.fe0ee",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5a16f45.b18720c",
        "type": "ui_group",
        "z": "",
        "name": "Terrazzi",
        "tab": "d52b7157.fe0ee",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e0926b23.e33988",
        "type": "mqtt out",
        "z": "b6f275f1.f50b78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "86a1cd35.744c2",
        "x": 585,
        "y": 290,
        "wires": []
    },
    {
        "id": "7f774513.6aeffc",
        "type": "inject",
        "z": "b6f275f1.f50b78",
        "name": "",
        "topic": "toa/cm3panel",
        "payload": "{\"cmd\":\"clock_off\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 195,
        "y": 290,
        "wires": [
            [
                "e0926b23.e33988"
            ]
        ]
    },
    {
        "id": "56f67e92.7fd16",
        "type": "inject",
        "z": "b6f275f1.f50b78",
        "name": "",
        "topic": "toa/cm3panel",
        "payload": "{\"cmd\":\"clock_on\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 195,
        "y": 350,
        "wires": [
            [
                "e0926b23.e33988"
            ]
        ]
    },
    {
        "id": "72814bf.a675fb4",
        "type": "inject",
        "z": "b6f275f1.f50b78",
        "name": "Matrix",
        "topic": "toa/cm3panel",
        "payload": "{\"cmd\":\"loadvideo\",\"value\":\"matrix.mov\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 245,
        "y": 409,
        "wires": [
            [
                "e0926b23.e33988"
            ]
        ]
    },
    {
        "id": "8e2433a3.7f622",
        "type": "inject",
        "z": "b6f275f1.f50b78",
        "name": "Italy",
        "topic": "toa/cm3panel",
        "payload": "{\"cmd\":\"loadvideo\",\"value\":\"italy.mov\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 245,
        "y": 450,
        "wires": [
            [
                "e0926b23.e33988"
            ]
        ]
    },
    {
        "id": "329c8ba5.fbf5d4",
        "type": "http request",
        "z": "b9aee244.570dc",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1300,
        "y": 90,
        "wires": [
            []
        ]
    },
    {
        "id": "dede6718.ce4948",
        "type": "mqtt in",
        "z": "b9aee244.570dc",
        "name": "set_value",
        "topic": "toa/lights/+/set_value",
        "qos": "2",
        "broker": "86a1cd35.744c2",
        "x": 835,
        "y": 90,
        "wires": [
            [
                "8f5f167.1a9f3e8",
                "e902ec21.409c"
            ]
        ]
    },
    {
        "id": "8c7724f5.b5fd28",
        "type": "mqtt out",
        "z": "b9aee244.570dc",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 675,
        "y": 90,
        "wires": []
    },
    {
        "id": "8f5f167.1a9f3e8",
        "type": "function",
        "z": "b9aee244.570dc",
        "name": "Denkovi gateway",
        "func": "var res = msg.topic.split(\"/\");\nvar msg1={};\n\nlight_id=parseInt(res[2]);\nlight_value=parseInt(msg.payload);\n\nif (light_id>=1 && light_id<=16) {\n\n\n    relay_id=light_id;\n    \n    if (light_value===0)\n        relay_value=0;\n    else    \n        relay_value=1;\n    \n    msg.url = \"http://192.168.1.8:80/current_state.json?pw=admin&Relay\" + relay_id + \"=\" + relay_value;\n\n\n    msg1.topic=\"toa/lights/\" + light_id + \"/current_value\";\n    msg1.payload=light_value;\n\n    return [msg,msg1];\n}  \n",
        "outputs": 2,
        "noerr": 0,
        "x": 1080,
        "y": 90,
        "wires": [
            [
                "329c8ba5.fbf5d4"
            ],
            [
                "bb296c75.6d0f6"
            ]
        ]
    },
    {
        "id": "2ab750f0.3c471",
        "type": "exec",
        "z": "9e2c603a.858fe",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 145,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8bce2dad.5ed52",
        "type": "inject",
        "z": "9e2c603a.858fe",
        "name": "Halt",
        "topic": "",
        "payload": "sudo halt",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 145,
        "wires": [
            [
                "2ab750f0.3c471"
            ]
        ]
    },
    {
        "id": "eeaeff4c.10c08",
        "type": "rpi-gpio in",
        "z": "b9aee244.570dc",
        "name": "WC uomini",
        "pin": "24",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 830,
        "y": 600,
        "wires": [
            [
                "2c5f2059.56eca"
            ]
        ]
    },
    {
        "id": "20759198.e3345e",
        "type": "rpi-gpio in",
        "z": "b9aee244.570dc",
        "name": "WC donne",
        "pin": "26",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 830,
        "y": 650,
        "wires": [
            [
                "105a48c8.0920e7"
            ]
        ]
    },
    {
        "id": "2c5f2059.56eca",
        "type": "function",
        "z": "b9aee244.570dc",
        "name": "",
        "func": "var wc_uomini = flow.get('wc_uomini')||0;\n\nif (msg.payload===0) {\n    if (wc_uomini===0) {\n        msg.topic=\"toa/lights/6/set_value\";\n        msg.payload=1;\n        wc_uomini=1;\n        flow.set('wc_uomini',wc_uomini)\n    } else {\n        msg.topic=\"toa/lights/6/set_value\";\n        msg.payload=0;\n        wc_uomini=0;\n        flow.set('wc_uomini',wc_uomini)\n    }\n} else {\n    msg.payload=null;\n}\n\nreturn msg;    \n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 965,
        "y": 600,
        "wires": [
            [
                "cb309dcd.1bca4"
            ]
        ]
    },
    {
        "id": "105a48c8.0920e7",
        "type": "function",
        "z": "b9aee244.570dc",
        "name": "",
        "func": "var wc_donne = flow.get('wc_donne')||0;\n\nif (msg.payload===0) {\n    if (wc_donne===0) {\n        msg.topic=\"toa/lights/7/set_value\";\n        msg.payload=1;\n        wc_donne=1;\n        flow.set('wc_donne',wc_donne)\n    } else {\n        msg.topic=\"toa/lights/7/set_value\";\n        msg.payload=0;\n        wc_donne=0;\n        flow.set('wc_donne',wc_donne)\n    }\n} else {\n    msg.payload=null;\n}\n\nreturn msg;    \n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 965,
        "y": 650,
        "wires": [
            [
                "cb309dcd.1bca4"
            ]
        ]
    },
    {
        "id": "46f037b4.614358",
        "type": "mqtt in",
        "z": "9a56a685.0b3558",
        "name": "",
        "topic": "toa/assorbimenti/VL1-FT",
        "qos": "2",
        "broker": "86a1cd35.744c2",
        "x": 185,
        "y": 445,
        "wires": [
            []
        ]
    },
    {
        "id": "6950ad7d.a8f2c4",
        "type": "mqtt in",
        "z": "9a56a685.0b3558",
        "name": "",
        "topic": "toa/assorbimenti/VL2-FT",
        "qos": "2",
        "broker": "86a1cd35.744c2",
        "x": 185,
        "y": 495,
        "wires": [
            []
        ]
    },
    {
        "id": "4ca4343.39f4fcc",
        "type": "mqtt in",
        "z": "9a56a685.0b3558",
        "name": "",
        "topic": "toa/assorbimenti/VL3-FT",
        "qos": "2",
        "broker": "86a1cd35.744c2",
        "x": 185,
        "y": 545,
        "wires": [
            []
        ]
    },
    {
        "id": "fd6bc618.e21668",
        "type": "comment",
        "z": "9a56a685.0b3558",
        "name": "Misuratore trifase Fotovoltaico",
        "info": "",
        "x": 195,
        "y": 405,
        "wires": []
    },
    {
        "id": "73194d8d.03fff4",
        "type": "mqtt in",
        "z": "9a56a685.0b3558",
        "name": "",
        "topic": "toa/assorbimenti/VL1-GEN",
        "qos": "2",
        "broker": "86a1cd35.744c2",
        "x": 185,
        "y": 75,
        "wires": [
            []
        ]
    },
    {
        "id": "352894b7.3ffc7c",
        "type": "mqtt in",
        "z": "9a56a685.0b3558",
        "name": "",
        "topic": "toa/assorbimenti/VL2-GEN",
        "qos": "2",
        "broker": "86a1cd35.744c2",
        "x": 185,
        "y": 125,
        "wires": [
            []
        ]
    },
    {
        "id": "17c28da2.96cdc2",
        "type": "mqtt in",
        "z": "9a56a685.0b3558",
        "name": "",
        "topic": "toa/assorbimenti/VL3-GEN",
        "qos": "2",
        "broker": "86a1cd35.744c2",
        "x": 185,
        "y": 175,
        "wires": [
            []
        ]
    },
    {
        "id": "f2043e1c.57036",
        "type": "comment",
        "z": "9a56a685.0b3558",
        "name": "Misuratore trifase QE Generale",
        "info": "",
        "x": 205,
        "y": 35,
        "wires": []
    },
    {
        "id": "707fac7f.720174",
        "type": "mqtt in",
        "z": "9a56a685.0b3558",
        "name": "",
        "topic": "toa/assorbimenti/KW1-GEN",
        "qos": "2",
        "broker": "86a1cd35.744c2",
        "x": 195,
        "y": 230,
        "wires": [
            [
                "3467c21c.61cede"
            ]
        ]
    },
    {
        "id": "aa37d9ce.edc8c8",
        "type": "mqtt in",
        "z": "9a56a685.0b3558",
        "name": "",
        "topic": "toa/assorbimenti/KW2-GEN",
        "qos": "2",
        "broker": "86a1cd35.744c2",
        "x": 195,
        "y": 280,
        "wires": [
            [
                "c629b0d.b2d025"
            ]
        ]
    },
    {
        "id": "f4758f7f.62fb7",
        "type": "mqtt in",
        "z": "9a56a685.0b3558",
        "name": "",
        "topic": "toa/assorbimenti/KW3-GEN",
        "qos": "2",
        "broker": "86a1cd35.744c2",
        "x": 195,
        "y": 330,
        "wires": [
            [
                "8361fedf.7973a"
            ]
        ]
    },
    {
        "id": "93350d2e.d0e06",
        "type": "mqtt in",
        "z": "9a56a685.0b3558",
        "name": "",
        "topic": "toa/assorbimenti/KWL1-FT",
        "qos": "2",
        "broker": "86a1cd35.744c2",
        "x": 185,
        "y": 600,
        "wires": [
            [
                "7677fb0d.fe5d04"
            ]
        ]
    },
    {
        "id": "31e05043.e8306",
        "type": "mqtt in",
        "z": "9a56a685.0b3558",
        "name": "",
        "topic": "toa/assorbimenti/KWL2-FT",
        "qos": "2",
        "broker": "86a1cd35.744c2",
        "x": 185,
        "y": 650,
        "wires": [
            [
                "445b307c.8647f"
            ]
        ]
    },
    {
        "id": "74faef4f.9533",
        "type": "mqtt in",
        "z": "9a56a685.0b3558",
        "name": "",
        "topic": "toa/assorbimenti/KWL3-FT",
        "qos": "2",
        "broker": "86a1cd35.744c2",
        "x": 185,
        "y": 700,
        "wires": [
            [
                "e6c2d75a.ba06a8"
            ]
        ]
    },
    {
        "id": "da1ecdf9.5c62d",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Lettura Pulsanti fisici",
        "info": "",
        "x": 860,
        "y": 560,
        "wires": []
    },
    {
        "id": "f1879a7.cab5b68",
        "type": "mqtt out",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "topic": "toa/cm3panel",
        "qos": "",
        "retain": "true",
        "broker": "86a1cd35.744c2",
        "x": 990,
        "y": 1845,
        "wires": []
    },
    {
        "id": "2b01c1fd.5d838e",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "Telegram2mqtt",
        "func": "content=msg.payload[\"content\"];\nmsg.payload={\"cmd\":\"message\",\"value\":content}\nnode.status({text:content});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 1805,
        "wires": [
            [
                "f1879a7.cab5b68"
            ]
        ]
    },
    {
        "id": "2c0215df.d9600a",
        "type": "chatbot-telegram-receive",
        "z": "9baf0a1c.2eb568",
        "bot": "4833e069.009da",
        "botProduction": "",
        "x": 155,
        "y": 160,
        "wires": [
            [
                "93261e74.fb31e",
                "cd5f3fe0.4ca8e"
            ]
        ]
    },
    {
        "id": "8e00a2e5.52358",
        "type": "chatbot-telegram-send",
        "z": "9baf0a1c.2eb568",
        "bot": "4833e069.009da",
        "botProduction": "4833e069.009da",
        "track": false,
        "passThrough": false,
        "outputs": 0,
        "x": 1040,
        "y": 1650,
        "wires": []
    },
    {
        "id": "bb296c75.6d0f6",
        "type": "mqtt out",
        "z": "b9aee244.570dc",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "86a1cd35.744c2",
        "x": 1280,
        "y": 130,
        "wires": []
    },
    {
        "id": "92200da6.69dc8",
        "type": "inject",
        "z": "9baf0a1c.2eb568",
        "name": "Welcome message",
        "topic": "",
        "payload": "Benvenuti in Acme Systems",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 570,
        "y": 1845,
        "wires": [
            [
                "3faa6a18.17fb16"
            ]
        ]
    },
    {
        "id": "3faa6a18.17fb16",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "Text to JSON",
        "func": "content=msg.payload;\nmsg.payload={\"cmd\":\"message\",\"value\":content}\nnode.status({text:content});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 1845,
        "wires": [
            [
                "f1879a7.cab5b68"
            ]
        ]
    },
    {
        "id": "9e968d97.df504",
        "type": "link in",
        "z": "b9aee244.570dc",
        "name": "mqtt_relay",
        "links": [
            "9a5e1d5f.99637",
            "30a554b4.bc666c",
            "eae555d3.bde108",
            "c551a438.7caba8",
            "bb7ecf29.d8d38",
            "4ffd9064.558b",
            "754a9ffd.9e21b",
            "1cf2895b.f07237",
            "435de856.883668",
            "ac9c39e6.ba5218",
            "cb309dcd.1bca4",
            "5ff67e50.c8c93",
            "1889247a.4dfd2c",
            "3a1de492.400fac",
            "fafa0ada.7aab98",
            "a5c2793a.539ef8",
            "8759dc81.87d51",
            "fe8971ee.7073c",
            "c8a1cce4.333d2",
            "7559c8a2.9de798",
            "d8377df5.d142d",
            "ea12d423.13f4d8",
            "cc1f22ab.da4ca",
            "b499b4b7.775a48",
            "ca765209.0bac2",
            "76cf4858.1c3298",
            "e6c4f1d8.57174",
            "249ce012.89255",
            "547aace9.a09654",
            "bfa7c981.62b368",
            "132f19ea.4aca26",
            "c89c1660.29d788",
            "ffecf8c9.ca21d8",
            "467279f1.91cce8",
            "f9eafcc8.5e15e",
            "8d723377.717f2",
            "80bb1f3c.9bb31",
            "e1cd2941.b90e08",
            "da965d04.73313"
        ],
        "x": 565,
        "y": 90,
        "wires": [
            [
                "8c7724f5.b5fd28"
            ]
        ]
    },
    {
        "id": "cb309dcd.1bca4",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "",
        "links": [
            "9e968d97.df504"
        ],
        "x": 1070,
        "y": 620,
        "wires": []
    },
    {
        "id": "e7a00ab5.b5dfe8",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "All ON",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 840,
        "y": 435,
        "wires": [
            [
                "abfef57c.099778"
            ]
        ]
    },
    {
        "id": "16b10ab2.c6c615",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "All OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 840,
        "y": 470,
        "wires": [
            [
                "abfef57c.099778"
            ]
        ]
    },
    {
        "id": "953fe4.07f9902",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "Init",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "x": 840,
        "y": 400,
        "wires": [
            [
                "abfef57c.099778"
            ]
        ]
    },
    {
        "id": "abfef57c.099778",
        "type": "function",
        "z": "b9aee244.570dc",
        "name": "LightInit",
        "func": "var light_state = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\nvar outputMsgs = [];\n\nfor (i=0;i<light_state.length;i++) {\n    light_state[i]=msg.payload;\n}\n\nglobal.set('light_state',light_state);\n\nfor (i=0;i<light_state.length;i++) {\n    light_id=i+1;\n    outputMsgs.push({payload:light_state[i],topic:\"toa/lights/\" + light_id + \"/set_value\"});\n}\nreturn [outputMsgs];\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 435,
        "wires": [
            [
                "a633cc1b.0a726"
            ]
        ]
    },
    {
        "id": "a633cc1b.0a726",
        "type": "mqtt out",
        "z": "b9aee244.570dc",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "86a1cd35.744c2",
        "x": 1175,
        "y": 435,
        "wires": []
    },
    {
        "id": "43f61970.e0c258",
        "type": "inject",
        "z": "b6f275f1.f50b78",
        "name": "Restart Chromium",
        "topic": "",
        "payload": "sudo systemctl restart chromium",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 185,
        "wires": [
            [
                "eb2cee49.922f8"
            ]
        ]
    },
    {
        "id": "eb2cee49.922f8",
        "type": "mqtt out",
        "z": "b6f275f1.f50b78",
        "name": "",
        "topic": "toa/cm3shell",
        "qos": "",
        "retain": "",
        "broker": "86a1cd35.744c2",
        "x": 445,
        "y": 170,
        "wires": []
    },
    {
        "id": "23b25717.ae3698",
        "type": "inject",
        "z": "b6f275f1.f50b78",
        "name": "Reboot",
        "topic": "",
        "payload": "sudo reboot",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 145,
        "wires": [
            [
                "eb2cee49.922f8"
            ]
        ]
    },
    {
        "id": "11314bb4.4dfc04",
        "type": "inject",
        "z": "b6f275f1.f50b78",
        "name": "Halt",
        "topic": "",
        "payload": "sudo halt",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 105,
        "wires": [
            [
                "eb2cee49.922f8"
            ]
        ]
    },
    {
        "id": "b13243cd.0bffb",
        "type": "inject",
        "z": "b6f275f1.f50b78",
        "name": "Roadrunner",
        "topic": "toa/cm3panel",
        "payload": "{\"cmd\":\"loadvideo\",\"value\":\"roadrunner.mov\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 225,
        "y": 495,
        "wires": [
            [
                "e0926b23.e33988"
            ]
        ]
    },
    {
        "id": "1bb36094.38399f",
        "type": "inject",
        "z": "b6f275f1.f50b78",
        "name": "Caleidoscope",
        "topic": "toa/cm3panel",
        "payload": "{\"cmd\":\"loadvideo\",\"value\":\"caleidoscope.mov\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 225,
        "y": 540,
        "wires": [
            [
                "e0926b23.e33988"
            ]
        ]
    },
    {
        "id": "8005abf8.f3e178",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Scrivania Daniela",
        "topic": "sonoff-s26/002/cmnd/POWER",
        "qos": "0",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 865,
        "y": 155,
        "wires": []
    },
    {
        "id": "94ce369c.ed06d8",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Scrivania Tiziana",
        "topic": "sonoff-s26/003/cmnd/POWER",
        "qos": "0",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 865,
        "y": 215,
        "wires": []
    },
    {
        "id": "d1e7ee37.cab1d",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana Sergio",
        "topic": "sonoff-s26/001/cmnd/POWER",
        "qos": "0",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 855,
        "y": 95,
        "wires": []
    },
    {
        "id": "50389c13.58fa94",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 4",
        "topic": "sonoff-s26/004/cmnd/POWER",
        "qos": "0",
        "retain": "",
        "broker": "86a1cd35.744c2",
        "x": 845,
        "y": 280,
        "wires": []
    },
    {
        "id": "88aaefb7.2d9de",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Scrivania Roberto",
        "topic": "sonoff-s26/005/cmnd/POWER",
        "qos": "0",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 865,
        "y": 335,
        "wires": []
    },
    {
        "id": "30384a4a.94f2e6",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "",
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 425,
        "y": 1660,
        "wires": [
            [
                "e68b51a0.caf07"
            ]
        ]
    },
    {
        "id": "a9d1cc63.b1db5",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p1",
        "links": [
            "f904996f.bcb418",
            "e68b51a0.caf07",
            "36eb1659.1d97ca",
            "7dddccda.0ab114",
            "5d266980.d3d598",
            "2f48bb03.7482d4"
        ],
        "x": 725,
        "y": 95,
        "wires": [
            [
                "d1e7ee37.cab1d"
            ]
        ]
    },
    {
        "id": "c395faa7.bbc678",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p2",
        "links": [
            "7531ac05.da3114",
            "e68b51a0.caf07",
            "36eb1659.1d97ca",
            "b48813be.81ad8",
            "5d266980.d3d598",
            "7a65814d.c7468"
        ],
        "x": 725,
        "y": 155,
        "wires": [
            [
                "8005abf8.f3e178"
            ]
        ]
    },
    {
        "id": "b9c797af.9ef868",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p3",
        "links": [
            "e849a56b.3fc218",
            "e68b51a0.caf07",
            "36eb1659.1d97ca",
            "adc88079.49cf7",
            "5d266980.d3d598",
            "7a65814d.c7468"
        ],
        "x": 725,
        "y": 215,
        "wires": [
            [
                "94ce369c.ed06d8"
            ]
        ]
    },
    {
        "id": "634ba040.4d8a3",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p4",
        "links": [
            "e4f28175.58895",
            "e68b51a0.caf07",
            "36eb1659.1d97ca",
            "b66ca16d.25f23",
            "5d266980.d3d598",
            "7a65814d.c7468"
        ],
        "x": 725,
        "y": 280,
        "wires": [
            [
                "50389c13.58fa94"
            ]
        ]
    },
    {
        "id": "a2d5b14d.104ad",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p5",
        "links": [
            "9596bf02.00b9d",
            "e68b51a0.caf07",
            "36eb1659.1d97ca",
            "7fe70003.06a72",
            "5d266980.d3d598",
            "7a65814d.c7468"
        ],
        "x": 725,
        "y": 335,
        "wires": [
            [
                "88aaefb7.2d9de"
            ]
        ]
    },
    {
        "id": "e68b51a0.caf07",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "634ba040.4d8a3",
            "a2d5b14d.104ad",
            "a9d1cc63.b1db5",
            "b9c797af.9ef868",
            "c395faa7.bbc678",
            "e825f4d3.53f1b8",
            "573ba97d.d9f028",
            "8e849101.8fb97",
            "64997e04.7e757",
            "a1bb8f47.a185c",
            "b7d60835.36dc18",
            "4cacbd68.2d32c4",
            "8846ea7a.7df7f8",
            "517962ba.6a64dc",
            "65c6ec3c.148f44",
            "8c6de6b1.a08438",
            "63238336.18dd8c",
            "1322341e.ab432c",
            "b1d0ef20.69b01",
            "6eb75a0a.c13974",
            "eb56f00e.bc387",
            "83d9c307.2edc6",
            "f2a29010.954f3",
            "a183a430.ff4ec8",
            "ce99d9f2.600988"
        ],
        "x": 520,
        "y": 1690,
        "wires": []
    },
    {
        "id": "ea9b3a20.492e28",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "",
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 425,
        "y": 1705,
        "wires": [
            [
                "e68b51a0.caf07"
            ]
        ]
    },
    {
        "id": "4f658776.af3d08",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Packaging",
        "topic": "sonoff-s26/006/cmnd/POWER",
        "qos": "0",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 840,
        "y": 395,
        "wires": []
    },
    {
        "id": "e825f4d3.53f1b8",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p6",
        "links": [
            "cede38b4.36f4d8",
            "e68b51a0.caf07",
            "36eb1659.1d97ca",
            "a5363a70.962ba8",
            "5d266980.d3d598",
            "7a65814d.c7468"
        ],
        "x": 720,
        "y": 395,
        "wires": [
            [
                "4f658776.af3d08"
            ]
        ]
    },
    {
        "id": "270f5472.be03cc",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 7",
        "topic": "sonoff-s26/007/cmnd/POWER",
        "qos": "0",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 840,
        "y": 455,
        "wires": []
    },
    {
        "id": "573ba97d.d9f028",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p7",
        "links": [
            "3a1d21f0.c92dde",
            "e68b51a0.caf07",
            "36eb1659.1d97ca",
            "2ed268fd.c55898",
            "5d266980.d3d598",
            "2f48bb03.7482d4"
        ],
        "x": 720,
        "y": 455,
        "wires": [
            [
                "270f5472.be03cc"
            ]
        ]
    },
    {
        "id": "4af758af.638448",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 8",
        "topic": "sonoff-s26/008/cmnd/POWER",
        "qos": "0",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 840,
        "y": 515,
        "wires": []
    },
    {
        "id": "8e849101.8fb97",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p8",
        "links": [
            "75036d9.b337194",
            "e68b51a0.caf07",
            "36eb1659.1d97ca",
            "d5f6a0cc.a1da2",
            "5d266980.d3d598",
            "ff0f577.45f6aa8"
        ],
        "x": 720,
        "y": 515,
        "wires": [
            [
                "4af758af.638448"
            ]
        ]
    },
    {
        "id": "40834a73.620374",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 9",
        "topic": "sonoff-s26/009/cmnd/POWER",
        "qos": "1",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 840,
        "y": 575,
        "wires": []
    },
    {
        "id": "64997e04.7e757",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p9",
        "links": [
            "7f34ee2b.e4f47",
            "e68b51a0.caf07",
            "36eb1659.1d97ca",
            "11025a42.7de296",
            "5d266980.d3d598",
            "97562ceb.d6e04"
        ],
        "x": 720,
        "y": 575,
        "wires": [
            [
                "40834a73.620374"
            ]
        ]
    },
    {
        "id": "4d7ff848.db5958",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 10",
        "topic": "sonoff-s26/010/cmnd/POWER",
        "qos": "1",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 840,
        "y": 635,
        "wires": []
    },
    {
        "id": "a1bb8f47.a185c",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p10",
        "links": [
            "e68b51a0.caf07",
            "ed439b4e.545618",
            "36eb1659.1d97ca",
            "c244026e.2e285",
            "5d266980.d3d598",
            "7a65814d.c7468"
        ],
        "x": 720,
        "y": 635,
        "wires": [
            [
                "4d7ff848.db5958"
            ]
        ]
    },
    {
        "id": "79c390b9.d60ca",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 11",
        "topic": "sonoff-s26/011/cmnd/POWER",
        "qos": "1",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 840,
        "y": 695,
        "wires": []
    },
    {
        "id": "b7d60835.36dc18",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p11",
        "links": [
            "726d0d64.4f3504",
            "e68b51a0.caf07",
            "36eb1659.1d97ca",
            "2f965cf1.e1ecd4",
            "5d266980.d3d598",
            "2f48bb03.7482d4"
        ],
        "x": 720,
        "y": 695,
        "wires": [
            [
                "79c390b9.d60ca"
            ]
        ]
    },
    {
        "id": "48c6250e.5eef1c",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 12",
        "topic": "sonoff-s26/012/cmnd/POWER",
        "qos": "1",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 840,
        "y": 755,
        "wires": []
    },
    {
        "id": "4cacbd68.2d32c4",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p12",
        "links": [
            "e68b51a0.caf07",
            "f208c4e2.f63fb8",
            "36eb1659.1d97ca",
            "626631f8.10fbd",
            "5d266980.d3d598",
            "7a65814d.c7468"
        ],
        "x": 720,
        "y": 755,
        "wires": [
            [
                "48c6250e.5eef1c"
            ]
        ]
    },
    {
        "id": "d298586e.0b9e68",
        "type": "chatbot-inline-buttons",
        "z": "9baf0a1c.2eb568",
        "name": "Menu Principale",
        "buttons": [
            {
                "type": "postback",
                "label": "Piantane",
                "value": "/piantane",
                "answer": "",
                "alert": false,
                "style": "default"
            },
            {
                "type": "postback",
                "label": "Luci",
                "value": "/luci",
                "answer": "",
                "alert": false,
                "style": "primary"
            },
            {
                "type": "postback",
                "label": "Termo",
                "value": "/termo",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "newline"
            },
            {
                "type": "postback",
                "label": "KW",
                "value": "/kwtot",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "Chromium",
                "value": "/chromium_restart",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "CM3 Reboot",
                "value": "/cm3_reboot",
                "answer": "",
                "alert": false,
                "style": ""
            }
        ],
        "message": "Seleziona:",
        "x": 780,
        "y": 1570,
        "wires": [
            [
                "8e00a2e5.52358"
            ]
        ]
    },
    {
        "id": "87a7f406.c0a038",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "pid=msg.payload.substring(5,8);\nmsg.topic=\"sonoff-s26/\" + pid + \"/cmnd/POWER\";\nmsg.payload=\"ON\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 120,
        "wires": [
            [
                "fcffa9d8.594658"
            ]
        ]
    },
    {
        "id": "93261e74.fb31e",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "Filtro utenti",
        "func": "\nif (msg.payload[\"chatId\"]===112957351 || msg.payload[\"chatId\"]===77690704 ) {\n    node.status({fill:\"green\",shape:\"dot\",text:msg.payload[\"userId\"]});\n    return [msg,null];\n} else {\n    node.status({fill:\"red\",shape:\"dot\",text:msg.payload[\"userId\"]});\n    return [null,msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "x": 375,
        "y": 160,
        "wires": [
            [
                "bcc21cb5.f9046",
                "9923dbbf.00ff88"
            ],
            []
        ]
    },
    {
        "id": "7dddccda.0ab114",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "a9d1cc63.b1db5"
        ],
        "x": 570,
        "y": 95,
        "wires": []
    },
    {
        "id": "b48813be.81ad8",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "c395faa7.bbc678"
        ],
        "x": 570,
        "y": 155,
        "wires": []
    },
    {
        "id": "b66ca16d.25f23",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "634ba040.4d8a3"
        ],
        "x": 570,
        "y": 280,
        "wires": []
    },
    {
        "id": "7fe70003.06a72",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "a2d5b14d.104ad"
        ],
        "x": 570,
        "y": 335,
        "wires": []
    },
    {
        "id": "a5363a70.962ba8",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "e825f4d3.53f1b8"
        ],
        "x": 570,
        "y": 395,
        "wires": []
    },
    {
        "id": "2ed268fd.c55898",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "573ba97d.d9f028"
        ],
        "x": 570,
        "y": 455,
        "wires": []
    },
    {
        "id": "d5f6a0cc.a1da2",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "8e849101.8fb97"
        ],
        "x": 570,
        "y": 515,
        "wires": []
    },
    {
        "id": "11025a42.7de296",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "64997e04.7e757"
        ],
        "x": 570,
        "y": 575,
        "wires": []
    },
    {
        "id": "c244026e.2e285",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "a1bb8f47.a185c"
        ],
        "x": 570,
        "y": 640,
        "wires": []
    },
    {
        "id": "2f965cf1.e1ecd4",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "b7d60835.36dc18"
        ],
        "x": 570,
        "y": 700,
        "wires": []
    },
    {
        "id": "626631f8.10fbd",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "4cacbd68.2d32c4"
        ],
        "x": 570,
        "y": 760,
        "wires": []
    },
    {
        "id": "a9dcfecc.75539",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "8846ea7a.7df7f8"
        ],
        "x": 570,
        "y": 820,
        "wires": []
    },
    {
        "id": "5bdb226b.833fdc",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 13",
        "topic": "sonoff-s26/013/cmnd/POWER",
        "qos": "1",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 840,
        "y": 815,
        "wires": []
    },
    {
        "id": "8846ea7a.7df7f8",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p13",
        "links": [
            "36eb1659.1d97ca",
            "a9dcfecc.75539",
            "e68b51a0.caf07",
            "5d266980.d3d598",
            "225d5b2d.e0a904"
        ],
        "x": 720,
        "y": 815,
        "wires": [
            [
                "5bdb226b.833fdc"
            ]
        ]
    },
    {
        "id": "7ecd0ce6.337a84",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 14",
        "topic": "sonoff-s26/014/cmnd/POWER",
        "qos": "1",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 840,
        "y": 875,
        "wires": []
    },
    {
        "id": "517962ba.6a64dc",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p14",
        "links": [
            "36eb1659.1d97ca",
            "e68b51a0.caf07",
            "a20bacfb.66774",
            "5d266980.d3d598",
            "ff0f577.45f6aa8"
        ],
        "x": 720,
        "y": 875,
        "wires": [
            [
                "7ecd0ce6.337a84"
            ]
        ]
    },
    {
        "id": "a20bacfb.66774",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "517962ba.6a64dc"
        ],
        "x": 570,
        "y": 880,
        "wires": []
    },
    {
        "id": "94200718.87f7a8",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "65c6ec3c.148f44"
        ],
        "x": 570,
        "y": 935,
        "wires": []
    },
    {
        "id": "7aa13f8a.3467c",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "8c6de6b1.a08438"
        ],
        "x": 570,
        "y": 1000,
        "wires": []
    },
    {
        "id": "44a46e0f.2dde9",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "63238336.18dd8c"
        ],
        "x": 570,
        "y": 1060,
        "wires": []
    },
    {
        "id": "95855d29.4fe5e",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "1322341e.ab432c"
        ],
        "x": 565,
        "y": 1125,
        "wires": []
    },
    {
        "id": "1b7bb282.08114d",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 15",
        "topic": "sonoff-s26/015/cmnd/POWER",
        "qos": "1",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 840,
        "y": 935,
        "wires": []
    },
    {
        "id": "65c6ec3c.148f44",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p15",
        "links": [
            "36eb1659.1d97ca",
            "94200718.87f7a8",
            "e68b51a0.caf07",
            "5d266980.d3d598",
            "ff0f577.45f6aa8"
        ],
        "x": 720,
        "y": 935,
        "wires": [
            [
                "1b7bb282.08114d"
            ]
        ]
    },
    {
        "id": "e87b5b62.91ef88",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 16",
        "topic": "sonoff-s26/016/cmnd/POWER",
        "qos": "1",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 835,
        "y": 1000,
        "wires": []
    },
    {
        "id": "8c6de6b1.a08438",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p16",
        "links": [
            "36eb1659.1d97ca",
            "7aa13f8a.3467c",
            "e68b51a0.caf07",
            "5d266980.d3d598",
            "ff0f577.45f6aa8"
        ],
        "x": 715,
        "y": 1000,
        "wires": [
            [
                "e87b5b62.91ef88"
            ]
        ]
    },
    {
        "id": "5a977eec.85851",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 17",
        "topic": "sonoff-s26/017/cmnd/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 835,
        "y": 1060,
        "wires": []
    },
    {
        "id": "63238336.18dd8c",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p17",
        "links": [
            "36eb1659.1d97ca",
            "44a46e0f.2dde9",
            "e68b51a0.caf07",
            "5d266980.d3d598",
            "2f48bb03.7482d4"
        ],
        "x": 715,
        "y": 1060,
        "wires": [
            [
                "5a977eec.85851"
            ]
        ]
    },
    {
        "id": "7e2550fe.3ef0e",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 18",
        "topic": "sonoff-s26/018/cmnd/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 835,
        "y": 1120,
        "wires": []
    },
    {
        "id": "1322341e.ab432c",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p18",
        "links": [
            "36eb1659.1d97ca",
            "95855d29.4fe5e",
            "e68b51a0.caf07",
            "5d266980.d3d598",
            "ff0f577.45f6aa8"
        ],
        "x": 715,
        "y": 1120,
        "wires": [
            [
                "7e2550fe.3ef0e"
            ]
        ]
    },
    {
        "id": "dcde4387.13c38",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "b1d0ef20.69b01"
        ],
        "x": 565,
        "y": 1180,
        "wires": []
    },
    {
        "id": "747b9c96.710d54",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Benito",
        "topic": "sonoff-s26/019/cmnd/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 815,
        "y": 1175,
        "wires": []
    },
    {
        "id": "b1d0ef20.69b01",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p19",
        "links": [
            "36eb1659.1d97ca",
            "dcde4387.13c38",
            "e68b51a0.caf07",
            "5d266980.d3d598",
            "7a65814d.c7468"
        ],
        "x": 715,
        "y": 1175,
        "wires": [
            [
                "747b9c96.710d54"
            ]
        ]
    },
    {
        "id": "69a0b6ac.306e68",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "6eb75a0a.c13974"
        ],
        "x": 565,
        "y": 1240,
        "wires": []
    },
    {
        "id": "c9a25a04.36e748",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 20",
        "topic": "sonoff-s26/020/cmnd/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 835,
        "y": 1235,
        "wires": []
    },
    {
        "id": "6eb75a0a.c13974",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p20",
        "links": [
            "36eb1659.1d97ca",
            "69a0b6ac.306e68",
            "e68b51a0.caf07",
            "5d266980.d3d598",
            "2f48bb03.7482d4"
        ],
        "x": 715,
        "y": 1235,
        "wires": [
            [
                "c9a25a04.36e748"
            ]
        ]
    },
    {
        "id": "503e3198.f8e8c",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 21",
        "topic": "sonoff-s26/021/cmnd/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 835,
        "y": 1295,
        "wires": []
    },
    {
        "id": "eb56f00e.bc387",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p21",
        "links": [
            "36eb1659.1d97ca",
            "c7fa3f1a.39d8f",
            "e68b51a0.caf07",
            "5d266980.d3d598",
            "2f48bb03.7482d4"
        ],
        "x": 715,
        "y": 1295,
        "wires": [
            [
                "503e3198.f8e8c"
            ]
        ]
    },
    {
        "id": "c7fa3f1a.39d8f",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "eb56f00e.bc387"
        ],
        "x": 565,
        "y": 1300,
        "wires": []
    },
    {
        "id": "f213b1b8.b2259",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 22",
        "topic": "sonoff-s26/022/cmnd/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 835,
        "y": 1355,
        "wires": []
    },
    {
        "id": "83d9c307.2edc6",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p22",
        "links": [
            "12bf40f1.6c6adf",
            "36eb1659.1d97ca",
            "e68b51a0.caf07",
            "5d266980.d3d598",
            "2f48bb03.7482d4"
        ],
        "x": 715,
        "y": 1355,
        "wires": [
            [
                "f213b1b8.b2259"
            ]
        ]
    },
    {
        "id": "12bf40f1.6c6adf",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "83d9c307.2edc6"
        ],
        "x": 565,
        "y": 1360,
        "wires": []
    },
    {
        "id": "2f2831de.737cfe",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Sergio",
        "topic": "sonoff-s26/023/cmnd/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 815,
        "y": 1415,
        "wires": []
    },
    {
        "id": "f2a29010.954f3",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p23",
        "links": [
            "2901872b.b20e38",
            "36eb1659.1d97ca",
            "e68b51a0.caf07",
            "5d266980.d3d598",
            "7a65814d.c7468"
        ],
        "x": 715,
        "y": 1415,
        "wires": [
            [
                "2f2831de.737cfe"
            ]
        ]
    },
    {
        "id": "2901872b.b20e38",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "f2a29010.954f3"
        ],
        "x": 565,
        "y": 1420,
        "wires": []
    },
    {
        "id": "bfacff21.e455b",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 24",
        "topic": "sonoff-s26/024/cmnd/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 835,
        "y": 1475,
        "wires": []
    },
    {
        "id": "a183a430.ff4ec8",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p24",
        "links": [
            "30df147d.3f62ec",
            "36eb1659.1d97ca",
            "e68b51a0.caf07",
            "5d266980.d3d598",
            "2f48bb03.7482d4"
        ],
        "x": 715,
        "y": 1475,
        "wires": [
            [
                "bfacff21.e455b"
            ]
        ]
    },
    {
        "id": "30df147d.3f62ec",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "a183a430.ff4ec8"
        ],
        "x": 565,
        "y": 1480,
        "wires": []
    },
    {
        "id": "c3c8e0e7.057a7",
        "type": "mqtt out",
        "z": "6d96a905.566d28",
        "name": "Piantana 25",
        "topic": "sonoff-s26/025/cmnd/POWER",
        "qos": "2",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 835,
        "y": 1535,
        "wires": []
    },
    {
        "id": "ce99d9f2.600988",
        "type": "link in",
        "z": "6d96a905.566d28",
        "name": "p25",
        "links": [
            "36eb1659.1d97ca",
            "ce050578.d3e2a8",
            "e68b51a0.caf07",
            "5d266980.d3d598",
            "2f48bb03.7482d4"
        ],
        "x": 715,
        "y": 1535,
        "wires": [
            [
                "c3c8e0e7.057a7"
            ]
        ]
    },
    {
        "id": "ce050578.d3e2a8",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "ce99d9f2.600988"
        ],
        "x": 565,
        "y": 1540,
        "wires": []
    },
    {
        "id": "e17650c0.e5068",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/start",
        "x": 570,
        "y": 1570,
        "wires": [
            [
                "d298586e.0b9e68"
            ]
        ]
    },
    {
        "id": "5641d0c5.fb917",
        "type": "chatbot-inline-buttons",
        "z": "9baf0a1c.2eb568",
        "name": "Menu Piantane",
        "buttons": [
            {
                "type": "postback",
                "label": "Scale ON",
                "value": "/piantane_scale_on",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "Scale OFF",
                "value": "/piantane_scale_off",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "newline"
            },
            {
                "type": "postback",
                "label": "Uffici ON",
                "value": "/piantane_uffici_on",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "Uffici OFF",
                "value": "/piantane_uffici_off",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "newline"
            },
            {
                "type": "postback",
                "label": "Sala ON",
                "value": "/piantane_sala_on",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "Sala OFF",
                "value": "/piantane_sala_off",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "newline"
            },
            {
                "type": "postback",
                "label": "Tutte ON",
                "value": "/piantane_all_on",
                "answer": "",
                "alert": false,
                "style": "default"
            },
            {
                "type": "postback",
                "label": "Tutte OFF",
                "value": "/piantane_all_off",
                "answer": "",
                "alert": false,
                "style": "primary"
            },
            {
                "type": "newline"
            },
            {
                "type": "postback",
                "label": "Torna al menu",
                "value": "/start",
                "answer": "",
                "alert": false,
                "style": ""
            }
        ],
        "message": "Piantane:",
        "x": 780,
        "y": 1610,
        "wires": [
            [
                "8e00a2e5.52358"
            ]
        ]
    },
    {
        "id": "c882df04.8b6bf",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/piantane",
        "x": 580,
        "y": 1610,
        "wires": [
            [
                "5641d0c5.fb917"
            ]
        ]
    },
    {
        "id": "fcffa9d8.594658",
        "type": "mqtt out",
        "z": "9baf0a1c.2eb568",
        "name": "MQTT Sonoff",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "86a1cd35.744c2",
        "x": 1195,
        "y": 150,
        "wires": []
    },
    {
        "id": "389a0655.c1263a",
        "type": "switch",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "/P-1-",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "/P-0-",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 745,
        "y": 160,
        "wires": [
            [
                "87a7f406.c0a038"
            ],
            [
                "2226cf19.54ef9"
            ]
        ]
    },
    {
        "id": "2226cf19.54ef9",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "pid=msg.payload.substring(5,8);\nmsg.topic=\"sonoff-s26/\" + pid + \"/cmnd/POWER\";\nmsg.payload=\"OFF\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 175,
        "wires": [
            [
                "fcffa9d8.594658"
            ]
        ]
    },
    {
        "id": "e44f8d97.a5f04",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/piantane_all_on",
        "x": 775,
        "y": 225,
        "wires": [
            [
                "f8a95d3e.23ccb"
            ]
        ]
    },
    {
        "id": "f8a95d3e.23ccb",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=\"ON\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 975,
        "y": 225,
        "wires": [
            [
                "5d266980.d3d598"
            ]
        ]
    },
    {
        "id": "44310fcd.cad22",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/piantane_all_off",
        "x": 775,
        "y": 265,
        "wires": [
            [
                "a8078ad9.fa1828"
            ]
        ]
    },
    {
        "id": "a8078ad9.fa1828",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=\"OFF\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 975,
        "y": 265,
        "wires": [
            [
                "5d266980.d3d598"
            ]
        ]
    },
    {
        "id": "5d266980.d3d598",
        "type": "link out",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "1322341e.ab432c",
            "4cacbd68.2d32c4",
            "517962ba.6a64dc",
            "573ba97d.d9f028",
            "63238336.18dd8c",
            "634ba040.4d8a3",
            "64997e04.7e757",
            "65c6ec3c.148f44",
            "6eb75a0a.c13974",
            "83d9c307.2edc6",
            "8846ea7a.7df7f8",
            "8c6de6b1.a08438",
            "8e849101.8fb97",
            "a183a430.ff4ec8",
            "a1bb8f47.a185c",
            "a2d5b14d.104ad",
            "a9d1cc63.b1db5",
            "b1d0ef20.69b01",
            "b7d60835.36dc18",
            "b9c797af.9ef868",
            "c395faa7.bbc678",
            "ce99d9f2.600988",
            "e825f4d3.53f1b8",
            "eb56f00e.bc387",
            "f2a29010.954f3"
        ],
        "x": 1105,
        "y": 245,
        "wires": []
    },
    {
        "id": "15ce5d81.5ad132",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/piantane_uffici_on",
        "x": 785,
        "y": 315,
        "wires": [
            [
                "1a4e965.efb506a"
            ]
        ]
    },
    {
        "id": "1a4e965.efb506a",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=\"ON\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 975,
        "y": 315,
        "wires": [
            [
                "2f48bb03.7482d4"
            ]
        ]
    },
    {
        "id": "46ddf4a6.27b6ec",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/piantane_uffici_off",
        "x": 785,
        "y": 355,
        "wires": [
            [
                "e8c4fd5f.92c16"
            ]
        ]
    },
    {
        "id": "e8c4fd5f.92c16",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=\"OFF\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 975,
        "y": 355,
        "wires": [
            [
                "2f48bb03.7482d4"
            ]
        ]
    },
    {
        "id": "2f48bb03.7482d4",
        "type": "link out",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "573ba97d.d9f028",
            "63238336.18dd8c",
            "6eb75a0a.c13974",
            "83d9c307.2edc6",
            "a183a430.ff4ec8",
            "a9d1cc63.b1db5",
            "b7d60835.36dc18",
            "ce99d9f2.600988",
            "eb56f00e.bc387"
        ],
        "x": 1105,
        "y": 335,
        "wires": []
    },
    {
        "id": "ac0e888b.358da8",
        "type": "inject",
        "z": "b6f275f1.f50b78",
        "name": "None",
        "topic": "toa/cm3panel",
        "payload": "{\"cmd\":\"loadvideo\",\"value\":\"\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 205,
        "y": 585,
        "wires": [
            [
                "e0926b23.e33988"
            ]
        ]
    },
    {
        "id": "f4c5aed1.6503f",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/piantane_scale_on",
        "x": 785,
        "y": 405,
        "wires": [
            [
                "7c4fe616.d97578"
            ]
        ]
    },
    {
        "id": "7c4fe616.d97578",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=\"ON\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 975,
        "y": 405,
        "wires": [
            [
                "ff0f577.45f6aa8"
            ]
        ]
    },
    {
        "id": "3516917c.04252e",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/piantane_scale_off",
        "x": 785,
        "y": 445,
        "wires": [
            [
                "81cccd91.a96fe"
            ]
        ]
    },
    {
        "id": "81cccd91.a96fe",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=\"OFF\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 975,
        "y": 445,
        "wires": [
            [
                "ff0f577.45f6aa8"
            ]
        ]
    },
    {
        "id": "ff0f577.45f6aa8",
        "type": "link out",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "1322341e.ab432c",
            "517962ba.6a64dc",
            "65c6ec3c.148f44",
            "8c6de6b1.a08438",
            "8e849101.8fb97"
        ],
        "x": 1105,
        "y": 425,
        "wires": []
    },
    {
        "id": "bcc21cb5.f9046",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=msg.payload[\"content\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 565,
        "y": 160,
        "wires": [
            [
                "389a0655.c1263a"
            ]
        ]
    },
    {
        "id": "a78eb2a9.ac7a7",
        "type": "mqtt out",
        "z": "9baf0a1c.2eb568",
        "name": "Scala",
        "topic": "toa/lights/3/set_value",
        "qos": "",
        "retain": "",
        "broker": "86a1cd35.744c2",
        "x": 1490,
        "y": 150,
        "wires": []
    },
    {
        "id": "bc33b3.c35c7c5",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/luce_scala_on",
        "x": 785,
        "y": 785,
        "wires": [
            [
                "21b5792c.514ce6"
            ]
        ]
    },
    {
        "id": "6f72ec00.98eb44",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/luce_scala_off",
        "x": 785,
        "y": 825,
        "wires": [
            [
                "7c37d1a4.66f99"
            ]
        ]
    },
    {
        "id": "21b5792c.514ce6",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=255;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 785,
        "wires": [
            [
                "aaf23979.247128"
            ]
        ]
    },
    {
        "id": "7c37d1a4.66f99",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 825,
        "wires": [
            [
                "aaf23979.247128"
            ]
        ]
    },
    {
        "id": "c9decf58.39811",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "l3",
        "links": [
            "aaf23979.247128"
        ],
        "x": 1370,
        "y": 150,
        "wires": [
            [
                "a78eb2a9.ac7a7"
            ]
        ]
    },
    {
        "id": "aaf23979.247128",
        "type": "link out",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "c9decf58.39811"
        ],
        "x": 1110,
        "y": 805,
        "wires": []
    },
    {
        "id": "d2dd3d6e.750a5",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/luci",
        "x": 570,
        "y": 1650,
        "wires": [
            [
                "c486619b.98b87"
            ]
        ]
    },
    {
        "id": "c486619b.98b87",
        "type": "chatbot-inline-buttons",
        "z": "9baf0a1c.2eb568",
        "name": "Menu Luci",
        "buttons": [
            {
                "type": "postback",
                "label": "Scale ON",
                "value": "/luce_scala_on",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "Scale OFF",
                "value": "/luce_scala_off",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "newline"
            },
            {
                "type": "postback",
                "label": "Uffici ON",
                "value": "/luce_uffici_on",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "Uffici OFF",
                "value": "/luce_uffici_off",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "newline"
            },
            {
                "type": "postback",
                "label": "Cucina ON",
                "value": "/luce_cucina_on",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "Cucina OFF",
                "value": "/luce_cucina_off",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "newline"
            },
            {
                "type": "postback",
                "label": "Sala ON",
                "value": "/luce_sala_on",
                "answer": "",
                "alert": false,
                "style": "default"
            },
            {
                "type": "postback",
                "label": "Sala OFF",
                "value": "/luce_sala_off",
                "answer": "",
                "alert": false,
                "style": "primary"
            },
            {
                "type": "newline"
            },
            {
                "type": "postback",
                "label": "WC donne ON",
                "value": "/luce_wcdonne_on",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "WC donne OFF",
                "value": "/luce_wcdonne_off",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "newline"
            },
            {
                "type": "postback",
                "label": "WC uomini ON",
                "value": "/luce_wcuomini_on",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "WC uomini OFF",
                "value": "/luce_wcuomini_off",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "newline"
            },
            {
                "type": "postback",
                "label": "Torna al menu",
                "value": "/start",
                "answer": "",
                "alert": false,
                "style": ""
            }
        ],
        "message": "Luci:",
        "x": 770,
        "y": 1650,
        "wires": [
            [
                "8e00a2e5.52358"
            ]
        ]
    },
    {
        "id": "bfa51167.8b959",
        "type": "mqtt out",
        "z": "9baf0a1c.2eb568",
        "name": "Sala",
        "topic": "toa/lights/10/set_value",
        "qos": "",
        "retain": "",
        "broker": "86a1cd35.744c2",
        "x": 1490,
        "y": 195,
        "wires": []
    },
    {
        "id": "82b141b3.a5ca7",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "l10",
        "links": [
            "83f24cc4.8d709"
        ],
        "x": 1370,
        "y": 195,
        "wires": [
            [
                "bfa51167.8b959"
            ]
        ]
    },
    {
        "id": "834f2500.c3d288",
        "type": "mqtt out",
        "z": "9baf0a1c.2eb568",
        "name": "Cucina",
        "topic": "toa/lights/11/set_value",
        "qos": "",
        "retain": "",
        "broker": "86a1cd35.744c2",
        "x": 1500,
        "y": 240,
        "wires": []
    },
    {
        "id": "3c5dbf07.7b11a",
        "type": "mqtt out",
        "z": "9baf0a1c.2eb568",
        "name": "Uffici",
        "topic": "toa/lights/12/set_value",
        "qos": "",
        "retain": "",
        "broker": "86a1cd35.744c2",
        "x": 1490,
        "y": 285,
        "wires": []
    },
    {
        "id": "376f201f.38bc2",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "l11",
        "links": [
            "e0f469dd.9c0478"
        ],
        "x": 1370,
        "y": 240,
        "wires": [
            [
                "834f2500.c3d288"
            ]
        ]
    },
    {
        "id": "4d30f721.273e78",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "l12",
        "links": [
            "15ae219d.a28bde"
        ],
        "x": 1370,
        "y": 285,
        "wires": [
            [
                "3c5dbf07.7b11a"
            ]
        ]
    },
    {
        "id": "72768295.3555ec",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/luce_sala_on",
        "x": 785,
        "y": 870,
        "wires": [
            [
                "2ef3d6c0.7e984a"
            ]
        ]
    },
    {
        "id": "353aaac.88a8956",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/luce_sala_off",
        "x": 785,
        "y": 910,
        "wires": [
            [
                "cf095bc5.8358b8"
            ]
        ]
    },
    {
        "id": "2ef3d6c0.7e984a",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=255;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 870,
        "wires": [
            [
                "83f24cc4.8d709"
            ]
        ]
    },
    {
        "id": "cf095bc5.8358b8",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 910,
        "wires": [
            [
                "83f24cc4.8d709"
            ]
        ]
    },
    {
        "id": "83f24cc4.8d709",
        "type": "link out",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "82b141b3.a5ca7"
        ],
        "x": 1110,
        "y": 890,
        "wires": []
    },
    {
        "id": "4d0572b8.ab426c",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/luce_cucina_on",
        "x": 785,
        "y": 950,
        "wires": [
            [
                "5177f1e.df8a41"
            ]
        ]
    },
    {
        "id": "c6e0188f.e1bd98",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/luce_cucina_off",
        "x": 785,
        "y": 990,
        "wires": [
            [
                "b5d6d92.497a828"
            ]
        ]
    },
    {
        "id": "5177f1e.df8a41",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=255;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 950,
        "wires": [
            [
                "e0f469dd.9c0478"
            ]
        ]
    },
    {
        "id": "b5d6d92.497a828",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 990,
        "wires": [
            [
                "e0f469dd.9c0478"
            ]
        ]
    },
    {
        "id": "e0f469dd.9c0478",
        "type": "link out",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "376f201f.38bc2"
        ],
        "x": 1110,
        "y": 970,
        "wires": []
    },
    {
        "id": "fc283bd1.9e5278",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/luce_uffici_on",
        "x": 785,
        "y": 1035,
        "wires": [
            [
                "9fb4668f.451cb8"
            ]
        ]
    },
    {
        "id": "24ee59a3.39c2a6",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/luce_uffici_off",
        "x": 785,
        "y": 1075,
        "wires": [
            [
                "444637fe.f46478"
            ]
        ]
    },
    {
        "id": "9fb4668f.451cb8",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=255;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 1035,
        "wires": [
            [
                "15ae219d.a28bde"
            ]
        ]
    },
    {
        "id": "444637fe.f46478",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 1075,
        "wires": [
            [
                "15ae219d.a28bde"
            ]
        ]
    },
    {
        "id": "15ae219d.a28bde",
        "type": "link out",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "4d30f721.273e78"
        ],
        "x": 1115,
        "y": 1055,
        "wires": []
    },
    {
        "id": "2759c913.bca256",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/luce_wcdonne_on",
        "x": 795,
        "y": 1115,
        "wires": [
            [
                "f6ee4e83.37016"
            ]
        ]
    },
    {
        "id": "90212bd5.ad5578",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/luce_wcdonne_off",
        "x": 795,
        "y": 1155,
        "wires": [
            [
                "4ffa9053.1b922"
            ]
        ]
    },
    {
        "id": "f6ee4e83.37016",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=255;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 1115,
        "wires": [
            [
                "4614b3fe.ba4eac"
            ]
        ]
    },
    {
        "id": "4ffa9053.1b922",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 1155,
        "wires": [
            [
                "4614b3fe.ba4eac"
            ]
        ]
    },
    {
        "id": "4614b3fe.ba4eac",
        "type": "link out",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "7bf82f52.0f52d"
        ],
        "x": 1115,
        "y": 1135,
        "wires": []
    },
    {
        "id": "eb64acc3.47923",
        "type": "mqtt out",
        "z": "9baf0a1c.2eb568",
        "name": "WC donne",
        "topic": "toa/lights/7/set_value",
        "qos": "",
        "retain": "",
        "broker": "86a1cd35.744c2",
        "x": 1510,
        "y": 335,
        "wires": []
    },
    {
        "id": "7bf82f52.0f52d",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "l7",
        "links": [
            "4614b3fe.ba4eac"
        ],
        "x": 1370,
        "y": 335,
        "wires": [
            [
                "eb64acc3.47923"
            ]
        ]
    },
    {
        "id": "1c17eb7e.3ae965",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/luce_wcuomini_on",
        "x": 795,
        "y": 1195,
        "wires": [
            [
                "95d093de.066de"
            ]
        ]
    },
    {
        "id": "20472dbd.9fdc02",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/luce_wcuomini_off",
        "x": 795,
        "y": 1235,
        "wires": [
            [
                "f7031704.df5548"
            ]
        ]
    },
    {
        "id": "95d093de.066de",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=255;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 1195,
        "wires": [
            [
                "fb8c4732.c45928"
            ]
        ]
    },
    {
        "id": "f7031704.df5548",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 1235,
        "wires": [
            [
                "fb8c4732.c45928"
            ]
        ]
    },
    {
        "id": "fb8c4732.c45928",
        "type": "link out",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "3f4c5305.0f030c"
        ],
        "x": 1115,
        "y": 1215,
        "wires": []
    },
    {
        "id": "a990fe67.93507",
        "type": "mqtt out",
        "z": "9baf0a1c.2eb568",
        "name": "WC uomini",
        "topic": "toa/lights/6/set_value",
        "qos": "",
        "retain": "",
        "broker": "86a1cd35.744c2",
        "x": 1510,
        "y": 385,
        "wires": []
    },
    {
        "id": "3f4c5305.0f030c",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "l6",
        "links": [
            "fb8c4732.c45928"
        ],
        "x": 1370,
        "y": 385,
        "wires": [
            [
                "a990fe67.93507"
            ]
        ]
    },
    {
        "id": "4655d812.fd5288",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/termo",
        "x": 570,
        "y": 1690,
        "wires": [
            [
                "ff0a9cbf.b93c2"
            ]
        ]
    },
    {
        "id": "ff0a9cbf.b93c2",
        "type": "chatbot-inline-buttons",
        "z": "9baf0a1c.2eb568",
        "name": "Menu Termo",
        "buttons": [
            {
                "type": "postback",
                "label": "WC donne ON",
                "value": "/termo_wcdonne_on",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "WC donne OFF",
                "value": "/termo_wcdonne_off",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "newline"
            },
            {
                "type": "postback",
                "label": "WC uomini ON",
                "value": "/termo_wcuomini_on",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "postback",
                "label": "WC uomini OFF",
                "value": "/termo_wcuomini_off",
                "answer": "",
                "alert": false,
                "style": ""
            },
            {
                "type": "newline"
            },
            {
                "type": "postback",
                "label": "Torna al menu",
                "value": "/start",
                "answer": "",
                "alert": false,
                "style": ""
            }
        ],
        "message": "Termo:",
        "x": 770,
        "y": 1690,
        "wires": [
            [
                "8e00a2e5.52358"
            ]
        ]
    },
    {
        "id": "37088080.d704b",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/termo_wcdonne_on",
        "x": 800,
        "y": 590,
        "wires": [
            [
                "31376aed.ab9186"
            ]
        ]
    },
    {
        "id": "31376aed.ab9186",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=\"ON\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 590,
        "wires": [
            [
                "97562ceb.d6e04"
            ]
        ]
    },
    {
        "id": "8b8d391b.da1388",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/termo_wcdonne_off",
        "x": 800,
        "y": 630,
        "wires": [
            [
                "696c7fa8.4375d"
            ]
        ]
    },
    {
        "id": "696c7fa8.4375d",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=\"OFF\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 630,
        "wires": [
            [
                "97562ceb.d6e04"
            ]
        ]
    },
    {
        "id": "97562ceb.d6e04",
        "type": "link out",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "64997e04.7e757"
        ],
        "x": 1110,
        "y": 610,
        "wires": []
    },
    {
        "id": "9ba6232a.200af",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/termo_wcuomini_on",
        "x": 800,
        "y": 670,
        "wires": [
            [
                "e0b8927f.5b227"
            ]
        ]
    },
    {
        "id": "e0b8927f.5b227",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=\"ON\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 670,
        "wires": [
            [
                "225d5b2d.e0a904"
            ]
        ]
    },
    {
        "id": "764371f7.47555",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/termo_wcuomini_off",
        "x": 800,
        "y": 710,
        "wires": [
            [
                "c29ff3b6.a34d5"
            ]
        ]
    },
    {
        "id": "c29ff3b6.a34d5",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=\"OFF\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 710,
        "wires": [
            [
                "225d5b2d.e0a904"
            ]
        ]
    },
    {
        "id": "225d5b2d.e0a904",
        "type": "link out",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "8846ea7a.7df7f8"
        ],
        "x": 1110,
        "y": 690,
        "wires": []
    },
    {
        "id": "9923dbbf.00ff88",
        "type": "link out",
        "z": "9baf0a1c.2eb568",
        "name": "telegram_incoming",
        "links": [
            "229f616.75d139e",
            "9d91fde9.795df",
            "920610dc.e0e36",
            "3a71d422.d076cc",
            "2a9e1354.0fa96c",
            "baf822ef.b4a57",
            "d583a711.7ee1a8",
            "c666e752.744358",
            "a3d13e1d.33e9b",
            "1682d9be.092016",
            "1df5a952.2e3307",
            "711757b4.436048",
            "b601e0e4.a6866",
            "d28b141f.9ed728",
            "8e32e46f.88dc98",
            "8b70c510.973dc8",
            "f8ef77fd.a09d78",
            "93c173c1.2a304",
            "191642e5.57d08d",
            "7d7f25ef.d3241c",
            "d63a5b64.cfe228",
            "ffc5f8a9.01e168",
            "3e65c7a5.f0a8d8",
            "fd5de886.0bc258",
            "ba8184f3.b91358",
            "4710c802.51fe98",
            "a88ff39f.f16c4",
            "23c6e700.b0c6ba",
            "92cedd97.485f1",
            "9ea5be57.3d588",
            "2f62ea26.46a496",
            "f4b486fe.31d7e8"
        ],
        "x": 460,
        "y": 700,
        "wires": []
    },
    {
        "id": "229f616.75d139e",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 655,
        "y": 225,
        "wires": [
            [
                "e44f8d97.a5f04"
            ]
        ]
    },
    {
        "id": "9d91fde9.795df",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 655,
        "y": 265,
        "wires": [
            [
                "44310fcd.cad22"
            ]
        ]
    },
    {
        "id": "920610dc.e0e36",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 655,
        "y": 315,
        "wires": [
            [
                "15ce5d81.5ad132"
            ]
        ]
    },
    {
        "id": "3a71d422.d076cc",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 655,
        "y": 355,
        "wires": [
            [
                "46ddf4a6.27b6ec"
            ]
        ]
    },
    {
        "id": "2a9e1354.0fa96c",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 655,
        "y": 405,
        "wires": [
            [
                "f4c5aed1.6503f"
            ]
        ]
    },
    {
        "id": "baf822ef.b4a57",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 655,
        "y": 445,
        "wires": [
            [
                "3516917c.04252e"
            ]
        ]
    },
    {
        "id": "d583a711.7ee1a8",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 660,
        "y": 590,
        "wires": [
            [
                "37088080.d704b"
            ]
        ]
    },
    {
        "id": "c666e752.744358",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 660,
        "y": 630,
        "wires": [
            [
                "8b8d391b.da1388"
            ]
        ]
    },
    {
        "id": "a3d13e1d.33e9b",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 660,
        "y": 670,
        "wires": [
            [
                "9ba6232a.200af"
            ]
        ]
    },
    {
        "id": "1682d9be.092016",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 660,
        "y": 710,
        "wires": [
            [
                "764371f7.47555"
            ]
        ]
    },
    {
        "id": "1df5a952.2e3307",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 665,
        "y": 785,
        "wires": [
            [
                "bc33b3.c35c7c5"
            ]
        ]
    },
    {
        "id": "711757b4.436048",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 665,
        "y": 825,
        "wires": [
            [
                "6f72ec00.98eb44"
            ]
        ]
    },
    {
        "id": "b601e0e4.a6866",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 665,
        "y": 870,
        "wires": [
            [
                "72768295.3555ec"
            ]
        ]
    },
    {
        "id": "d28b141f.9ed728",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 665,
        "y": 910,
        "wires": [
            [
                "353aaac.88a8956"
            ]
        ]
    },
    {
        "id": "8e32e46f.88dc98",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 665,
        "y": 950,
        "wires": [
            [
                "4d0572b8.ab426c"
            ]
        ]
    },
    {
        "id": "8b70c510.973dc8",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 665,
        "y": 990,
        "wires": [
            [
                "c6e0188f.e1bd98"
            ]
        ]
    },
    {
        "id": "f8ef77fd.a09d78",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 665,
        "y": 1035,
        "wires": [
            [
                "fc283bd1.9e5278"
            ]
        ]
    },
    {
        "id": "93c173c1.2a304",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 665,
        "y": 1075,
        "wires": [
            [
                "24ee59a3.39c2a6"
            ]
        ]
    },
    {
        "id": "191642e5.57d08d",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 665,
        "y": 1115,
        "wires": [
            [
                "2759c913.bca256"
            ]
        ]
    },
    {
        "id": "7d7f25ef.d3241c",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 665,
        "y": 1155,
        "wires": [
            [
                "90212bd5.ad5578"
            ]
        ]
    },
    {
        "id": "d63a5b64.cfe228",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 665,
        "y": 1195,
        "wires": [
            [
                "1c17eb7e.3ae965"
            ]
        ]
    },
    {
        "id": "ffc5f8a9.01e168",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 665,
        "y": 1235,
        "wires": [
            [
                "20472dbd.9fdc02"
            ]
        ]
    },
    {
        "id": "3e65c7a5.f0a8d8",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 465,
        "y": 1570,
        "wires": [
            [
                "e17650c0.e5068"
            ]
        ]
    },
    {
        "id": "fd5de886.0bc258",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 465,
        "y": 1610,
        "wires": [
            [
                "c882df04.8b6bf"
            ]
        ]
    },
    {
        "id": "ba8184f3.b91358",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 465,
        "y": 1650,
        "wires": [
            [
                "d2dd3d6e.750a5"
            ]
        ]
    },
    {
        "id": "4710c802.51fe98",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 465,
        "y": 1690,
        "wires": [
            [
                "4655d812.fd5288"
            ]
        ]
    },
    {
        "id": "7e94f6bb.1978b8",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "var kw = parseFloat(global.get('KW-TOT')||\"0\");\nvar kwl = parseFloat(global.get('KWL-TOT')||\"0\");\n\nmsg.payload[\"content\"] = \"Solare \" + kwl + \" | Enel \" + kw;\nnode.status({fill:\"green\",shape:\"dot\",text:kwl});\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 1380,
        "wires": [
            [
                "8e00a2e5.52358"
            ]
        ]
    },
    {
        "id": "3467c21c.61cede",
        "type": "function",
        "z": "9a56a685.0b3558",
        "name": "KW1-GEN",
        "func": "global.set('KW1-GEN',msg.payload);\nnode.status({fill:\"green\",shape:\"dot\",text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 230,
        "wires": [
            [
                "4f064bcb.309aa4"
            ]
        ]
    },
    {
        "id": "4f064bcb.309aa4",
        "type": "function",
        "z": "9a56a685.0b3558",
        "name": "KW-TOT",
        "func": "var kw1 = parseFloat(global.get('KW1-GEN')||\"0\");\nvar kw2 = parseFloat(global.get('KW2-GEN')||\"0\");\nvar kw3 = parseFloat(global.get('KW3-GEN')||\"0\");\n\nvar kw=kw1+kw2+kw3;\n\nmsg.payload=kw.toFixed(3);\nglobal.set('KW-TOT',msg.payload);\nnode.status({fill:\"green\",shape:\"dot\",text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 645,
        "y": 280,
        "wires": [
            [
                "35228d90.2e27f2"
            ]
        ]
    },
    {
        "id": "c629b0d.b2d025",
        "type": "function",
        "z": "9a56a685.0b3558",
        "name": "KW2-GEN",
        "func": "global.set('KW2-GEN',msg.payload);\nnode.status({fill:\"green\",shape:\"dot\",text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "4f064bcb.309aa4"
            ]
        ]
    },
    {
        "id": "8361fedf.7973a",
        "type": "function",
        "z": "9a56a685.0b3558",
        "name": "KW3-GEN",
        "func": "global.set('KW3-GEN',msg.payload);\nnode.status({fill:\"green\",shape:\"dot\",text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 330,
        "wires": [
            [
                "4f064bcb.309aa4"
            ]
        ]
    },
    {
        "id": "35228d90.2e27f2",
        "type": "link out",
        "z": "9a56a685.0b3558",
        "name": "kwtot",
        "links": [
            "21028cdf.d8fb64"
        ],
        "x": 755,
        "y": 280,
        "wires": []
    },
    {
        "id": "9d1add5d.13f03",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/kwtot",
        "x": 775,
        "y": 1380,
        "wires": [
            [
                "7e94f6bb.1978b8"
            ]
        ]
    },
    {
        "id": "a88ff39f.f16c4",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 670,
        "y": 1380,
        "wires": [
            [
                "9d1add5d.13f03"
            ]
        ]
    },
    {
        "id": "b410cc0d.cc08b",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/piantane_sala_on",
        "x": 785,
        "y": 490,
        "wires": [
            [
                "69db5ba8.38a024"
            ]
        ]
    },
    {
        "id": "69db5ba8.38a024",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=\"ON\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 975,
        "y": 490,
        "wires": [
            [
                "7a65814d.c7468"
            ]
        ]
    },
    {
        "id": "fa8c364e.9511f8",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/piantane_sala_off",
        "x": 785,
        "y": 530,
        "wires": [
            [
                "26490f6b.160d1"
            ]
        ]
    },
    {
        "id": "26490f6b.160d1",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=\"OFF\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 975,
        "y": 530,
        "wires": [
            [
                "7a65814d.c7468"
            ]
        ]
    },
    {
        "id": "7a65814d.c7468",
        "type": "link out",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "4cacbd68.2d32c4",
            "634ba040.4d8a3",
            "a1bb8f47.a185c",
            "a2d5b14d.104ad",
            "b1d0ef20.69b01",
            "b9c797af.9ef868",
            "c395faa7.bbc678",
            "e825f4d3.53f1b8",
            "f2a29010.954f3"
        ],
        "x": 1105,
        "y": 510,
        "wires": []
    },
    {
        "id": "23c6e700.b0c6ba",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 655,
        "y": 490,
        "wires": [
            [
                "b410cc0d.cc08b"
            ]
        ]
    },
    {
        "id": "92cedd97.485f1",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 655,
        "y": 530,
        "wires": [
            [
                "fa8c364e.9511f8"
            ]
        ]
    },
    {
        "id": "cd5f3fe0.4ca8e",
        "type": "debug",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 230,
        "y": 415,
        "wires": []
    },
    {
        "id": "78703d9e.f94b74",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/10/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 765,
        "wires": [
            [
                "7559c8a2.9de798"
            ]
        ]
    },
    {
        "id": "b169865f.e49758",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/10/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 800,
        "wires": [
            [
                "7559c8a2.9de798"
            ]
        ]
    },
    {
        "id": "3ebc53b3.65067c",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 85,
        "wires": [
            [
                "7dddccda.0ab114"
            ]
        ]
    },
    {
        "id": "5e975daa.21d194",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 110,
        "wires": [
            [
                "7dddccda.0ab114"
            ]
        ]
    },
    {
        "id": "59735a3a.aeca54",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 145,
        "wires": [
            [
                "b48813be.81ad8"
            ]
        ]
    },
    {
        "id": "72d04ae4.c790e4",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 170,
        "wires": [
            [
                "b48813be.81ad8"
            ]
        ]
    },
    {
        "id": "3f886634.c168aa",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 205,
        "wires": [
            [
                "adc88079.49cf7"
            ]
        ]
    },
    {
        "id": "dcea5d17.160a3",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 230,
        "wires": [
            [
                "adc88079.49cf7"
            ]
        ]
    },
    {
        "id": "9cb6ab00.0d0a08",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 265,
        "wires": [
            [
                "b66ca16d.25f23"
            ]
        ]
    },
    {
        "id": "14bea0aa.b02fef",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 290,
        "wires": [
            [
                "b66ca16d.25f23"
            ]
        ]
    },
    {
        "id": "ccdd9889.ded018",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 325,
        "wires": [
            [
                "7fe70003.06a72"
            ]
        ]
    },
    {
        "id": "d44d8e18.8966e",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 350,
        "wires": [
            [
                "7fe70003.06a72"
            ]
        ]
    },
    {
        "id": "60509cf2.20bb94",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 385,
        "wires": [
            [
                "a5363a70.962ba8"
            ]
        ]
    },
    {
        "id": "facc789d.a79448",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 410,
        "wires": [
            [
                "a5363a70.962ba8"
            ]
        ]
    },
    {
        "id": "3a689742.ae1418",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 445,
        "wires": [
            [
                "2ed268fd.c55898"
            ]
        ]
    },
    {
        "id": "79fff373.3cf9ec",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 470,
        "wires": [
            [
                "2ed268fd.c55898"
            ]
        ]
    },
    {
        "id": "d6d23d5e.78926",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 505,
        "wires": [
            [
                "d5f6a0cc.a1da2"
            ]
        ]
    },
    {
        "id": "c2520629.51cf48",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 530,
        "wires": [
            [
                "d5f6a0cc.a1da2"
            ]
        ]
    },
    {
        "id": "737e12d0.88c97c",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 565,
        "wires": [
            [
                "11025a42.7de296"
            ]
        ]
    },
    {
        "id": "991b2650.d5b948",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 590,
        "wires": [
            [
                "11025a42.7de296"
            ]
        ]
    },
    {
        "id": "de600e68.2c3fb",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 625,
        "wires": [
            [
                "c244026e.2e285"
            ]
        ]
    },
    {
        "id": "d875c33e.451b5",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 650,
        "wires": [
            [
                "c244026e.2e285"
            ]
        ]
    },
    {
        "id": "eaa6ebd9.7ba478",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 685,
        "wires": [
            [
                "2f965cf1.e1ecd4"
            ]
        ]
    },
    {
        "id": "43c0ece2.e3f9b4",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 710,
        "wires": [
            [
                "2f965cf1.e1ecd4"
            ]
        ]
    },
    {
        "id": "87617e1d.2caba",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 745,
        "wires": [
            [
                "626631f8.10fbd"
            ]
        ]
    },
    {
        "id": "b1352ff9.ae1a6",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 770,
        "wires": [
            [
                "626631f8.10fbd"
            ]
        ]
    },
    {
        "id": "641c36a5.2cdc48",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 805,
        "wires": [
            [
                "a9dcfecc.75539"
            ]
        ]
    },
    {
        "id": "9ddd5a92.4a7528",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 830,
        "wires": [
            [
                "a9dcfecc.75539"
            ]
        ]
    },
    {
        "id": "fa299207.d6dc5",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 865,
        "wires": [
            [
                "a20bacfb.66774"
            ]
        ]
    },
    {
        "id": "6d5a3615.f04048",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 890,
        "wires": [
            [
                "a20bacfb.66774"
            ]
        ]
    },
    {
        "id": "f2eb4acb.3e5fa8",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 925,
        "wires": [
            [
                "94200718.87f7a8"
            ]
        ]
    },
    {
        "id": "f991fccc.480de",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 950,
        "wires": [
            [
                "94200718.87f7a8"
            ]
        ]
    },
    {
        "id": "b0696b06.d92a68",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 985,
        "wires": [
            [
                "7aa13f8a.3467c"
            ]
        ]
    },
    {
        "id": "acd371ac.5fed6",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1010,
        "wires": [
            [
                "7aa13f8a.3467c"
            ]
        ]
    },
    {
        "id": "3e0be446.25d54c",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1045,
        "wires": [
            [
                "44a46e0f.2dde9"
            ]
        ]
    },
    {
        "id": "b89d9254.d2002",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1070,
        "wires": [
            [
                "44a46e0f.2dde9"
            ]
        ]
    },
    {
        "id": "a0c8244d.1b5a48",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1105,
        "wires": [
            [
                "95855d29.4fe5e"
            ]
        ]
    },
    {
        "id": "f9f527c3.474688",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1130,
        "wires": [
            [
                "95855d29.4fe5e"
            ]
        ]
    },
    {
        "id": "20820cf4.5dc5a4",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1165,
        "wires": [
            [
                "dcde4387.13c38"
            ]
        ]
    },
    {
        "id": "a2e1d8f7.8a5d08",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1190,
        "wires": [
            [
                "dcde4387.13c38"
            ]
        ]
    },
    {
        "id": "73cdd5e3.e8b41c",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1225,
        "wires": [
            [
                "69a0b6ac.306e68"
            ]
        ]
    },
    {
        "id": "53372704.e34e08",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1250,
        "wires": [
            [
                "69a0b6ac.306e68"
            ]
        ]
    },
    {
        "id": "a81c641c.38ed08",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1285,
        "wires": [
            [
                "c7fa3f1a.39d8f"
            ]
        ]
    },
    {
        "id": "240a405e.a496f",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1310,
        "wires": [
            [
                "c7fa3f1a.39d8f"
            ]
        ]
    },
    {
        "id": "388eef69.f88b6",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1345,
        "wires": [
            [
                "12bf40f1.6c6adf"
            ]
        ]
    },
    {
        "id": "9cb9bf00.dd833",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1370,
        "wires": [
            [
                "12bf40f1.6c6adf"
            ]
        ]
    },
    {
        "id": "68a33399.bfc05c",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1405,
        "wires": [
            [
                "2901872b.b20e38"
            ]
        ]
    },
    {
        "id": "90ac5cc9.dca82",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1430,
        "wires": [
            [
                "2901872b.b20e38"
            ]
        ]
    },
    {
        "id": "34495f99.58507",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1465,
        "wires": [
            [
                "30df147d.3f62ec"
            ]
        ]
    },
    {
        "id": "572257e8.36eb38",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1490,
        "wires": [
            [
                "30df147d.3f62ec"
            ]
        ]
    },
    {
        "id": "de538246.08874",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "ON",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1525,
        "wires": [
            [
                "ce050578.d3e2a8"
            ]
        ]
    },
    {
        "id": "7b3454e2.f263cc",
        "type": "inject",
        "z": "6d96a905.566d28",
        "name": "OFF",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 1550,
        "wires": [
            [
                "ce050578.d3e2a8"
            ]
        ]
    },
    {
        "id": "8d9d80f6.75c8b",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/chromium_restart",
        "x": 795,
        "y": 1275,
        "wires": [
            [
                "568db65a.21d598"
            ]
        ]
    },
    {
        "id": "9ea5be57.3d588",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 665,
        "y": 1275,
        "wires": [
            [
                "8d9d80f6.75c8b"
            ]
        ]
    },
    {
        "id": "568db65a.21d598",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=\"sudo systemctl restart chromium\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 1275,
        "wires": [
            [
                "2d0075b2.02d58a"
            ]
        ]
    },
    {
        "id": "646b550b.1c49bc",
        "type": "link in",
        "z": "b6f275f1.f50b78",
        "name": "cm3panelshell",
        "links": [
            "2d0075b2.02d58a",
            "7340e949.5a0d58"
        ],
        "x": 225,
        "y": 230,
        "wires": [
            [
                "eb2cee49.922f8"
            ]
        ]
    },
    {
        "id": "2d0075b2.02d58a",
        "type": "link out",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "646b550b.1c49bc"
        ],
        "x": 1110,
        "y": 1275,
        "wires": []
    },
    {
        "id": "25ffc6e4.c8b05a",
        "type": "chatbot-command",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "command": "/cm3_reboot",
        "x": 775,
        "y": 1315,
        "wires": [
            [
                "f844cfe5.bb87f"
            ]
        ]
    },
    {
        "id": "2f62ea26.46a496",
        "type": "link in",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "9923dbbf.00ff88"
        ],
        "x": 665,
        "y": 1315,
        "wires": [
            [
                "25ffc6e4.c8b05a"
            ]
        ]
    },
    {
        "id": "f844cfe5.bb87f",
        "type": "function",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "func": "msg.payload=\"sudo reboot\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 1315,
        "wires": [
            [
                "7340e949.5a0d58"
            ]
        ]
    },
    {
        "id": "7340e949.5a0d58",
        "type": "link out",
        "z": "9baf0a1c.2eb568",
        "name": "",
        "links": [
            "646b550b.1c49bc"
        ],
        "x": 1110,
        "y": 1315,
        "wires": []
    },
    {
        "id": "7677fb0d.fe5d04",
        "type": "function",
        "z": "9a56a685.0b3558",
        "name": "KWL1-GEN",
        "func": "global.set('KWL1-GEN',msg.payload);\nnode.status({fill:\"green\",shape:\"dot\",text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 600,
        "wires": [
            [
                "fc9a63f.9f9e7a"
            ]
        ]
    },
    {
        "id": "fc9a63f.9f9e7a",
        "type": "function",
        "z": "9a56a685.0b3558",
        "name": "KWL-TOT",
        "func": "var kw1 = parseFloat(global.get('KWL1-GEN')||\"0\");\nvar kw2 = parseFloat(global.get('KWL2-GEN')||\"0\");\nvar kw3 = parseFloat(global.get('KWL3-GEN')||\"0\");\n\nvar kw=kw1+kw2+kw3;\n\nmsg.payload=kw.toFixed(3);\nglobal.set('KWL-TOT',msg.payload);\nnode.status({fill:\"green\",shape:\"dot\",text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 645,
        "y": 650,
        "wires": [
            [
                "d4a10cec.9cd46"
            ]
        ]
    },
    {
        "id": "445b307c.8647f",
        "type": "function",
        "z": "9a56a685.0b3558",
        "name": "KWL2-GEN",
        "func": "global.set('KWL2-GEN',msg.payload);\nnode.status({fill:\"green\",shape:\"dot\",text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 650,
        "wires": [
            [
                "fc9a63f.9f9e7a"
            ]
        ]
    },
    {
        "id": "e6c2d75a.ba06a8",
        "type": "function",
        "z": "9a56a685.0b3558",
        "name": "KWL3-GEN",
        "func": "global.set('KWL3-GEN',msg.payload);\nnode.status({fill:\"green\",shape:\"dot\",text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 700,
        "wires": [
            [
                "fc9a63f.9f9e7a"
            ]
        ]
    },
    {
        "id": "d4a10cec.9cd46",
        "type": "link out",
        "z": "9a56a685.0b3558",
        "name": "kwtot",
        "links": [
            "21028cdf.d8fb64"
        ],
        "x": 755,
        "y": 650,
        "wires": []
    },
    {
        "id": "adc88079.49cf7",
        "type": "link out",
        "z": "6d96a905.566d28",
        "name": "",
        "links": [
            "b9c797af.9ef868"
        ],
        "x": 570,
        "y": 215,
        "wires": []
    },
    {
        "id": "7559c8a2.9de798",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "links": [
            "9e968d97.df504"
        ],
        "x": 440,
        "y": 765,
        "wires": []
    },
    {
        "id": "395a341b.f4eb5c",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/17/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1300,
        "wires": [
            [
                "d8377df5.d142d"
            ]
        ]
    },
    {
        "id": "a213caad.0939b8",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/17/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1335,
        "wires": [
            [
                "d8377df5.d142d"
            ]
        ]
    },
    {
        "id": "d8377df5.d142d",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "",
        "links": [
            "9e968d97.df504"
        ],
        "x": 445,
        "y": 1315,
        "wires": []
    },
    {
        "id": "6391e88d.282278",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Gestione MQTT relay su scheda Denkovi id da 1 a 16",
        "info": "",
        "x": 1190,
        "y": 50,
        "wires": []
    },
    {
        "id": "4a6c361f.d1e718",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Gestione MQTT sonoff S26 id da 17 a 27",
        "info": "",
        "x": 1150,
        "y": 205,
        "wires": []
    },
    {
        "id": "e902ec21.409c",
        "type": "function",
        "z": "b9aee244.570dc",
        "name": "Sonoff gateway",
        "func": "var res = msg.topic.split(\"/\");\nvar msg1={};\n\nlight_id=parseInt(res[2]);\nlight_value=parseInt(msg.payload);\n\nif (light_id>=17 && light_id<=27) {\n\n    if (light_id==17)\n        sonoff_id=\"023\";\n\n    if (light_id==18)\n        sonoff_id=\"005\";\n    \n    if (light_id==19)\n        sonoff_id=\"019\";\n\n    if (light_id==20)\n        sonoff_id=\"006\";\n\n    if (light_id==21)\n        sonoff_id=\"003\";\n\n    if (light_id==22)\n        sonoff_id=\"002\";\n\n    if (light_id==23)\n        sonoff_id=\"008\";\n\n    if (light_id==24)\n        sonoff_id=\"024\";\n\n    if (light_id==25)\n        sonoff_id=\"011\";\n\n    if (light_id==26)\n        sonoff_id=\"001\";\n\n    if (light_id==27)\n        sonoff_id=\"021\";\n\n    if (light_value===0)\n        msg.payload=\"OFF\";\n    else    \n        msg.payload=\"ON\";\n\n    msg.topic=\"sonoff-s26/\" + sonoff_id + \"/cmnd/POWER\";\n\n    msg1.topic=\"toa/lights/\" + light_id + \"/current_value\";\n    msg1.payload=light_value;\n\n    return [msg,msg1];\n}  \n",
        "outputs": 2,
        "noerr": 0,
        "x": 1070,
        "y": 245,
        "wires": [
            [
                "36ec5fa3.81444"
            ],
            [
                "24a3599a.00fa86"
            ]
        ]
    },
    {
        "id": "36ec5fa3.81444",
        "type": "mqtt out",
        "z": "b9aee244.570dc",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "86a1cd35.744c2",
        "x": 1285,
        "y": 245,
        "wires": []
    },
    {
        "id": "24a3599a.00fa86",
        "type": "mqtt out",
        "z": "b9aee244.570dc",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "86a1cd35.744c2",
        "x": 1285,
        "y": 300,
        "wires": []
    },
    {
        "id": "21751a45.bef676",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "info": "",
        "x": 170,
        "y": 765,
        "wires": []
    },
    {
        "id": "f31b65ee.bf9898",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/10/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 990,
        "wires": [
            [
                "cc1f22ab.da4ca"
            ]
        ]
    },
    {
        "id": "6ad73e5a.c9dd",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/10/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1025,
        "wires": [
            [
                "cc1f22ab.da4ca"
            ]
        ]
    },
    {
        "id": "cc1f22ab.da4ca",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "links": [
            "9e968d97.df504"
        ],
        "x": 440,
        "y": 990,
        "wires": []
    },
    {
        "id": "6a49ed99.98fa84",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Gialla 13",
        "info": "",
        "x": 160,
        "y": 990,
        "wires": []
    },
    {
        "id": "3a5132e.53e05ce",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/1/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 90,
        "wires": [
            [
                "b499b4b7.775a48"
            ]
        ]
    },
    {
        "id": "eca92a20.a9ba68",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/1/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 125,
        "wires": [
            [
                "b499b4b7.775a48"
            ]
        ]
    },
    {
        "id": "b499b4b7.775a48",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "links": [
            "9e968d97.df504"
        ],
        "x": 440,
        "y": 90,
        "wires": []
    },
    {
        "id": "fe86e74d.6e24e8",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Terrazzino 1",
        "info": "",
        "x": 150,
        "y": 90,
        "wires": []
    },
    {
        "id": "7f797a38.2c26a4",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/2/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 165,
        "wires": [
            [
                "ca765209.0bac2"
            ]
        ]
    },
    {
        "id": "b1645e22.32ab2",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/2/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 200,
        "wires": [
            [
                "ca765209.0bac2"
            ]
        ]
    },
    {
        "id": "ca765209.0bac2",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "links": [
            "9e968d97.df504"
        ],
        "x": 440,
        "y": 165,
        "wires": []
    },
    {
        "id": "bb9bc981.585458",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Terrazzone 2",
        "info": "",
        "x": 150,
        "y": 165,
        "wires": []
    },
    {
        "id": "a675e7f1.3d7ac8",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/3/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 240,
        "wires": [
            [
                "76cf4858.1c3298"
            ]
        ]
    },
    {
        "id": "fb7301eb.17ef",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/3/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 275,
        "wires": [
            [
                "76cf4858.1c3298"
            ]
        ]
    },
    {
        "id": "76cf4858.1c3298",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "links": [
            "9e968d97.df504"
        ],
        "x": 440,
        "y": 240,
        "wires": []
    },
    {
        "id": "aa31484f.705d18",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Scala 3",
        "info": "",
        "x": 170,
        "y": 240,
        "wires": []
    },
    {
        "id": "c43a4590.cbc538",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/4/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 315,
        "wires": [
            [
                "e6c4f1d8.57174"
            ]
        ]
    },
    {
        "id": "cee05f0c.3775",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/4/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 350,
        "wires": [
            [
                "e6c4f1d8.57174"
            ]
        ]
    },
    {
        "id": "e6c4f1d8.57174",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "links": [
            "9e968d97.df504"
        ],
        "x": 440,
        "y": 315,
        "wires": []
    },
    {
        "id": "e7e41f9f.9966a",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Bar 4",
        "info": "",
        "x": 170,
        "y": 315,
        "wires": []
    },
    {
        "id": "aad6e1da.1f484",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/5/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 390,
        "wires": [
            [
                "249ce012.89255"
            ]
        ]
    },
    {
        "id": "869cf6d4.504af8",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/5/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 425,
        "wires": [
            [
                "249ce012.89255"
            ]
        ]
    },
    {
        "id": "249ce012.89255",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "links": [
            "9e968d97.df504"
        ],
        "x": 440,
        "y": 390,
        "wires": []
    },
    {
        "id": "59e0bbf8.6817b4",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Pensile 5",
        "info": "",
        "x": 160,
        "y": 390,
        "wires": []
    },
    {
        "id": "a5f8a1a0.eefc",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/6/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 465,
        "wires": [
            [
                "547aace9.a09654"
            ]
        ]
    },
    {
        "id": "85f895ec.657d38",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/6/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 500,
        "wires": [
            [
                "547aace9.a09654"
            ]
        ]
    },
    {
        "id": "547aace9.a09654",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "links": [
            "9e968d97.df504"
        ],
        "x": 440,
        "y": 465,
        "wires": []
    },
    {
        "id": "270643ed.e11e2c",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Bagno uomini 6",
        "info": "",
        "x": 140,
        "y": 465,
        "wires": []
    },
    {
        "id": "74cf51fb.57742",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/7/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 540,
        "wires": [
            [
                "bfa7c981.62b368"
            ]
        ]
    },
    {
        "id": "bf98a7c.a9fd158",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/7/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 575,
        "wires": [
            [
                "bfa7c981.62b368"
            ]
        ]
    },
    {
        "id": "bfa7c981.62b368",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "links": [
            "9e968d97.df504"
        ],
        "x": 440,
        "y": 540,
        "wires": []
    },
    {
        "id": "f9b1889b.e57138",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Bagno donne 7",
        "info": "",
        "x": 140,
        "y": 540,
        "wires": []
    },
    {
        "id": "d1b521cd.ede11",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/8/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 615,
        "wires": [
            [
                "132f19ea.4aca26"
            ]
        ]
    },
    {
        "id": "3634b749.cc3188",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/8/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 650,
        "wires": [
            [
                "132f19ea.4aca26"
            ]
        ]
    },
    {
        "id": "132f19ea.4aca26",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "links": [
            "9e968d97.df504"
        ],
        "x": 440,
        "y": 615,
        "wires": []
    },
    {
        "id": "44099ac2.e04434",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Specchio uomini 8",
        "info": "",
        "x": 130,
        "y": 615,
        "wires": []
    },
    {
        "id": "af9b2bf1.cb6b88",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/9/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 690,
        "wires": [
            [
                "c89c1660.29d788"
            ]
        ]
    },
    {
        "id": "de88f06a.55e08",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/9/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 725,
        "wires": [
            [
                "c89c1660.29d788"
            ]
        ]
    },
    {
        "id": "c89c1660.29d788",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "links": [
            "9e968d97.df504"
        ],
        "x": 440,
        "y": 690,
        "wires": []
    },
    {
        "id": "75850c04.b62e04",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Specchio donne 9",
        "info": "",
        "x": 130,
        "y": 690,
        "wires": []
    },
    {
        "id": "46285514.89a9ec",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/11/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 840,
        "wires": [
            [
                "ffecf8c9.ca21d8"
            ]
        ]
    },
    {
        "id": "dd21e705.3155f8",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/11/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 875,
        "wires": [
            [
                "ffecf8c9.ca21d8"
            ]
        ]
    },
    {
        "id": "ffecf8c9.ca21d8",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "links": [
            "9e968d97.df504"
        ],
        "x": 440,
        "y": 840,
        "wires": []
    },
    {
        "id": "1dba887f.d15348",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Cucina 11",
        "info": "",
        "x": 160,
        "y": 840,
        "wires": []
    },
    {
        "id": "22e17d1f.5b3042",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/12/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 915,
        "wires": [
            [
                "467279f1.91cce8"
            ]
        ]
    },
    {
        "id": "9cff4474.addf58",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/12/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 950,
        "wires": [
            [
                "467279f1.91cce8"
            ]
        ]
    },
    {
        "id": "467279f1.91cce8",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "links": [
            "9e968d97.df504"
        ],
        "x": 440,
        "y": 915,
        "wires": []
    },
    {
        "id": "2976dbe8.cd9f84",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Uffici 12",
        "info": "",
        "x": 160,
        "y": 915,
        "wires": []
    },
    {
        "id": "94ba6382.93583",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/14/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1065,
        "wires": [
            [
                "f9eafcc8.5e15e"
            ]
        ]
    },
    {
        "id": "97cd1db.7dfdee",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/14/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1100,
        "wires": [
            [
                "f9eafcc8.5e15e"
            ]
        ]
    },
    {
        "id": "f9eafcc8.5e15e",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "links": [
            "9e968d97.df504"
        ],
        "x": 440,
        "y": 1065,
        "wires": []
    },
    {
        "id": "f7152e0f.0fe1a",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "14",
        "info": "",
        "x": 165,
        "y": 1065,
        "wires": []
    },
    {
        "id": "ad8ef15e.be8d4",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/15/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1140,
        "wires": [
            [
                "8d723377.717f2"
            ]
        ]
    },
    {
        "id": "9b83a1a3.55e7c",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/15/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1175,
        "wires": [
            [
                "8d723377.717f2"
            ]
        ]
    },
    {
        "id": "8d723377.717f2",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "links": [
            "9e968d97.df504"
        ],
        "x": 440,
        "y": 1140,
        "wires": []
    },
    {
        "id": "990d3120.6043f",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "15",
        "info": "",
        "x": 165,
        "y": 1140,
        "wires": []
    },
    {
        "id": "d0afb268.73809",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/16/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1220,
        "wires": [
            [
                "80bb1f3c.9bb31"
            ]
        ]
    },
    {
        "id": "ce1a9527.5fcd68",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/16/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1255,
        "wires": [
            [
                "80bb1f3c.9bb31"
            ]
        ]
    },
    {
        "id": "80bb1f3c.9bb31",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "Sala 10",
        "links": [
            "9e968d97.df504"
        ],
        "x": 440,
        "y": 1220,
        "wires": []
    },
    {
        "id": "fe675761.8f8cb8",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Verde 16",
        "info": "",
        "x": 150,
        "y": 1220,
        "wires": []
    },
    {
        "id": "1cee977a.f202d9",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Sergio 17",
        "info": "",
        "x": 150,
        "y": 1300,
        "wires": []
    },
    {
        "id": "ba266ed9.01274",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/26/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1380,
        "wires": [
            [
                "e1cd2941.b90e08"
            ]
        ]
    },
    {
        "id": "fb260ab9.2c5588",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/26/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1415,
        "wires": [
            [
                "e1cd2941.b90e08"
            ]
        ]
    },
    {
        "id": "e1cd2941.b90e08",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "",
        "links": [
            "9e968d97.df504"
        ],
        "x": 445,
        "y": 1395,
        "wires": []
    },
    {
        "id": "563e769a.5471d8",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Sergio 1 26",
        "info": "",
        "x": 140,
        "y": 1380,
        "wires": []
    },
    {
        "id": "9db36c33.7239d",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "ON",
        "topic": "toa/lights/27/set_value",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1460,
        "wires": [
            [
                "da965d04.73313"
            ]
        ]
    },
    {
        "id": "c503fe90.882c5",
        "type": "inject",
        "z": "b9aee244.570dc",
        "name": "OFF",
        "topic": "toa/lights/27/set_value",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 305,
        "y": 1495,
        "wires": [
            [
                "da965d04.73313"
            ]
        ]
    },
    {
        "id": "da965d04.73313",
        "type": "link out",
        "z": "b9aee244.570dc",
        "name": "",
        "links": [
            "9e968d97.df504"
        ],
        "x": 445,
        "y": 1475,
        "wires": []
    },
    {
        "id": "7358632.391f29c",
        "type": "comment",
        "z": "b9aee244.570dc",
        "name": "Sergio 2 27",
        "info": "",
        "x": 140,
        "y": 1460,
        "wires": []
    }
]