nodered.json
[{"id":"338b4c93.f49ae4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"782761a5.e8727","type":"inject","z":"338b4c93.f49ae4","name":"On","topic":"","payload":"[255,1,1,13]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":322,"y":123,"wires":[["1aa18669.7708da"]]},{"id":"1aa18669.7708da","type":"serial out","z":"338b4c93.f49ae4","name":"RS485-SX","serial":"1104ab98.8e0804","x":592,"y":222,"wires":[]},{"id":"ca21d851.765908","type":"inject","z":"338b4c93.f49ae4","name":"Off","topic":"","payload":"[255,1,0,13]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":323,"y":167,"wires":[["1aa18669.7708da"]]},{"id":"8bd4f580.696698","type":"mqtt in","z":"338b4c93.f49ae4","name":"Relay 1","topic":"toa/light/+/setval","qos":"2","broker":"975d005e.f3b5b","x":141,"y":216,"wires":[["e537de19.e8d99"]]},{"id":"e49d116e.d19e4","type":"debug","z":"338b4c93.f49ae4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":596,"y":285,"wires":[]},{"id":"e537de19.e8d99","type":"function","z":"338b4c93.f49ae4","name":"Event to buffer","func":"state=msg.payload;\nif (state!=\"0\") state=\"1\";\ntopic=msg.topic\nid=parseInt(topic.split(\"/\")[2]);\nid++;\nmsg.payload=new Buffer([255,id,state,13]);\nreturn msg;","outputs":1,"noerr":0,"x":306,"y":216,"wires":[["e49d116e.d19e4","1aa18669.7708da"]]},{"id":"1104ab98.8e0804","type":"serial-port","z":"","serialport":"/dev/ttyUSB2","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"975d005e.f3b5b","type":"mqtt-broker","z":"","name":"toa","broker":"toa.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
